<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kooing.Interface.mysql.ad.TbAdvAdsenseMapper" >
  <resultMap id="BaseResultMap" type="com.kooing.model.mysql.ad.TbAdvAdsense" >
    <id column="adsense_id" property="adsenseId" jdbcType="INTEGER" />
    <result column="from_ad" property="fromAd" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="referer" property="referer" jdbcType="VARCHAR" />
    <result column="clicks" property="clicks" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    adsense_id, from_ad, uuid, app_id, referer, clicks, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_adv_adsense
    where adsense_id = #{adsenseId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_adv_adsense
    where adsense_id = #{adsenseId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kooing.model.mysql.ad.TbAdvAdsense" >
    insert into tb_adv_adsense (adsense_id, from_ad, uuid, 
      app_id, referer, clicks, 
      update_time)
    values (#{adsenseId,jdbcType=INTEGER}, #{fromAd,jdbcType=INTEGER}, #{uuid,jdbcType=CHAR}, 
      #{appId,jdbcType=INTEGER}, #{referer,jdbcType=VARCHAR}, #{clicks,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.model.mysql.ad.TbAdvAdsense" >
    insert into tb_adv_adsense
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="adsenseId != null" >
        adsense_id,
      </if>
      <if test="fromAd != null" >
        from_ad,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="referer != null" >
        referer,
      </if>
      <if test="clicks != null" >
        clicks,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="adsenseId != null" >
        #{adsenseId,jdbcType=INTEGER},
      </if>
      <if test="fromAd != null" >
        #{fromAd,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="referer != null" >
        #{referer,jdbcType=VARCHAR},
      </if>
      <if test="clicks != null" >
        #{clicks,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.model.mysql.ad.TbAdvAdsense" >
    update tb_adv_adsense
    <set >
      <if test="fromAd != null" >
        from_ad = #{fromAd,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="referer != null" >
        referer = #{referer,jdbcType=VARCHAR},
      </if>
      <if test="clicks != null" >
        clicks = #{clicks,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where adsense_id = #{adsenseId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.model.mysql.ad.TbAdvAdsense" >
    update tb_adv_adsense
    set from_ad = #{fromAd,jdbcType=INTEGER},
      uuid = #{uuid,jdbcType=CHAR},
      app_id = #{appId,jdbcType=INTEGER},
      referer = #{referer,jdbcType=VARCHAR},
      clicks = #{clicks,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where adsense_id = #{adsenseId,jdbcType=INTEGER}
  </update>
</mapper>