<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kooing.Interface.mysql.csm.TbCsmInformMapper" >
  <resultMap id="BaseResultMap" type="com.kooing.model.mysql.csm.TbCsmInform" >
    <id column="inform_id" property="informId" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="inform_member_id" property="informMemberId" jdbcType="INTEGER" />
    <result column="inform_member_name" property="informMemberName" jdbcType="CHAR" />
    <result column="inform_goods_id" property="informGoodsId" jdbcType="INTEGER" />
    <result column="inform_goods_name" property="informGoodsName" jdbcType="CHAR" />
    <result column="inform_subject_id" property="informSubjectId" jdbcType="INTEGER" />
    <result column="inform_subject_content" property="informSubjectContent" jdbcType="VARCHAR" />
    <result column="inform_content" property="informContent" jdbcType="VARCHAR" />
    <result column="inform_pic1" property="informPic1" jdbcType="VARCHAR" />
    <result column="inform_pic2" property="informPic2" jdbcType="VARCHAR" />
    <result column="inform_pic3" property="informPic3" jdbcType="VARCHAR" />
    <result column="inform_datetime" property="informDatetime" jdbcType="TIMESTAMP" />
    <result column="inform_store_id" property="informStoreId" jdbcType="INTEGER" />
    <result column="inform_state" property="informState" jdbcType="TINYINT" />
    <result column="inform_handle_type" property="informHandleType" jdbcType="TINYINT" />
    <result column="inform_handle_message" property="informHandleMessage" jdbcType="VARCHAR" />
    <result column="inform_handle_datetime" property="informHandleDatetime" jdbcType="TIMESTAMP" />
    <result column="inform_handle_member_id" property="informHandleMemberId" jdbcType="INTEGER" />
    <result column="inform_goods_image" property="informGoodsImage" jdbcType="VARCHAR" />
    <result column="inform_store_name" property="informStoreName" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    inform_id, uuid, app_id, inform_member_id, inform_member_name, inform_goods_id, inform_goods_name, 
    inform_subject_id, inform_subject_content, inform_content, inform_pic1, inform_pic2, 
    inform_pic3, inform_datetime, inform_store_id, inform_state, inform_handle_type, 
    inform_handle_message, inform_handle_datetime, inform_handle_member_id, inform_goods_image, 
    inform_store_name, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_csm_inform
    where inform_id = #{informId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_csm_inform
    where inform_id = #{informId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kooing.model.mysql.csm.TbCsmInform" >
    insert into tb_csm_inform (inform_id, uuid, app_id, 
      inform_member_id, inform_member_name, inform_goods_id, 
      inform_goods_name, inform_subject_id, inform_subject_content, 
      inform_content, inform_pic1, inform_pic2, 
      inform_pic3, inform_datetime, inform_store_id, 
      inform_state, inform_handle_type, inform_handle_message, 
      inform_handle_datetime, inform_handle_member_id, 
      inform_goods_image, inform_store_name, update_time
      )
    values (#{informId,jdbcType=INTEGER}, #{uuid,jdbcType=CHAR}, #{appId,jdbcType=INTEGER}, 
      #{informMemberId,jdbcType=INTEGER}, #{informMemberName,jdbcType=CHAR}, #{informGoodsId,jdbcType=INTEGER}, 
      #{informGoodsName,jdbcType=CHAR}, #{informSubjectId,jdbcType=INTEGER}, #{informSubjectContent,jdbcType=VARCHAR}, 
      #{informContent,jdbcType=VARCHAR}, #{informPic1,jdbcType=VARCHAR}, #{informPic2,jdbcType=VARCHAR}, 
      #{informPic3,jdbcType=VARCHAR}, #{informDatetime,jdbcType=TIMESTAMP}, #{informStoreId,jdbcType=INTEGER}, 
      #{informState,jdbcType=TINYINT}, #{informHandleType,jdbcType=TINYINT}, #{informHandleMessage,jdbcType=VARCHAR}, 
      #{informHandleDatetime,jdbcType=TIMESTAMP}, #{informHandleMemberId,jdbcType=INTEGER}, 
      #{informGoodsImage,jdbcType=VARCHAR}, #{informStoreName,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.model.mysql.csm.TbCsmInform" >
    insert into tb_csm_inform
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="informId != null" >
        inform_id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="informMemberId != null" >
        inform_member_id,
      </if>
      <if test="informMemberName != null" >
        inform_member_name,
      </if>
      <if test="informGoodsId != null" >
        inform_goods_id,
      </if>
      <if test="informGoodsName != null" >
        inform_goods_name,
      </if>
      <if test="informSubjectId != null" >
        inform_subject_id,
      </if>
      <if test="informSubjectContent != null" >
        inform_subject_content,
      </if>
      <if test="informContent != null" >
        inform_content,
      </if>
      <if test="informPic1 != null" >
        inform_pic1,
      </if>
      <if test="informPic2 != null" >
        inform_pic2,
      </if>
      <if test="informPic3 != null" >
        inform_pic3,
      </if>
      <if test="informDatetime != null" >
        inform_datetime,
      </if>
      <if test="informStoreId != null" >
        inform_store_id,
      </if>
      <if test="informState != null" >
        inform_state,
      </if>
      <if test="informHandleType != null" >
        inform_handle_type,
      </if>
      <if test="informHandleMessage != null" >
        inform_handle_message,
      </if>
      <if test="informHandleDatetime != null" >
        inform_handle_datetime,
      </if>
      <if test="informHandleMemberId != null" >
        inform_handle_member_id,
      </if>
      <if test="informGoodsImage != null" >
        inform_goods_image,
      </if>
      <if test="informStoreName != null" >
        inform_store_name,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="informId != null" >
        #{informId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="informMemberId != null" >
        #{informMemberId,jdbcType=INTEGER},
      </if>
      <if test="informMemberName != null" >
        #{informMemberName,jdbcType=CHAR},
      </if>
      <if test="informGoodsId != null" >
        #{informGoodsId,jdbcType=INTEGER},
      </if>
      <if test="informGoodsName != null" >
        #{informGoodsName,jdbcType=CHAR},
      </if>
      <if test="informSubjectId != null" >
        #{informSubjectId,jdbcType=INTEGER},
      </if>
      <if test="informSubjectContent != null" >
        #{informSubjectContent,jdbcType=VARCHAR},
      </if>
      <if test="informContent != null" >
        #{informContent,jdbcType=VARCHAR},
      </if>
      <if test="informPic1 != null" >
        #{informPic1,jdbcType=VARCHAR},
      </if>
      <if test="informPic2 != null" >
        #{informPic2,jdbcType=VARCHAR},
      </if>
      <if test="informPic3 != null" >
        #{informPic3,jdbcType=VARCHAR},
      </if>
      <if test="informDatetime != null" >
        #{informDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="informStoreId != null" >
        #{informStoreId,jdbcType=INTEGER},
      </if>
      <if test="informState != null" >
        #{informState,jdbcType=TINYINT},
      </if>
      <if test="informHandleType != null" >
        #{informHandleType,jdbcType=TINYINT},
      </if>
      <if test="informHandleMessage != null" >
        #{informHandleMessage,jdbcType=VARCHAR},
      </if>
      <if test="informHandleDatetime != null" >
        #{informHandleDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="informHandleMemberId != null" >
        #{informHandleMemberId,jdbcType=INTEGER},
      </if>
      <if test="informGoodsImage != null" >
        #{informGoodsImage,jdbcType=VARCHAR},
      </if>
      <if test="informStoreName != null" >
        #{informStoreName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.model.mysql.csm.TbCsmInform" >
    update tb_csm_inform
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="informMemberId != null" >
        inform_member_id = #{informMemberId,jdbcType=INTEGER},
      </if>
      <if test="informMemberName != null" >
        inform_member_name = #{informMemberName,jdbcType=CHAR},
      </if>
      <if test="informGoodsId != null" >
        inform_goods_id = #{informGoodsId,jdbcType=INTEGER},
      </if>
      <if test="informGoodsName != null" >
        inform_goods_name = #{informGoodsName,jdbcType=CHAR},
      </if>
      <if test="informSubjectId != null" >
        inform_subject_id = #{informSubjectId,jdbcType=INTEGER},
      </if>
      <if test="informSubjectContent != null" >
        inform_subject_content = #{informSubjectContent,jdbcType=VARCHAR},
      </if>
      <if test="informContent != null" >
        inform_content = #{informContent,jdbcType=VARCHAR},
      </if>
      <if test="informPic1 != null" >
        inform_pic1 = #{informPic1,jdbcType=VARCHAR},
      </if>
      <if test="informPic2 != null" >
        inform_pic2 = #{informPic2,jdbcType=VARCHAR},
      </if>
      <if test="informPic3 != null" >
        inform_pic3 = #{informPic3,jdbcType=VARCHAR},
      </if>
      <if test="informDatetime != null" >
        inform_datetime = #{informDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="informStoreId != null" >
        inform_store_id = #{informStoreId,jdbcType=INTEGER},
      </if>
      <if test="informState != null" >
        inform_state = #{informState,jdbcType=TINYINT},
      </if>
      <if test="informHandleType != null" >
        inform_handle_type = #{informHandleType,jdbcType=TINYINT},
      </if>
      <if test="informHandleMessage != null" >
        inform_handle_message = #{informHandleMessage,jdbcType=VARCHAR},
      </if>
      <if test="informHandleDatetime != null" >
        inform_handle_datetime = #{informHandleDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="informHandleMemberId != null" >
        inform_handle_member_id = #{informHandleMemberId,jdbcType=INTEGER},
      </if>
      <if test="informGoodsImage != null" >
        inform_goods_image = #{informGoodsImage,jdbcType=VARCHAR},
      </if>
      <if test="informStoreName != null" >
        inform_store_name = #{informStoreName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where inform_id = #{informId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.model.mysql.csm.TbCsmInform" >
    update tb_csm_inform
    set uuid = #{uuid,jdbcType=CHAR},
      app_id = #{appId,jdbcType=INTEGER},
      inform_member_id = #{informMemberId,jdbcType=INTEGER},
      inform_member_name = #{informMemberName,jdbcType=CHAR},
      inform_goods_id = #{informGoodsId,jdbcType=INTEGER},
      inform_goods_name = #{informGoodsName,jdbcType=CHAR},
      inform_subject_id = #{informSubjectId,jdbcType=INTEGER},
      inform_subject_content = #{informSubjectContent,jdbcType=VARCHAR},
      inform_content = #{informContent,jdbcType=VARCHAR},
      inform_pic1 = #{informPic1,jdbcType=VARCHAR},
      inform_pic2 = #{informPic2,jdbcType=VARCHAR},
      inform_pic3 = #{informPic3,jdbcType=VARCHAR},
      inform_datetime = #{informDatetime,jdbcType=TIMESTAMP},
      inform_store_id = #{informStoreId,jdbcType=INTEGER},
      inform_state = #{informState,jdbcType=TINYINT},
      inform_handle_type = #{informHandleType,jdbcType=TINYINT},
      inform_handle_message = #{informHandleMessage,jdbcType=VARCHAR},
      inform_handle_datetime = #{informHandleDatetime,jdbcType=TIMESTAMP},
      inform_handle_member_id = #{informHandleMemberId,jdbcType=INTEGER},
      inform_goods_image = #{informGoodsImage,jdbcType=VARCHAR},
      inform_store_name = #{informStoreName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where inform_id = #{informId,jdbcType=INTEGER}
  </update>
</mapper>