<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kooing.Interface.mysql.csm.TbCsmInformSubjectMapper" >
  <resultMap id="BaseResultMap" type="com.kooing.model.mysql.csm.TbCsmInformSubject" >
    <id column="inform_subject_id" property="informSubjectId" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="inform_subject_content" property="informSubjectContent" jdbcType="VARCHAR" />
    <result column="inform_subject_type_id" property="informSubjectTypeId" jdbcType="INTEGER" />
    <result column="inform_subject_type_name" property="informSubjectTypeName" jdbcType="CHAR" />
    <result column="inform_subject_state" property="informSubjectState" jdbcType="TINYINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    inform_subject_id, uuid, app_id, inform_subject_content, inform_subject_type_id, 
    inform_subject_type_name, inform_subject_state, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_csm_inform_subject
    where inform_subject_id = #{informSubjectId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_csm_inform_subject
    where inform_subject_id = #{informSubjectId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kooing.model.mysql.csm.TbCsmInformSubject" >
    insert into tb_csm_inform_subject (inform_subject_id, uuid, app_id, 
      inform_subject_content, inform_subject_type_id, 
      inform_subject_type_name, inform_subject_state, 
      update_time)
    values (#{informSubjectId,jdbcType=INTEGER}, #{uuid,jdbcType=CHAR}, #{appId,jdbcType=INTEGER}, 
      #{informSubjectContent,jdbcType=VARCHAR}, #{informSubjectTypeId,jdbcType=INTEGER}, 
      #{informSubjectTypeName,jdbcType=CHAR}, #{informSubjectState,jdbcType=TINYINT}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.model.mysql.csm.TbCsmInformSubject" >
    insert into tb_csm_inform_subject
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="informSubjectId != null" >
        inform_subject_id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="informSubjectContent != null" >
        inform_subject_content,
      </if>
      <if test="informSubjectTypeId != null" >
        inform_subject_type_id,
      </if>
      <if test="informSubjectTypeName != null" >
        inform_subject_type_name,
      </if>
      <if test="informSubjectState != null" >
        inform_subject_state,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="informSubjectId != null" >
        #{informSubjectId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="informSubjectContent != null" >
        #{informSubjectContent,jdbcType=VARCHAR},
      </if>
      <if test="informSubjectTypeId != null" >
        #{informSubjectTypeId,jdbcType=INTEGER},
      </if>
      <if test="informSubjectTypeName != null" >
        #{informSubjectTypeName,jdbcType=CHAR},
      </if>
      <if test="informSubjectState != null" >
        #{informSubjectState,jdbcType=TINYINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.model.mysql.csm.TbCsmInformSubject" >
    update tb_csm_inform_subject
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="informSubjectContent != null" >
        inform_subject_content = #{informSubjectContent,jdbcType=VARCHAR},
      </if>
      <if test="informSubjectTypeId != null" >
        inform_subject_type_id = #{informSubjectTypeId,jdbcType=INTEGER},
      </if>
      <if test="informSubjectTypeName != null" >
        inform_subject_type_name = #{informSubjectTypeName,jdbcType=CHAR},
      </if>
      <if test="informSubjectState != null" >
        inform_subject_state = #{informSubjectState,jdbcType=TINYINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where inform_subject_id = #{informSubjectId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.model.mysql.csm.TbCsmInformSubject" >
    update tb_csm_inform_subject
    set uuid = #{uuid,jdbcType=CHAR},
      app_id = #{appId,jdbcType=INTEGER},
      inform_subject_content = #{informSubjectContent,jdbcType=VARCHAR},
      inform_subject_type_id = #{informSubjectTypeId,jdbcType=INTEGER},
      inform_subject_type_name = #{informSubjectTypeName,jdbcType=CHAR},
      inform_subject_state = #{informSubjectState,jdbcType=TINYINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where inform_subject_id = #{informSubjectId,jdbcType=INTEGER}
  </update>
</mapper>