<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kooing.Interface.mysql.csm.TbCsmComplainMapper" >
  <resultMap id="BaseResultMap" type="com.kooing.model.mysql.csm.TbCsmComplain" >
    <id column="complain_id" property="complainId" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="order_goods_id" property="orderGoodsId" jdbcType="INTEGER" />
    <result column="accuser_id" property="accuserId" jdbcType="INTEGER" />
    <result column="accuser_name" property="accuserName" jdbcType="CHAR" />
    <result column="accused_id" property="accusedId" jdbcType="INTEGER" />
    <result column="accused_name" property="accusedName" jdbcType="CHAR" />
    <result column="complain_subject_content" property="complainSubjectContent" jdbcType="VARCHAR" />
    <result column="complain_subject_id" property="complainSubjectId" jdbcType="INTEGER" />
    <result column="complain_content" property="complainContent" jdbcType="VARCHAR" />
    <result column="complain_pic1" property="complainPic1" jdbcType="VARCHAR" />
    <result column="complain_pic2" property="complainPic2" jdbcType="VARCHAR" />
    <result column="complain_pic3" property="complainPic3" jdbcType="VARCHAR" />
    <result column="complain_datetime" property="complainDatetime" jdbcType="INTEGER" />
    <result column="complain_handle_datetime" property="complainHandleDatetime" jdbcType="TIMESTAMP" />
    <result column="complain_handle_member_id" property="complainHandleMemberId" jdbcType="INTEGER" />
    <result column="appeal_message" property="appealMessage" jdbcType="VARCHAR" />
    <result column="appeal_datetime" property="appealDatetime" jdbcType="INTEGER" />
    <result column="appeal_pic1" property="appealPic1" jdbcType="VARCHAR" />
    <result column="appeal_pic2" property="appealPic2" jdbcType="VARCHAR" />
    <result column="appeal_pic3" property="appealPic3" jdbcType="VARCHAR" />
    <result column="final_handle_message" property="finalHandleMessage" jdbcType="VARCHAR" />
    <result column="final_handle_datetime" property="finalHandleDatetime" jdbcType="TIMESTAMP" />
    <result column="final_handle_member_id" property="finalHandleMemberId" jdbcType="INTEGER" />
    <result column="complain_state" property="complainState" jdbcType="TINYINT" />
    <result column="complain_active" property="complainActive" jdbcType="TINYINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    complain_id, uuid, app_id, order_id, order_goods_id, accuser_id, accuser_name, accused_id, 
    accused_name, complain_subject_content, complain_subject_id, complain_content, complain_pic1, 
    complain_pic2, complain_pic3, complain_datetime, complain_handle_datetime, complain_handle_member_id, 
    appeal_message, appeal_datetime, appeal_pic1, appeal_pic2, appeal_pic3, final_handle_message, 
    final_handle_datetime, final_handle_member_id, complain_state, complain_active, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_csm_complain
    where complain_id = #{complainId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_csm_complain
    where complain_id = #{complainId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kooing.model.mysql.csm.TbCsmComplain" >
    insert into tb_csm_complain (complain_id, uuid, app_id, 
      order_id, order_goods_id, accuser_id, 
      accuser_name, accused_id, accused_name, 
      complain_subject_content, complain_subject_id, 
      complain_content, complain_pic1, complain_pic2, 
      complain_pic3, complain_datetime, complain_handle_datetime, 
      complain_handle_member_id, appeal_message, 
      appeal_datetime, appeal_pic1, appeal_pic2, 
      appeal_pic3, final_handle_message, final_handle_datetime, 
      final_handle_member_id, complain_state, complain_active, 
      update_time)
    values (#{complainId,jdbcType=INTEGER}, #{uuid,jdbcType=CHAR}, #{appId,jdbcType=INTEGER}, 
      #{orderId,jdbcType=INTEGER}, #{orderGoodsId,jdbcType=INTEGER}, #{accuserId,jdbcType=INTEGER}, 
      #{accuserName,jdbcType=CHAR}, #{accusedId,jdbcType=INTEGER}, #{accusedName,jdbcType=CHAR}, 
      #{complainSubjectContent,jdbcType=VARCHAR}, #{complainSubjectId,jdbcType=INTEGER}, 
      #{complainContent,jdbcType=VARCHAR}, #{complainPic1,jdbcType=VARCHAR}, #{complainPic2,jdbcType=VARCHAR}, 
      #{complainPic3,jdbcType=VARCHAR}, #{complainDatetime,jdbcType=INTEGER}, #{complainHandleDatetime,jdbcType=TIMESTAMP}, 
      #{complainHandleMemberId,jdbcType=INTEGER}, #{appealMessage,jdbcType=VARCHAR}, 
      #{appealDatetime,jdbcType=INTEGER}, #{appealPic1,jdbcType=VARCHAR}, #{appealPic2,jdbcType=VARCHAR}, 
      #{appealPic3,jdbcType=VARCHAR}, #{finalHandleMessage,jdbcType=VARCHAR}, #{finalHandleDatetime,jdbcType=TIMESTAMP}, 
      #{finalHandleMemberId,jdbcType=INTEGER}, #{complainState,jdbcType=TINYINT}, #{complainActive,jdbcType=TINYINT}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.model.mysql.csm.TbCsmComplain" >
    insert into tb_csm_complain
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="complainId != null" >
        complain_id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="orderGoodsId != null" >
        order_goods_id,
      </if>
      <if test="accuserId != null" >
        accuser_id,
      </if>
      <if test="accuserName != null" >
        accuser_name,
      </if>
      <if test="accusedId != null" >
        accused_id,
      </if>
      <if test="accusedName != null" >
        accused_name,
      </if>
      <if test="complainSubjectContent != null" >
        complain_subject_content,
      </if>
      <if test="complainSubjectId != null" >
        complain_subject_id,
      </if>
      <if test="complainContent != null" >
        complain_content,
      </if>
      <if test="complainPic1 != null" >
        complain_pic1,
      </if>
      <if test="complainPic2 != null" >
        complain_pic2,
      </if>
      <if test="complainPic3 != null" >
        complain_pic3,
      </if>
      <if test="complainDatetime != null" >
        complain_datetime,
      </if>
      <if test="complainHandleDatetime != null" >
        complain_handle_datetime,
      </if>
      <if test="complainHandleMemberId != null" >
        complain_handle_member_id,
      </if>
      <if test="appealMessage != null" >
        appeal_message,
      </if>
      <if test="appealDatetime != null" >
        appeal_datetime,
      </if>
      <if test="appealPic1 != null" >
        appeal_pic1,
      </if>
      <if test="appealPic2 != null" >
        appeal_pic2,
      </if>
      <if test="appealPic3 != null" >
        appeal_pic3,
      </if>
      <if test="finalHandleMessage != null" >
        final_handle_message,
      </if>
      <if test="finalHandleDatetime != null" >
        final_handle_datetime,
      </if>
      <if test="finalHandleMemberId != null" >
        final_handle_member_id,
      </if>
      <if test="complainState != null" >
        complain_state,
      </if>
      <if test="complainActive != null" >
        complain_active,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="complainId != null" >
        #{complainId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderGoodsId != null" >
        #{orderGoodsId,jdbcType=INTEGER},
      </if>
      <if test="accuserId != null" >
        #{accuserId,jdbcType=INTEGER},
      </if>
      <if test="accuserName != null" >
        #{accuserName,jdbcType=CHAR},
      </if>
      <if test="accusedId != null" >
        #{accusedId,jdbcType=INTEGER},
      </if>
      <if test="accusedName != null" >
        #{accusedName,jdbcType=CHAR},
      </if>
      <if test="complainSubjectContent != null" >
        #{complainSubjectContent,jdbcType=VARCHAR},
      </if>
      <if test="complainSubjectId != null" >
        #{complainSubjectId,jdbcType=INTEGER},
      </if>
      <if test="complainContent != null" >
        #{complainContent,jdbcType=VARCHAR},
      </if>
      <if test="complainPic1 != null" >
        #{complainPic1,jdbcType=VARCHAR},
      </if>
      <if test="complainPic2 != null" >
        #{complainPic2,jdbcType=VARCHAR},
      </if>
      <if test="complainPic3 != null" >
        #{complainPic3,jdbcType=VARCHAR},
      </if>
      <if test="complainDatetime != null" >
        #{complainDatetime,jdbcType=INTEGER},
      </if>
      <if test="complainHandleDatetime != null" >
        #{complainHandleDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="complainHandleMemberId != null" >
        #{complainHandleMemberId,jdbcType=INTEGER},
      </if>
      <if test="appealMessage != null" >
        #{appealMessage,jdbcType=VARCHAR},
      </if>
      <if test="appealDatetime != null" >
        #{appealDatetime,jdbcType=INTEGER},
      </if>
      <if test="appealPic1 != null" >
        #{appealPic1,jdbcType=VARCHAR},
      </if>
      <if test="appealPic2 != null" >
        #{appealPic2,jdbcType=VARCHAR},
      </if>
      <if test="appealPic3 != null" >
        #{appealPic3,jdbcType=VARCHAR},
      </if>
      <if test="finalHandleMessage != null" >
        #{finalHandleMessage,jdbcType=VARCHAR},
      </if>
      <if test="finalHandleDatetime != null" >
        #{finalHandleDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="finalHandleMemberId != null" >
        #{finalHandleMemberId,jdbcType=INTEGER},
      </if>
      <if test="complainState != null" >
        #{complainState,jdbcType=TINYINT},
      </if>
      <if test="complainActive != null" >
        #{complainActive,jdbcType=TINYINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.model.mysql.csm.TbCsmComplain" >
    update tb_csm_complain
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderGoodsId != null" >
        order_goods_id = #{orderGoodsId,jdbcType=INTEGER},
      </if>
      <if test="accuserId != null" >
        accuser_id = #{accuserId,jdbcType=INTEGER},
      </if>
      <if test="accuserName != null" >
        accuser_name = #{accuserName,jdbcType=CHAR},
      </if>
      <if test="accusedId != null" >
        accused_id = #{accusedId,jdbcType=INTEGER},
      </if>
      <if test="accusedName != null" >
        accused_name = #{accusedName,jdbcType=CHAR},
      </if>
      <if test="complainSubjectContent != null" >
        complain_subject_content = #{complainSubjectContent,jdbcType=VARCHAR},
      </if>
      <if test="complainSubjectId != null" >
        complain_subject_id = #{complainSubjectId,jdbcType=INTEGER},
      </if>
      <if test="complainContent != null" >
        complain_content = #{complainContent,jdbcType=VARCHAR},
      </if>
      <if test="complainPic1 != null" >
        complain_pic1 = #{complainPic1,jdbcType=VARCHAR},
      </if>
      <if test="complainPic2 != null" >
        complain_pic2 = #{complainPic2,jdbcType=VARCHAR},
      </if>
      <if test="complainPic3 != null" >
        complain_pic3 = #{complainPic3,jdbcType=VARCHAR},
      </if>
      <if test="complainDatetime != null" >
        complain_datetime = #{complainDatetime,jdbcType=INTEGER},
      </if>
      <if test="complainHandleDatetime != null" >
        complain_handle_datetime = #{complainHandleDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="complainHandleMemberId != null" >
        complain_handle_member_id = #{complainHandleMemberId,jdbcType=INTEGER},
      </if>
      <if test="appealMessage != null" >
        appeal_message = #{appealMessage,jdbcType=VARCHAR},
      </if>
      <if test="appealDatetime != null" >
        appeal_datetime = #{appealDatetime,jdbcType=INTEGER},
      </if>
      <if test="appealPic1 != null" >
        appeal_pic1 = #{appealPic1,jdbcType=VARCHAR},
      </if>
      <if test="appealPic2 != null" >
        appeal_pic2 = #{appealPic2,jdbcType=VARCHAR},
      </if>
      <if test="appealPic3 != null" >
        appeal_pic3 = #{appealPic3,jdbcType=VARCHAR},
      </if>
      <if test="finalHandleMessage != null" >
        final_handle_message = #{finalHandleMessage,jdbcType=VARCHAR},
      </if>
      <if test="finalHandleDatetime != null" >
        final_handle_datetime = #{finalHandleDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="finalHandleMemberId != null" >
        final_handle_member_id = #{finalHandleMemberId,jdbcType=INTEGER},
      </if>
      <if test="complainState != null" >
        complain_state = #{complainState,jdbcType=TINYINT},
      </if>
      <if test="complainActive != null" >
        complain_active = #{complainActive,jdbcType=TINYINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where complain_id = #{complainId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.model.mysql.csm.TbCsmComplain" >
    update tb_csm_complain
    set uuid = #{uuid,jdbcType=CHAR},
      app_id = #{appId,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=INTEGER},
      order_goods_id = #{orderGoodsId,jdbcType=INTEGER},
      accuser_id = #{accuserId,jdbcType=INTEGER},
      accuser_name = #{accuserName,jdbcType=CHAR},
      accused_id = #{accusedId,jdbcType=INTEGER},
      accused_name = #{accusedName,jdbcType=CHAR},
      complain_subject_content = #{complainSubjectContent,jdbcType=VARCHAR},
      complain_subject_id = #{complainSubjectId,jdbcType=INTEGER},
      complain_content = #{complainContent,jdbcType=VARCHAR},
      complain_pic1 = #{complainPic1,jdbcType=VARCHAR},
      complain_pic2 = #{complainPic2,jdbcType=VARCHAR},
      complain_pic3 = #{complainPic3,jdbcType=VARCHAR},
      complain_datetime = #{complainDatetime,jdbcType=INTEGER},
      complain_handle_datetime = #{complainHandleDatetime,jdbcType=TIMESTAMP},
      complain_handle_member_id = #{complainHandleMemberId,jdbcType=INTEGER},
      appeal_message = #{appealMessage,jdbcType=VARCHAR},
      appeal_datetime = #{appealDatetime,jdbcType=INTEGER},
      appeal_pic1 = #{appealPic1,jdbcType=VARCHAR},
      appeal_pic2 = #{appealPic2,jdbcType=VARCHAR},
      appeal_pic3 = #{appealPic3,jdbcType=VARCHAR},
      final_handle_message = #{finalHandleMessage,jdbcType=VARCHAR},
      final_handle_datetime = #{finalHandleDatetime,jdbcType=TIMESTAMP},
      final_handle_member_id = #{finalHandleMemberId,jdbcType=INTEGER},
      complain_state = #{complainState,jdbcType=TINYINT},
      complain_active = #{complainActive,jdbcType=TINYINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where complain_id = #{complainId,jdbcType=INTEGER}
  </update>
</mapper>