<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kooing.Interface.mysql.csm.TbCsmConsultMapper" >
  <resultMap id="BaseResultMap" type="com.kooing.model.mysql.csm.TbCsmConsult" >
    <id column="consult_id" property="consultId" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="goods_name" property="goodsName" jdbcType="CHAR" />
    <result column="member_id" property="memberId" jdbcType="INTEGER" />
    <result column="member_name" property="memberName" jdbcType="CHAR" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="store_name" property="storeName" jdbcType="CHAR" />
    <result column="ct_id" property="ctId" jdbcType="INTEGER" />
    <result column="consult_content" property="consultContent" jdbcType="VARCHAR" />
    <result column="consult_addtime" property="consultAddtime" jdbcType="TIMESTAMP" />
    <result column="consult_reply" property="consultReply" jdbcType="VARCHAR" />
    <result column="consult_reply_time" property="consultReplyTime" jdbcType="TIMESTAMP" />
    <result column="isanonymous" property="isanonymous" jdbcType="BIT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    consult_id, uuid, app_id, goods_id, goods_name, member_id, member_name, store_id, 
    store_name, ct_id, consult_content, consult_addtime, consult_reply, consult_reply_time, 
    isanonymous, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_csm_consult
    where consult_id = #{consultId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_csm_consult
    where consult_id = #{consultId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kooing.model.mysql.csm.TbCsmConsult" >
    insert into tb_csm_consult (consult_id, uuid, app_id, 
      goods_id, goods_name, member_id, 
      member_name, store_id, store_name, 
      ct_id, consult_content, consult_addtime, 
      consult_reply, consult_reply_time, isanonymous, 
      update_time)
    values (#{consultId,jdbcType=INTEGER}, #{uuid,jdbcType=CHAR}, #{appId,jdbcType=INTEGER}, 
      #{goodsId,jdbcType=INTEGER}, #{goodsName,jdbcType=CHAR}, #{memberId,jdbcType=INTEGER}, 
      #{memberName,jdbcType=CHAR}, #{storeId,jdbcType=INTEGER}, #{storeName,jdbcType=CHAR}, 
      #{ctId,jdbcType=INTEGER}, #{consultContent,jdbcType=VARCHAR}, #{consultAddtime,jdbcType=TIMESTAMP}, 
      #{consultReply,jdbcType=VARCHAR}, #{consultReplyTime,jdbcType=TIMESTAMP}, #{isanonymous,jdbcType=BIT}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.model.mysql.csm.TbCsmConsult" >
    insert into tb_csm_consult
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="consultId != null" >
        consult_id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="memberName != null" >
        member_name,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="storeName != null" >
        store_name,
      </if>
      <if test="ctId != null" >
        ct_id,
      </if>
      <if test="consultContent != null" >
        consult_content,
      </if>
      <if test="consultAddtime != null" >
        consult_addtime,
      </if>
      <if test="consultReply != null" >
        consult_reply,
      </if>
      <if test="consultReplyTime != null" >
        consult_reply_time,
      </if>
      <if test="isanonymous != null" >
        isanonymous,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="consultId != null" >
        #{consultId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=CHAR},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="memberName != null" >
        #{memberName,jdbcType=CHAR},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="storeName != null" >
        #{storeName,jdbcType=CHAR},
      </if>
      <if test="ctId != null" >
        #{ctId,jdbcType=INTEGER},
      </if>
      <if test="consultContent != null" >
        #{consultContent,jdbcType=VARCHAR},
      </if>
      <if test="consultAddtime != null" >
        #{consultAddtime,jdbcType=TIMESTAMP},
      </if>
      <if test="consultReply != null" >
        #{consultReply,jdbcType=VARCHAR},
      </if>
      <if test="consultReplyTime != null" >
        #{consultReplyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isanonymous != null" >
        #{isanonymous,jdbcType=BIT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.model.mysql.csm.TbCsmConsult" >
    update tb_csm_consult
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=CHAR},
      </if>
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="memberName != null" >
        member_name = #{memberName,jdbcType=CHAR},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="storeName != null" >
        store_name = #{storeName,jdbcType=CHAR},
      </if>
      <if test="ctId != null" >
        ct_id = #{ctId,jdbcType=INTEGER},
      </if>
      <if test="consultContent != null" >
        consult_content = #{consultContent,jdbcType=VARCHAR},
      </if>
      <if test="consultAddtime != null" >
        consult_addtime = #{consultAddtime,jdbcType=TIMESTAMP},
      </if>
      <if test="consultReply != null" >
        consult_reply = #{consultReply,jdbcType=VARCHAR},
      </if>
      <if test="consultReplyTime != null" >
        consult_reply_time = #{consultReplyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isanonymous != null" >
        isanonymous = #{isanonymous,jdbcType=BIT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where consult_id = #{consultId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.model.mysql.csm.TbCsmConsult" >
    update tb_csm_consult
    set uuid = #{uuid,jdbcType=CHAR},
      app_id = #{appId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER},
      goods_name = #{goodsName,jdbcType=CHAR},
      member_id = #{memberId,jdbcType=INTEGER},
      member_name = #{memberName,jdbcType=CHAR},
      store_id = #{storeId,jdbcType=INTEGER},
      store_name = #{storeName,jdbcType=CHAR},
      ct_id = #{ctId,jdbcType=INTEGER},
      consult_content = #{consultContent,jdbcType=VARCHAR},
      consult_addtime = #{consultAddtime,jdbcType=TIMESTAMP},
      consult_reply = #{consultReply,jdbcType=VARCHAR},
      consult_reply_time = #{consultReplyTime,jdbcType=TIMESTAMP},
      isanonymous = #{isanonymous,jdbcType=BIT},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where consult_id = #{consultId,jdbcType=INTEGER}
  </update>
</mapper>