<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kooing.Interface.mysql.csm.TbCsmConsultTypeMapper" >
  <resultMap id="BaseResultMap" type="com.kooing.model.mysql.csm.TbCsmConsultType" >
    <id column="ct_id" property="ctId" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="ct_name" property="ctName" jdbcType="CHAR" />
    <result column="ct_sort" property="ctSort" jdbcType="TINYINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.kooing.model.mysql.csm.TbCsmConsultType" extends="BaseResultMap" >
    <result column="ct_introduce" property="ctIntroduce" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ct_id, uuid, app_id, ct_name, ct_sort, update_time
  </sql>
  <sql id="Blob_Column_List" >
    ct_introduce
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_csm_consult_type
    where ct_id = #{ctId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_csm_consult_type
    where ct_id = #{ctId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kooing.model.mysql.csm.TbCsmConsultType" >
    insert into tb_csm_consult_type (ct_id, uuid, app_id, 
      ct_name, ct_sort, update_time, 
      ct_introduce)
    values (#{ctId,jdbcType=INTEGER}, #{uuid,jdbcType=CHAR}, #{appId,jdbcType=INTEGER}, 
      #{ctName,jdbcType=CHAR}, #{ctSort,jdbcType=TINYINT}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{ctIntroduce,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.model.mysql.csm.TbCsmConsultType" >
    insert into tb_csm_consult_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ctId != null" >
        ct_id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="ctName != null" >
        ct_name,
      </if>
      <if test="ctSort != null" >
        ct_sort,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="ctIntroduce != null" >
        ct_introduce,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ctId != null" >
        #{ctId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="ctName != null" >
        #{ctName,jdbcType=CHAR},
      </if>
      <if test="ctSort != null" >
        #{ctSort,jdbcType=TINYINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ctIntroduce != null" >
        #{ctIntroduce,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.model.mysql.csm.TbCsmConsultType" >
    update tb_csm_consult_type
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="ctName != null" >
        ct_name = #{ctName,jdbcType=CHAR},
      </if>
      <if test="ctSort != null" >
        ct_sort = #{ctSort,jdbcType=TINYINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ctIntroduce != null" >
        ct_introduce = #{ctIntroduce,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ct_id = #{ctId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.kooing.model.mysql.csm.TbCsmConsultType" >
    update tb_csm_consult_type
    set uuid = #{uuid,jdbcType=CHAR},
      app_id = #{appId,jdbcType=INTEGER},
      ct_name = #{ctName,jdbcType=CHAR},
      ct_sort = #{ctSort,jdbcType=TINYINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      ct_introduce = #{ctIntroduce,jdbcType=LONGVARCHAR}
    where ct_id = #{ctId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.model.mysql.csm.TbCsmConsultType" >
    update tb_csm_consult_type
    set uuid = #{uuid,jdbcType=CHAR},
      app_id = #{appId,jdbcType=INTEGER},
      ct_name = #{ctName,jdbcType=CHAR},
      ct_sort = #{ctSort,jdbcType=TINYINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where ct_id = #{ctId,jdbcType=INTEGER}
  </update>
</mapper>