<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kooing.Interface.mysql.csm.TbCsmComplainTalkMapper" >
  <resultMap id="BaseResultMap" type="com.kooing.model.mysql.csm.TbCsmComplainTalk" >
    <id column="talk_id" property="talkId" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="complain_id" property="complainId" jdbcType="INTEGER" />
    <result column="talk_member_id" property="talkMemberId" jdbcType="INTEGER" />
    <result column="talk_member_name" property="talkMemberName" jdbcType="CHAR" />
    <result column="talk_member_type" property="talkMemberType" jdbcType="CHAR" />
    <result column="talk_content" property="talkContent" jdbcType="VARCHAR" />
    <result column="talk_state" property="talkState" jdbcType="TINYINT" />
    <result column="talk_admin" property="talkAdmin" jdbcType="INTEGER" />
    <result column="talk_datetime" property="talkDatetime" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    talk_id, uuid, app_id, complain_id, talk_member_id, talk_member_name, talk_member_type, 
    talk_content, talk_state, talk_admin, talk_datetime, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_csm_complain_talk
    where talk_id = #{talkId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_csm_complain_talk
    where talk_id = #{talkId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kooing.model.mysql.csm.TbCsmComplainTalk" >
    insert into tb_csm_complain_talk (talk_id, uuid, app_id, 
      complain_id, talk_member_id, talk_member_name, 
      talk_member_type, talk_content, talk_state, 
      talk_admin, talk_datetime, update_time
      )
    values (#{talkId,jdbcType=INTEGER}, #{uuid,jdbcType=CHAR}, #{appId,jdbcType=INTEGER}, 
      #{complainId,jdbcType=INTEGER}, #{talkMemberId,jdbcType=INTEGER}, #{talkMemberName,jdbcType=CHAR}, 
      #{talkMemberType,jdbcType=CHAR}, #{talkContent,jdbcType=VARCHAR}, #{talkState,jdbcType=TINYINT}, 
      #{talkAdmin,jdbcType=INTEGER}, #{talkDatetime,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.model.mysql.csm.TbCsmComplainTalk" >
    insert into tb_csm_complain_talk
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="talkId != null" >
        talk_id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="complainId != null" >
        complain_id,
      </if>
      <if test="talkMemberId != null" >
        talk_member_id,
      </if>
      <if test="talkMemberName != null" >
        talk_member_name,
      </if>
      <if test="talkMemberType != null" >
        talk_member_type,
      </if>
      <if test="talkContent != null" >
        talk_content,
      </if>
      <if test="talkState != null" >
        talk_state,
      </if>
      <if test="talkAdmin != null" >
        talk_admin,
      </if>
      <if test="talkDatetime != null" >
        talk_datetime,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="talkId != null" >
        #{talkId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="complainId != null" >
        #{complainId,jdbcType=INTEGER},
      </if>
      <if test="talkMemberId != null" >
        #{talkMemberId,jdbcType=INTEGER},
      </if>
      <if test="talkMemberName != null" >
        #{talkMemberName,jdbcType=CHAR},
      </if>
      <if test="talkMemberType != null" >
        #{talkMemberType,jdbcType=CHAR},
      </if>
      <if test="talkContent != null" >
        #{talkContent,jdbcType=VARCHAR},
      </if>
      <if test="talkState != null" >
        #{talkState,jdbcType=TINYINT},
      </if>
      <if test="talkAdmin != null" >
        #{talkAdmin,jdbcType=INTEGER},
      </if>
      <if test="talkDatetime != null" >
        #{talkDatetime,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.model.mysql.csm.TbCsmComplainTalk" >
    update tb_csm_complain_talk
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="complainId != null" >
        complain_id = #{complainId,jdbcType=INTEGER},
      </if>
      <if test="talkMemberId != null" >
        talk_member_id = #{talkMemberId,jdbcType=INTEGER},
      </if>
      <if test="talkMemberName != null" >
        talk_member_name = #{talkMemberName,jdbcType=CHAR},
      </if>
      <if test="talkMemberType != null" >
        talk_member_type = #{talkMemberType,jdbcType=CHAR},
      </if>
      <if test="talkContent != null" >
        talk_content = #{talkContent,jdbcType=VARCHAR},
      </if>
      <if test="talkState != null" >
        talk_state = #{talkState,jdbcType=TINYINT},
      </if>
      <if test="talkAdmin != null" >
        talk_admin = #{talkAdmin,jdbcType=INTEGER},
      </if>
      <if test="talkDatetime != null" >
        talk_datetime = #{talkDatetime,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where talk_id = #{talkId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.model.mysql.csm.TbCsmComplainTalk" >
    update tb_csm_complain_talk
    set uuid = #{uuid,jdbcType=CHAR},
      app_id = #{appId,jdbcType=INTEGER},
      complain_id = #{complainId,jdbcType=INTEGER},
      talk_member_id = #{talkMemberId,jdbcType=INTEGER},
      talk_member_name = #{talkMemberName,jdbcType=CHAR},
      talk_member_type = #{talkMemberType,jdbcType=CHAR},
      talk_content = #{talkContent,jdbcType=VARCHAR},
      talk_state = #{talkState,jdbcType=TINYINT},
      talk_admin = #{talkAdmin,jdbcType=INTEGER},
      talk_datetime = #{talkDatetime,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where talk_id = #{talkId,jdbcType=INTEGER}
  </update>
</mapper>