<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kooing.Interface.mysql.csm.TbCsmComplainSubjectMapper" >
  <resultMap id="BaseResultMap" type="com.kooing.model.mysql.csm.TbCsmComplainSubject" >
    <id column="complain_subject_id" property="complainSubjectId" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="complain_subject_content" property="complainSubjectContent" jdbcType="VARCHAR" />
    <result column="complain_subject_desc" property="complainSubjectDesc" jdbcType="VARCHAR" />
    <result column="complain_subject_state" property="complainSubjectState" jdbcType="TINYINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    complain_subject_id, uuid, app_id, complain_subject_content, complain_subject_desc, 
    complain_subject_state, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_csm_complain_subject
    where complain_subject_id = #{complainSubjectId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_csm_complain_subject
    where complain_subject_id = #{complainSubjectId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kooing.model.mysql.csm.TbCsmComplainSubject" >
    insert into tb_csm_complain_subject (complain_subject_id, uuid, app_id, 
      complain_subject_content, complain_subject_desc, 
      complain_subject_state, update_time)
    values (#{complainSubjectId,jdbcType=INTEGER}, #{uuid,jdbcType=CHAR}, #{appId,jdbcType=INTEGER}, 
      #{complainSubjectContent,jdbcType=VARCHAR}, #{complainSubjectDesc,jdbcType=VARCHAR}, 
      #{complainSubjectState,jdbcType=TINYINT}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.model.mysql.csm.TbCsmComplainSubject" >
    insert into tb_csm_complain_subject
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="complainSubjectId != null" >
        complain_subject_id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="complainSubjectContent != null" >
        complain_subject_content,
      </if>
      <if test="complainSubjectDesc != null" >
        complain_subject_desc,
      </if>
      <if test="complainSubjectState != null" >
        complain_subject_state,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="complainSubjectId != null" >
        #{complainSubjectId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="complainSubjectContent != null" >
        #{complainSubjectContent,jdbcType=VARCHAR},
      </if>
      <if test="complainSubjectDesc != null" >
        #{complainSubjectDesc,jdbcType=VARCHAR},
      </if>
      <if test="complainSubjectState != null" >
        #{complainSubjectState,jdbcType=TINYINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.model.mysql.csm.TbCsmComplainSubject" >
    update tb_csm_complain_subject
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="complainSubjectContent != null" >
        complain_subject_content = #{complainSubjectContent,jdbcType=VARCHAR},
      </if>
      <if test="complainSubjectDesc != null" >
        complain_subject_desc = #{complainSubjectDesc,jdbcType=VARCHAR},
      </if>
      <if test="complainSubjectState != null" >
        complain_subject_state = #{complainSubjectState,jdbcType=TINYINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where complain_subject_id = #{complainSubjectId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.model.mysql.csm.TbCsmComplainSubject" >
    update tb_csm_complain_subject
    set uuid = #{uuid,jdbcType=CHAR},
      app_id = #{appId,jdbcType=INTEGER},
      complain_subject_content = #{complainSubjectContent,jdbcType=VARCHAR},
      complain_subject_desc = #{complainSubjectDesc,jdbcType=VARCHAR},
      complain_subject_state = #{complainSubjectState,jdbcType=TINYINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where complain_subject_id = #{complainSubjectId,jdbcType=INTEGER}
  </update>
</mapper>