<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kooing.Interface.mysql.csm.TbCsmInformSubjectTypeMapper" >
  <resultMap id="BaseResultMap" type="com.kooing.model.mysql.csm.TbCsmInformSubjectType" >
    <id column="inform_type_id" property="informTypeId" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="inform_type_name" property="informTypeName" jdbcType="VARCHAR" />
    <result column="inform_type_desc" property="informTypeDesc" jdbcType="VARCHAR" />
    <result column="inform_type_state" property="informTypeState" jdbcType="TINYINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    inform_type_id, uuid, app_id, inform_type_name, inform_type_desc, inform_type_state, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_csm_inform_subject_type
    where inform_type_id = #{informTypeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_csm_inform_subject_type
    where inform_type_id = #{informTypeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kooing.model.mysql.csm.TbCsmInformSubjectType" >
    insert into tb_csm_inform_subject_type (inform_type_id, uuid, app_id, 
      inform_type_name, inform_type_desc, inform_type_state, 
      update_time)
    values (#{informTypeId,jdbcType=INTEGER}, #{uuid,jdbcType=CHAR}, #{appId,jdbcType=INTEGER}, 
      #{informTypeName,jdbcType=VARCHAR}, #{informTypeDesc,jdbcType=VARCHAR}, #{informTypeState,jdbcType=TINYINT}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.model.mysql.csm.TbCsmInformSubjectType" >
    insert into tb_csm_inform_subject_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="informTypeId != null" >
        inform_type_id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="informTypeName != null" >
        inform_type_name,
      </if>
      <if test="informTypeDesc != null" >
        inform_type_desc,
      </if>
      <if test="informTypeState != null" >
        inform_type_state,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="informTypeId != null" >
        #{informTypeId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="informTypeName != null" >
        #{informTypeName,jdbcType=VARCHAR},
      </if>
      <if test="informTypeDesc != null" >
        #{informTypeDesc,jdbcType=VARCHAR},
      </if>
      <if test="informTypeState != null" >
        #{informTypeState,jdbcType=TINYINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.model.mysql.csm.TbCsmInformSubjectType" >
    update tb_csm_inform_subject_type
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="informTypeName != null" >
        inform_type_name = #{informTypeName,jdbcType=VARCHAR},
      </if>
      <if test="informTypeDesc != null" >
        inform_type_desc = #{informTypeDesc,jdbcType=VARCHAR},
      </if>
      <if test="informTypeState != null" >
        inform_type_state = #{informTypeState,jdbcType=TINYINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where inform_type_id = #{informTypeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.model.mysql.csm.TbCsmInformSubjectType" >
    update tb_csm_inform_subject_type
    set uuid = #{uuid,jdbcType=CHAR},
      app_id = #{appId,jdbcType=INTEGER},
      inform_type_name = #{informTypeName,jdbcType=VARCHAR},
      inform_type_desc = #{informTypeDesc,jdbcType=VARCHAR},
      inform_type_state = #{informTypeState,jdbcType=TINYINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where inform_type_id = #{informTypeId,jdbcType=INTEGER}
  </update>
</mapper>