<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kooing.Interface.mysql.csm.TbCsmMallConsultMapper" >
  <resultMap id="BaseResultMap" type="com.kooing.model.mysql.csm.TbCsmMallConsult" >
    <id column="mc_id" property="mcId" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="mct_id" property="mctId" jdbcType="INTEGER" />
    <result column="member_id" property="memberId" jdbcType="INTEGER" />
    <result column="member_name" property="memberName" jdbcType="CHAR" />
    <result column="mc_content" property="mcContent" jdbcType="VARCHAR" />
    <result column="mc_addtime" property="mcAddtime" jdbcType="TIMESTAMP" />
    <result column="is_reply" property="isReply" jdbcType="TINYINT" />
    <result column="mc_reply" property="mcReply" jdbcType="VARCHAR" />
    <result column="mc_reply_time" property="mcReplyTime" jdbcType="TIMESTAMP" />
    <result column="admin_id" property="adminId" jdbcType="INTEGER" />
    <result column="admin_name" property="adminName" jdbcType="CHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    mc_id, uuid, app_id, mct_id, member_id, member_name, mc_content, mc_addtime, is_reply, 
    mc_reply, mc_reply_time, admin_id, admin_name, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_csm_mall_consult
    where mc_id = #{mcId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_csm_mall_consult
    where mc_id = #{mcId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kooing.model.mysql.csm.TbCsmMallConsult" >
    insert into tb_csm_mall_consult (mc_id, uuid, app_id, 
      mct_id, member_id, member_name, 
      mc_content, mc_addtime, is_reply, 
      mc_reply, mc_reply_time, admin_id, 
      admin_name, update_time)
    values (#{mcId,jdbcType=INTEGER}, #{uuid,jdbcType=CHAR}, #{appId,jdbcType=INTEGER}, 
      #{mctId,jdbcType=INTEGER}, #{memberId,jdbcType=INTEGER}, #{memberName,jdbcType=CHAR}, 
      #{mcContent,jdbcType=VARCHAR}, #{mcAddtime,jdbcType=TIMESTAMP}, #{isReply,jdbcType=TINYINT}, 
      #{mcReply,jdbcType=VARCHAR}, #{mcReplyTime,jdbcType=TIMESTAMP}, #{adminId,jdbcType=INTEGER}, 
      #{adminName,jdbcType=CHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.model.mysql.csm.TbCsmMallConsult" >
    insert into tb_csm_mall_consult
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mcId != null" >
        mc_id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="mctId != null" >
        mct_id,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="memberName != null" >
        member_name,
      </if>
      <if test="mcContent != null" >
        mc_content,
      </if>
      <if test="mcAddtime != null" >
        mc_addtime,
      </if>
      <if test="isReply != null" >
        is_reply,
      </if>
      <if test="mcReply != null" >
        mc_reply,
      </if>
      <if test="mcReplyTime != null" >
        mc_reply_time,
      </if>
      <if test="adminId != null" >
        admin_id,
      </if>
      <if test="adminName != null" >
        admin_name,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mcId != null" >
        #{mcId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="mctId != null" >
        #{mctId,jdbcType=INTEGER},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="memberName != null" >
        #{memberName,jdbcType=CHAR},
      </if>
      <if test="mcContent != null" >
        #{mcContent,jdbcType=VARCHAR},
      </if>
      <if test="mcAddtime != null" >
        #{mcAddtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isReply != null" >
        #{isReply,jdbcType=TINYINT},
      </if>
      <if test="mcReply != null" >
        #{mcReply,jdbcType=VARCHAR},
      </if>
      <if test="mcReplyTime != null" >
        #{mcReplyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="adminId != null" >
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="adminName != null" >
        #{adminName,jdbcType=CHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.model.mysql.csm.TbCsmMallConsult" >
    update tb_csm_mall_consult
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="mctId != null" >
        mct_id = #{mctId,jdbcType=INTEGER},
      </if>
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="memberName != null" >
        member_name = #{memberName,jdbcType=CHAR},
      </if>
      <if test="mcContent != null" >
        mc_content = #{mcContent,jdbcType=VARCHAR},
      </if>
      <if test="mcAddtime != null" >
        mc_addtime = #{mcAddtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isReply != null" >
        is_reply = #{isReply,jdbcType=TINYINT},
      </if>
      <if test="mcReply != null" >
        mc_reply = #{mcReply,jdbcType=VARCHAR},
      </if>
      <if test="mcReplyTime != null" >
        mc_reply_time = #{mcReplyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="adminId != null" >
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
      <if test="adminName != null" >
        admin_name = #{adminName,jdbcType=CHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where mc_id = #{mcId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.model.mysql.csm.TbCsmMallConsult" >
    update tb_csm_mall_consult
    set uuid = #{uuid,jdbcType=CHAR},
      app_id = #{appId,jdbcType=INTEGER},
      mct_id = #{mctId,jdbcType=INTEGER},
      member_id = #{memberId,jdbcType=INTEGER},
      member_name = #{memberName,jdbcType=CHAR},
      mc_content = #{mcContent,jdbcType=VARCHAR},
      mc_addtime = #{mcAddtime,jdbcType=TIMESTAMP},
      is_reply = #{isReply,jdbcType=TINYINT},
      mc_reply = #{mcReply,jdbcType=VARCHAR},
      mc_reply_time = #{mcReplyTime,jdbcType=TIMESTAMP},
      admin_id = #{adminId,jdbcType=INTEGER},
      admin_name = #{adminName,jdbcType=CHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where mc_id = #{mcId,jdbcType=INTEGER}
  </update>
</mapper>