<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kooing.Interface.mysql.weixin.TbWeixinAccountMapper" >
  <resultMap id="BaseResultMap" type="com.kooing.model.mysql.weixin.TbWeixinAccount" >
    <id column="account_id" property="accountId" jdbcType="BIGINT" />
    <result column="account_name" property="accountName" jdbcType="VARCHAR" />
    <result column="account_token" property="accountToken" jdbcType="VARCHAR" />
    <result column="account_url" property="accountUrl" jdbcType="VARCHAR" />
    <result column="account_number" property="accountNumber" jdbcType="VARCHAR" />
    <result column="account_original_id" property="accountOriginalId" jdbcType="VARCHAR" />
    <result column="account_type" property="accountType" jdbcType="VARCHAR" />
    <result column="account_email" property="accountEmail" jdbcType="VARCHAR" />
    <result column="account_desc" property="accountDesc" jdbcType="VARCHAR" />
    <result column="account_appid" property="accountAppid" jdbcType="VARCHAR" />
    <result column="account_appsecret" property="accountAppsecret" jdbcType="VARCHAR" />
    <result column="lastSychEndOpenid" property="lastsychendopenid" jdbcType="VARCHAR" />
    <result column="add_token_time" property="addTokenTime" jdbcType="TIMESTAMP" />
    <result column="shop_id" property="shopId" jdbcType="BIGINT" />
    <result column="is_activied" property="isActivied" jdbcType="VARCHAR" />
    <result column="active_time" property="activeTime" jdbcType="TIMESTAMP" />
    <result column="is_disabled" property="isDisabled" jdbcType="VARCHAR" />
    <result column="is_disabled_remark" property="isDisabledRemark" jdbcType="VARCHAR" />
    <result column="is_off" property="isOff" jdbcType="VARCHAR" />
    <result column="is_off_remark" property="isOffRemark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    account_id, account_name, account_token, account_url, account_number, account_original_id, 
    account_type, account_email, account_desc, account_appid, account_appsecret, lastSychEndOpenid, 
    add_token_time, shop_id, is_activied, active_time, is_disabled, is_disabled_remark, 
    is_off, is_off_remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_weixin_account
    where account_id = #{accountId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_weixin_account
    where account_id = #{accountId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.kooing.model.mysql.weixin.TbWeixinAccount" >
    insert into tb_weixin_account (account_id, account_name, account_token, 
      account_url, account_number, account_original_id, 
      account_type, account_email, account_desc, 
      account_appid, account_appsecret, lastSychEndOpenid, 
      add_token_time, shop_id, is_activied, 
      active_time, is_disabled, is_disabled_remark, 
      is_off, is_off_remark)
    values (#{accountId,jdbcType=BIGINT}, #{accountName,jdbcType=VARCHAR}, #{accountToken,jdbcType=VARCHAR}, 
      #{accountUrl,jdbcType=VARCHAR}, #{accountNumber,jdbcType=VARCHAR}, #{accountOriginalId,jdbcType=VARCHAR}, 
      #{accountType,jdbcType=VARCHAR}, #{accountEmail,jdbcType=VARCHAR}, #{accountDesc,jdbcType=VARCHAR}, 
      #{accountAppid,jdbcType=VARCHAR}, #{accountAppsecret,jdbcType=VARCHAR}, #{lastsychendopenid,jdbcType=VARCHAR}, 
      #{addTokenTime,jdbcType=TIMESTAMP}, #{shopId,jdbcType=BIGINT}, #{isActivied,jdbcType=VARCHAR}, 
      #{activeTime,jdbcType=TIMESTAMP}, #{isDisabled,jdbcType=VARCHAR}, #{isDisabledRemark,jdbcType=VARCHAR}, 
      #{isOff,jdbcType=VARCHAR}, #{isOffRemark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.model.mysql.weixin.TbWeixinAccount" >
    insert into tb_weixin_account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="accountId != null" >
        account_id,
      </if>
      <if test="accountName != null" >
        account_name,
      </if>
      <if test="accountToken != null" >
        account_token,
      </if>
      <if test="accountUrl != null" >
        account_url,
      </if>
      <if test="accountNumber != null" >
        account_number,
      </if>
      <if test="accountOriginalId != null" >
        account_original_id,
      </if>
      <if test="accountType != null" >
        account_type,
      </if>
      <if test="accountEmail != null" >
        account_email,
      </if>
      <if test="accountDesc != null" >
        account_desc,
      </if>
      <if test="accountAppid != null" >
        account_appid,
      </if>
      <if test="accountAppsecret != null" >
        account_appsecret,
      </if>
      <if test="lastsychendopenid != null" >
        lastSychEndOpenid,
      </if>
      <if test="addTokenTime != null" >
        add_token_time,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="isActivied != null" >
        is_activied,
      </if>
      <if test="activeTime != null" >
        active_time,
      </if>
      <if test="isDisabled != null" >
        is_disabled,
      </if>
      <if test="isDisabledRemark != null" >
        is_disabled_remark,
      </if>
      <if test="isOff != null" >
        is_off,
      </if>
      <if test="isOffRemark != null" >
        is_off_remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="accountId != null" >
        #{accountId,jdbcType=BIGINT},
      </if>
      <if test="accountName != null" >
        #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="accountToken != null" >
        #{accountToken,jdbcType=VARCHAR},
      </if>
      <if test="accountUrl != null" >
        #{accountUrl,jdbcType=VARCHAR},
      </if>
      <if test="accountNumber != null" >
        #{accountNumber,jdbcType=VARCHAR},
      </if>
      <if test="accountOriginalId != null" >
        #{accountOriginalId,jdbcType=VARCHAR},
      </if>
      <if test="accountType != null" >
        #{accountType,jdbcType=VARCHAR},
      </if>
      <if test="accountEmail != null" >
        #{accountEmail,jdbcType=VARCHAR},
      </if>
      <if test="accountDesc != null" >
        #{accountDesc,jdbcType=VARCHAR},
      </if>
      <if test="accountAppid != null" >
        #{accountAppid,jdbcType=VARCHAR},
      </if>
      <if test="accountAppsecret != null" >
        #{accountAppsecret,jdbcType=VARCHAR},
      </if>
      <if test="lastsychendopenid != null" >
        #{lastsychendopenid,jdbcType=VARCHAR},
      </if>
      <if test="addTokenTime != null" >
        #{addTokenTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=BIGINT},
      </if>
      <if test="isActivied != null" >
        #{isActivied,jdbcType=VARCHAR},
      </if>
      <if test="activeTime != null" >
        #{activeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDisabled != null" >
        #{isDisabled,jdbcType=VARCHAR},
      </if>
      <if test="isDisabledRemark != null" >
        #{isDisabledRemark,jdbcType=VARCHAR},
      </if>
      <if test="isOff != null" >
        #{isOff,jdbcType=VARCHAR},
      </if>
      <if test="isOffRemark != null" >
        #{isOffRemark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.model.mysql.weixin.TbWeixinAccount" >
    update tb_weixin_account
    <set >
      <if test="accountName != null" >
        account_name = #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="accountToken != null" >
        account_token = #{accountToken,jdbcType=VARCHAR},
      </if>
      <if test="accountUrl != null" >
        account_url = #{accountUrl,jdbcType=VARCHAR},
      </if>
      <if test="accountNumber != null" >
        account_number = #{accountNumber,jdbcType=VARCHAR},
      </if>
      <if test="accountOriginalId != null" >
        account_original_id = #{accountOriginalId,jdbcType=VARCHAR},
      </if>
      <if test="accountType != null" >
        account_type = #{accountType,jdbcType=VARCHAR},
      </if>
      <if test="accountEmail != null" >
        account_email = #{accountEmail,jdbcType=VARCHAR},
      </if>
      <if test="accountDesc != null" >
        account_desc = #{accountDesc,jdbcType=VARCHAR},
      </if>
      <if test="accountAppid != null" >
        account_appid = #{accountAppid,jdbcType=VARCHAR},
      </if>
      <if test="accountAppsecret != null" >
        account_appsecret = #{accountAppsecret,jdbcType=VARCHAR},
      </if>
      <if test="lastsychendopenid != null" >
        lastSychEndOpenid = #{lastsychendopenid,jdbcType=VARCHAR},
      </if>
      <if test="addTokenTime != null" >
        add_token_time = #{addTokenTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=BIGINT},
      </if>
      <if test="isActivied != null" >
        is_activied = #{isActivied,jdbcType=VARCHAR},
      </if>
      <if test="activeTime != null" >
        active_time = #{activeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDisabled != null" >
        is_disabled = #{isDisabled,jdbcType=VARCHAR},
      </if>
      <if test="isDisabledRemark != null" >
        is_disabled_remark = #{isDisabledRemark,jdbcType=VARCHAR},
      </if>
      <if test="isOff != null" >
        is_off = #{isOff,jdbcType=VARCHAR},
      </if>
      <if test="isOffRemark != null" >
        is_off_remark = #{isOffRemark,jdbcType=VARCHAR},
      </if>
    </set>
    where account_id = #{accountId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.model.mysql.weixin.TbWeixinAccount" >
    update tb_weixin_account
    set account_name = #{accountName,jdbcType=VARCHAR},
      account_token = #{accountToken,jdbcType=VARCHAR},
      account_url = #{accountUrl,jdbcType=VARCHAR},
      account_number = #{accountNumber,jdbcType=VARCHAR},
      account_original_id = #{accountOriginalId,jdbcType=VARCHAR},
      account_type = #{accountType,jdbcType=VARCHAR},
      account_email = #{accountEmail,jdbcType=VARCHAR},
      account_desc = #{accountDesc,jdbcType=VARCHAR},
      account_appid = #{accountAppid,jdbcType=VARCHAR},
      account_appsecret = #{accountAppsecret,jdbcType=VARCHAR},
      lastSychEndOpenid = #{lastsychendopenid,jdbcType=VARCHAR},
      add_token_time = #{addTokenTime,jdbcType=TIMESTAMP},
      shop_id = #{shopId,jdbcType=BIGINT},
      is_activied = #{isActivied,jdbcType=VARCHAR},
      active_time = #{activeTime,jdbcType=TIMESTAMP},
      is_disabled = #{isDisabled,jdbcType=VARCHAR},
      is_disabled_remark = #{isDisabledRemark,jdbcType=VARCHAR},
      is_off = #{isOff,jdbcType=VARCHAR},
      is_off_remark = #{isOffRemark,jdbcType=VARCHAR}
    where account_id = #{accountId,jdbcType=BIGINT}
  </update>
</mapper>