<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kooing.Interface.mysql.weixin.TbWeixinAccesstokenMapper" >
  <resultMap id="BaseResultMap" type="com.kooing.model.mysql.weixin.TbWeixinAccesstoken" >
    <id column="ak_id" property="akId" jdbcType="BIGINT" />
    <result column="wx_appid" property="wxAppid" jdbcType="VARCHAR" />
    <result column="app_id" property="appId" jdbcType="VARCHAR" />
    <result column="token_type" property="tokenType" jdbcType="VARCHAR" />
    <result column="access_token" property="accessToken" jdbcType="VARCHAR" />
    <result column="expires_in" property="expiresIn" jdbcType="BIGINT" />
    <result column="count" property="count" jdbcType="BIGINT" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="eff_time" property="effTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ak_id, wx_appid, app_id, token_type, access_token, expires_in, count, add_time, update_time, 
    eff_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_weixin_accesstoken
    where ak_id = #{akId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_weixin_accesstoken
    where ak_id = #{akId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.kooing.model.mysql.weixin.TbWeixinAccesstoken" >
    insert into tb_weixin_accesstoken (ak_id, wx_appid, app_id, 
      token_type, access_token, expires_in, 
      count, add_time, update_time, 
      eff_time)
    values (#{akId,jdbcType=BIGINT}, #{wxAppid,jdbcType=VARCHAR}, #{appId,jdbcType=VARCHAR}, 
      #{tokenType,jdbcType=VARCHAR}, #{accessToken,jdbcType=VARCHAR}, #{expiresIn,jdbcType=BIGINT}, 
      #{count,jdbcType=BIGINT}, #{addTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{effTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.model.mysql.weixin.TbWeixinAccesstoken" >
    insert into tb_weixin_accesstoken
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="akId != null" >
        ak_id,
      </if>
      <if test="wxAppid != null" >
        wx_appid,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="tokenType != null" >
        token_type,
      </if>
      <if test="accessToken != null" >
        access_token,
      </if>
      <if test="expiresIn != null" >
        expires_in,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="effTime != null" >
        eff_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="akId != null" >
        #{akId,jdbcType=BIGINT},
      </if>
      <if test="wxAppid != null" >
        #{wxAppid,jdbcType=VARCHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="tokenType != null" >
        #{tokenType,jdbcType=VARCHAR},
      </if>
      <if test="accessToken != null" >
        #{accessToken,jdbcType=VARCHAR},
      </if>
      <if test="expiresIn != null" >
        #{expiresIn,jdbcType=BIGINT},
      </if>
      <if test="count != null" >
        #{count,jdbcType=BIGINT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="effTime != null" >
        #{effTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.model.mysql.weixin.TbWeixinAccesstoken" >
    update tb_weixin_accesstoken
    <set >
      <if test="wxAppid != null" >
        wx_appid = #{wxAppid,jdbcType=VARCHAR},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="tokenType != null" >
        token_type = #{tokenType,jdbcType=VARCHAR},
      </if>
      <if test="accessToken != null" >
        access_token = #{accessToken,jdbcType=VARCHAR},
      </if>
      <if test="expiresIn != null" >
        expires_in = #{expiresIn,jdbcType=BIGINT},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=BIGINT},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="effTime != null" >
        eff_time = #{effTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ak_id = #{akId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.model.mysql.weixin.TbWeixinAccesstoken" >
    update tb_weixin_accesstoken
    set wx_appid = #{wxAppid,jdbcType=VARCHAR},
      app_id = #{appId,jdbcType=VARCHAR},
      token_type = #{tokenType,jdbcType=VARCHAR},
      access_token = #{accessToken,jdbcType=VARCHAR},
      expires_in = #{expiresIn,jdbcType=BIGINT},
      count = #{count,jdbcType=BIGINT},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      eff_time = #{effTime,jdbcType=TIMESTAMP}
    where ak_id = #{akId,jdbcType=BIGINT}
  </update>
</mapper>