<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kooing.Interface.mysql.member.TbUrsVerifyMapper" >
  <resultMap id="BaseResultMap" type="com.kooing.model.mysql.member.TbUrsVerify" >
    <id column="member_id" property="memberId" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="auth_code" property="authCode" jdbcType="CHAR" />
    <result column="send_acode_time" property="sendAcodeTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    member_id, uuid, app_id, auth_code, send_acode_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_urs_verify
    where member_id = #{memberId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_urs_verify
    where member_id = #{memberId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kooing.model.mysql.member.TbUrsVerify" >
    insert into tb_urs_verify (member_id, uuid, app_id, 
      auth_code, send_acode_time, update_time
      )
    values (#{memberId,jdbcType=INTEGER}, #{uuid,jdbcType=CHAR}, #{appId,jdbcType=INTEGER}, 
      #{authCode,jdbcType=CHAR}, #{sendAcodeTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.model.mysql.member.TbUrsVerify" >
    insert into tb_urs_verify
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="authCode != null" >
        auth_code,
      </if>
      <if test="sendAcodeTime != null" >
        send_acode_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="memberId != null" >
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="authCode != null" >
        #{authCode,jdbcType=CHAR},
      </if>
      <if test="sendAcodeTime != null" >
        #{sendAcodeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.model.mysql.member.TbUrsVerify" >
    update tb_urs_verify
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="authCode != null" >
        auth_code = #{authCode,jdbcType=CHAR},
      </if>
      <if test="sendAcodeTime != null" >
        send_acode_time = #{sendAcodeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where member_id = #{memberId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.model.mysql.member.TbUrsVerify" >
    update tb_urs_verify
    set uuid = #{uuid,jdbcType=CHAR},
      app_id = #{appId,jdbcType=INTEGER},
      auth_code = #{authCode,jdbcType=CHAR},
      send_acode_time = #{sendAcodeTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where member_id = #{memberId,jdbcType=INTEGER}
  </update>
</mapper>