<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kooing.Interface.mysql.member.TbUrsAddressMapper" >
  <resultMap id="BaseResultMap" type="com.kooing.model.mysql.member.TbUrsAddress" >
    <id column="address_id" property="addressId" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="member_id" property="memberId" jdbcType="INTEGER" />
    <result column="true_name" property="trueName" jdbcType="CHAR" />
    <result column="area_id" property="areaId" jdbcType="INTEGER" />
    <result column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="area_info" property="areaInfo" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="tel_phone" property="telPhone" jdbcType="CHAR" />
    <result column="mob_phone" property="mobPhone" jdbcType="CHAR" />
    <result column="is_default" property="isDefault" jdbcType="INTEGER" />
    <result column="dlyp_id" property="dlypId" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    address_id, uuid, app_id, member_id, true_name, area_id, city_id, area_info, address, 
    tel_phone, mob_phone, is_default, dlyp_id, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_urs_address
    where address_id = #{addressId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_urs_address
    where address_id = #{addressId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kooing.model.mysql.member.TbUrsAddress" >
    insert into tb_urs_address (address_id, uuid, app_id, 
      member_id, true_name, area_id, 
      city_id, area_info, address, 
      tel_phone, mob_phone, is_default, 
      dlyp_id, update_time)
    values (#{addressId,jdbcType=INTEGER}, #{uuid,jdbcType=CHAR}, #{appId,jdbcType=INTEGER}, 
      #{memberId,jdbcType=INTEGER}, #{trueName,jdbcType=CHAR}, #{areaId,jdbcType=INTEGER}, 
      #{cityId,jdbcType=INTEGER}, #{areaInfo,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{telPhone,jdbcType=CHAR}, #{mobPhone,jdbcType=CHAR}, #{isDefault,jdbcType=INTEGER}, 
      #{dlypId,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.model.mysql.member.TbUrsAddress" >
    insert into tb_urs_address
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="addressId != null" >
        address_id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="trueName != null" >
        true_name,
      </if>
      <if test="areaId != null" >
        area_id,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="areaInfo != null" >
        area_info,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="telPhone != null" >
        tel_phone,
      </if>
      <if test="mobPhone != null" >
        mob_phone,
      </if>
      <if test="isDefault != null" >
        is_default,
      </if>
      <if test="dlypId != null" >
        dlyp_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="addressId != null" >
        #{addressId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="trueName != null" >
        #{trueName,jdbcType=CHAR},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="areaInfo != null" >
        #{areaInfo,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="telPhone != null" >
        #{telPhone,jdbcType=CHAR},
      </if>
      <if test="mobPhone != null" >
        #{mobPhone,jdbcType=CHAR},
      </if>
      <if test="isDefault != null" >
        #{isDefault,jdbcType=INTEGER},
      </if>
      <if test="dlypId != null" >
        #{dlypId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.model.mysql.member.TbUrsAddress" >
    update tb_urs_address
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="trueName != null" >
        true_name = #{trueName,jdbcType=CHAR},
      </if>
      <if test="areaId != null" >
        area_id = #{areaId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="areaInfo != null" >
        area_info = #{areaInfo,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="telPhone != null" >
        tel_phone = #{telPhone,jdbcType=CHAR},
      </if>
      <if test="mobPhone != null" >
        mob_phone = #{mobPhone,jdbcType=CHAR},
      </if>
      <if test="isDefault != null" >
        is_default = #{isDefault,jdbcType=INTEGER},
      </if>
      <if test="dlypId != null" >
        dlyp_id = #{dlypId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where address_id = #{addressId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.model.mysql.member.TbUrsAddress" >
    update tb_urs_address
    set uuid = #{uuid,jdbcType=CHAR},
      app_id = #{appId,jdbcType=INTEGER},
      member_id = #{memberId,jdbcType=INTEGER},
      true_name = #{trueName,jdbcType=CHAR},
      area_id = #{areaId,jdbcType=INTEGER},
      city_id = #{cityId,jdbcType=INTEGER},
      area_info = #{areaInfo,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      tel_phone = #{telPhone,jdbcType=CHAR},
      mob_phone = #{mobPhone,jdbcType=CHAR},
      is_default = #{isDefault,jdbcType=INTEGER},
      dlyp_id = #{dlypId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where address_id = #{addressId,jdbcType=INTEGER}
  </update>
</mapper>