<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kooing.Interface.mysql.member.TbUrsTrslogMapper" >
  <resultMap id="BaseResultMap" type="com.kooing.model.mysql.member.TbUrsTrslog" >
    <id column="trs_id" property="trsId" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="trs_code" property="trsCode" jdbcType="INTEGER" />
    <result column="ext_trs_code" property="extTrsCode" jdbcType="VARCHAR" />
    <result column="ext_sys_code" property="extSysCode" jdbcType="VARCHAR" />
    <result column="trs_amount" property="trsAmount" jdbcType="DECIMAL" />
    <result column="fee" property="fee" jdbcType="DECIMAL" />
    <result column="req_date" property="reqDate" jdbcType="TIMESTAMP" />
    <result column="trs_time" property="trsTime" jdbcType="TIMESTAMP" />
    <result column="resp_code" property="respCode" jdbcType="VARCHAR" />
    <result column="resp_info" property="respInfo" jdbcType="VARCHAR" />
    <result column="stat" property="stat" jdbcType="CHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="relevance_id" property="relevanceId" jdbcType="INTEGER" />
    <result column="payer_acct_no" property="payerAcctNo" jdbcType="VARCHAR" />
    <result column="payee_acct_no" property="payeeAcctNo" jdbcType="VARCHAR" />
    <result column="req_seq" property="reqSeq" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    trs_id, uuid, app_id, trs_code, ext_trs_code, ext_sys_code, trs_amount, fee, req_date, 
    trs_time, resp_code, resp_info, stat, update_time, memo, relevance_id, payer_acct_no, 
    payee_acct_no, req_seq
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_urs_trslog
    where trs_id = #{trsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_urs_trslog
    where trs_id = #{trsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kooing.model.mysql.member.TbUrsTrslog" >
    insert into tb_urs_trslog (trs_id, uuid, app_id, 
      trs_code, ext_trs_code, ext_sys_code, 
      trs_amount, fee, req_date, 
      trs_time, resp_code, resp_info, 
      stat, update_time, memo, 
      relevance_id, payer_acct_no, payee_acct_no, 
      req_seq)
    values (#{trsId,jdbcType=INTEGER}, #{uuid,jdbcType=VARCHAR}, #{appId,jdbcType=INTEGER}, 
      #{trsCode,jdbcType=INTEGER}, #{extTrsCode,jdbcType=VARCHAR}, #{extSysCode,jdbcType=VARCHAR}, 
      #{trsAmount,jdbcType=DECIMAL}, #{fee,jdbcType=DECIMAL}, #{reqDate,jdbcType=TIMESTAMP}, 
      #{trsTime,jdbcType=TIMESTAMP}, #{respCode,jdbcType=VARCHAR}, #{respInfo,jdbcType=VARCHAR}, 
      #{stat,jdbcType=CHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{memo,jdbcType=VARCHAR}, 
      #{relevanceId,jdbcType=INTEGER}, #{payerAcctNo,jdbcType=VARCHAR}, #{payeeAcctNo,jdbcType=VARCHAR}, 
      #{reqSeq,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.model.mysql.member.TbUrsTrslog" >
    insert into tb_urs_trslog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="trsId != null" >
        trs_id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="trsCode != null" >
        trs_code,
      </if>
      <if test="extTrsCode != null" >
        ext_trs_code,
      </if>
      <if test="extSysCode != null" >
        ext_sys_code,
      </if>
      <if test="trsAmount != null" >
        trs_amount,
      </if>
      <if test="fee != null" >
        fee,
      </if>
      <if test="reqDate != null" >
        req_date,
      </if>
      <if test="trsTime != null" >
        trs_time,
      </if>
      <if test="respCode != null" >
        resp_code,
      </if>
      <if test="respInfo != null" >
        resp_info,
      </if>
      <if test="stat != null" >
        stat,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="memo != null" >
        memo,
      </if>
      <if test="relevanceId != null" >
        relevance_id,
      </if>
      <if test="payerAcctNo != null" >
        payer_acct_no,
      </if>
      <if test="payeeAcctNo != null" >
        payee_acct_no,
      </if>
      <if test="reqSeq != null" >
        req_seq,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="trsId != null" >
        #{trsId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="trsCode != null" >
        #{trsCode,jdbcType=INTEGER},
      </if>
      <if test="extTrsCode != null" >
        #{extTrsCode,jdbcType=VARCHAR},
      </if>
      <if test="extSysCode != null" >
        #{extSysCode,jdbcType=VARCHAR},
      </if>
      <if test="trsAmount != null" >
        #{trsAmount,jdbcType=DECIMAL},
      </if>
      <if test="fee != null" >
        #{fee,jdbcType=DECIMAL},
      </if>
      <if test="reqDate != null" >
        #{reqDate,jdbcType=TIMESTAMP},
      </if>
      <if test="trsTime != null" >
        #{trsTime,jdbcType=TIMESTAMP},
      </if>
      <if test="respCode != null" >
        #{respCode,jdbcType=VARCHAR},
      </if>
      <if test="respInfo != null" >
        #{respInfo,jdbcType=VARCHAR},
      </if>
      <if test="stat != null" >
        #{stat,jdbcType=CHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="relevanceId != null" >
        #{relevanceId,jdbcType=INTEGER},
      </if>
      <if test="payerAcctNo != null" >
        #{payerAcctNo,jdbcType=VARCHAR},
      </if>
      <if test="payeeAcctNo != null" >
        #{payeeAcctNo,jdbcType=VARCHAR},
      </if>
      <if test="reqSeq != null" >
        #{reqSeq,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.model.mysql.member.TbUrsTrslog" >
    update tb_urs_trslog
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="trsCode != null" >
        trs_code = #{trsCode,jdbcType=INTEGER},
      </if>
      <if test="extTrsCode != null" >
        ext_trs_code = #{extTrsCode,jdbcType=VARCHAR},
      </if>
      <if test="extSysCode != null" >
        ext_sys_code = #{extSysCode,jdbcType=VARCHAR},
      </if>
      <if test="trsAmount != null" >
        trs_amount = #{trsAmount,jdbcType=DECIMAL},
      </if>
      <if test="fee != null" >
        fee = #{fee,jdbcType=DECIMAL},
      </if>
      <if test="reqDate != null" >
        req_date = #{reqDate,jdbcType=TIMESTAMP},
      </if>
      <if test="trsTime != null" >
        trs_time = #{trsTime,jdbcType=TIMESTAMP},
      </if>
      <if test="respCode != null" >
        resp_code = #{respCode,jdbcType=VARCHAR},
      </if>
      <if test="respInfo != null" >
        resp_info = #{respInfo,jdbcType=VARCHAR},
      </if>
      <if test="stat != null" >
        stat = #{stat,jdbcType=CHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="relevanceId != null" >
        relevance_id = #{relevanceId,jdbcType=INTEGER},
      </if>
      <if test="payerAcctNo != null" >
        payer_acct_no = #{payerAcctNo,jdbcType=VARCHAR},
      </if>
      <if test="payeeAcctNo != null" >
        payee_acct_no = #{payeeAcctNo,jdbcType=VARCHAR},
      </if>
      <if test="reqSeq != null" >
        req_seq = #{reqSeq,jdbcType=VARCHAR},
      </if>
    </set>
    where trs_id = #{trsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.model.mysql.member.TbUrsTrslog" >
    update tb_urs_trslog
    set uuid = #{uuid,jdbcType=VARCHAR},
      app_id = #{appId,jdbcType=INTEGER},
      trs_code = #{trsCode,jdbcType=INTEGER},
      ext_trs_code = #{extTrsCode,jdbcType=VARCHAR},
      ext_sys_code = #{extSysCode,jdbcType=VARCHAR},
      trs_amount = #{trsAmount,jdbcType=DECIMAL},
      fee = #{fee,jdbcType=DECIMAL},
      req_date = #{reqDate,jdbcType=TIMESTAMP},
      trs_time = #{trsTime,jdbcType=TIMESTAMP},
      resp_code = #{respCode,jdbcType=VARCHAR},
      resp_info = #{respInfo,jdbcType=VARCHAR},
      stat = #{stat,jdbcType=CHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      memo = #{memo,jdbcType=VARCHAR},
      relevance_id = #{relevanceId,jdbcType=INTEGER},
      payer_acct_no = #{payerAcctNo,jdbcType=VARCHAR},
      payee_acct_no = #{payeeAcctNo,jdbcType=VARCHAR},
      req_seq = #{reqSeq,jdbcType=VARCHAR}
    where trs_id = #{trsId,jdbcType=INTEGER}
  </update>
</mapper>