<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kooing.Interface.mysql.member.TbUrsMemberMapper" >
  <resultMap id="BaseResultMap" type="com.kooing.model.mysql.member.TbUrsMember" >
    <id column="member_id" property="memberId" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="app_name" property="appName" jdbcType="VARCHAR" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="app_version" property="appVersion" jdbcType="CHAR" />
    <result column="member_name" property="memberName" jdbcType="CHAR" />
    <result column="member_truename" property="memberTruename" jdbcType="CHAR" />
    <result column="member_avatar" property="memberAvatar" jdbcType="CHAR" />
    <result column="member_sex" property="memberSex" jdbcType="INTEGER" />
    <result column="idcard" property="idcard" jdbcType="CHAR" />
    <result column="member_birthday" property="memberBirthday" jdbcType="TIMESTAMP" />
    <result column="member_passwd" property="memberPasswd" jdbcType="CHAR" />
    <result column="member_paypwd" property="memberPaypwd" jdbcType="CHAR" />
    <result column="member_email" property="memberEmail" jdbcType="CHAR" />
    <result column="member_email_bind" property="memberEmailBind" jdbcType="INTEGER" />
    <result column="member_mobile" property="memberMobile" jdbcType="CHAR" />
    <result column="member_mobile_bind" property="memberMobileBind" jdbcType="INTEGER" />
    <result column="member_qq" property="memberQq" jdbcType="CHAR" />
    <result column="member_ww" property="memberWw" jdbcType="CHAR" />
    <result column="member_login_num" property="memberLoginNum" jdbcType="INTEGER" />
    <result column="member_time" property="memberTime" jdbcType="TIMESTAMP" />
    <result column="member_login_time" property="memberLoginTime" jdbcType="TIMESTAMP" />
    <result column="member_old_login_time" property="memberOldLoginTime" jdbcType="TIMESTAMP" />
    <result column="member_login_ip" property="memberLoginIp" jdbcType="CHAR" />
    <result column="member_old_login_ip" property="memberOldLoginIp" jdbcType="CHAR" />
    <result column="member_exit_time" property="memberExitTime" jdbcType="TIMESTAMP" />
    <result column="member_wxopenid" property="memberWxopenid" jdbcType="VARCHAR" />
    <result column="member_qqopenid" property="memberQqopenid" jdbcType="VARCHAR" />
    <result column="member_sinaopenid" property="memberSinaopenid" jdbcType="VARCHAR" />
    <result column="member_points" property="memberPoints" jdbcType="INTEGER" />
    <result column="available_predeposit" property="availablePredeposit" jdbcType="DECIMAL" />
    <result column="freeze_predeposit" property="freezePredeposit" jdbcType="DECIMAL" />
    <result column="available_rc_balance" property="availableRcBalance" jdbcType="DECIMAL" />
    <result column="freeze_rc_balance" property="freezeRcBalance" jdbcType="DECIMAL" />
    <result column="inform_allow" property="informAllow" jdbcType="INTEGER" />
    <result column="is_buy" property="isBuy" jdbcType="INTEGER" />
    <result column="is_allowtalk" property="isAllowtalk" jdbcType="INTEGER" />
    <result column="member_state" property="memberState" jdbcType="INTEGER" />
    <result column="member_snsvisitnum" property="memberSnsvisitnum" jdbcType="INTEGER" />
    <result column="member_areaid" property="memberAreaid" jdbcType="INTEGER" />
    <result column="member_cityid" property="memberCityid" jdbcType="INTEGER" />
    <result column="member_provinceid" property="memberProvinceid" jdbcType="INTEGER" />
    <result column="member_areainfo" property="memberAreainfo" jdbcType="VARCHAR" />
    <result column="member_quicklink" property="memberQuicklink" jdbcType="VARCHAR" />
    <result column="member_exppoints" property="memberExppoints" jdbcType="INTEGER" />
    <result column="member_grade" property="memberGrade" jdbcType="CHAR" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="client_id" property="clientId" jdbcType="VARCHAR" />
    <result column="referrer" property="referrer" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_distribution" property="isDistribution" jdbcType="INTEGER" />
    <result column="member_pay_password_questions" property="memberPayPasswordQuestions" jdbcType="VARCHAR" />
    <result column="member_pay_password_answers" property="memberPayPasswordAnswers" jdbcType="VARCHAR" />
    <result column="company_name" property="companyName" jdbcType="CHAR" />
    <result column="attestation_flag" property="attestationFlag" jdbcType="INTEGER" />
    <result column="pay_state" property="payState" jdbcType="INTEGER" />
    <result column="deposit" property="deposit" jdbcType="DECIMAL" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.kooing.model.mysql.member.TbUrsMemberWithBLOBs" extends="BaseResultMap" >
    <result column="member_wxinfo" property="memberWxinfo" jdbcType="LONGVARCHAR" />
    <result column="member_qqinfo" property="memberQqinfo" jdbcType="LONGVARCHAR" />
    <result column="member_sinainfo" property="memberSinainfo" jdbcType="LONGVARCHAR" />
    <result column="member_privacy" property="memberPrivacy" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    member_id, uuid, app_name, app_id, app_version, member_name, member_truename, member_avatar, 
    member_sex, idcard, member_birthday, member_passwd, member_paypwd, member_email, 
    member_email_bind, member_mobile, member_mobile_bind, member_qq, member_ww, member_login_num, 
    member_time, member_login_time, member_old_login_time, member_login_ip, member_old_login_ip, 
    member_exit_time, member_wxopenid, member_qqopenid, member_sinaopenid, member_points, 
    available_predeposit, freeze_predeposit, available_rc_balance, freeze_rc_balance, 
    inform_allow, is_buy, is_allowtalk, member_state, member_snsvisitnum, member_areaid, 
    member_cityid, member_provinceid, member_areainfo, member_quicklink, member_exppoints, 
    member_grade, store_id, client_id, referrer, update_time, is_distribution, member_pay_password_questions, 
    member_pay_password_answers, company_name, attestation_flag, pay_state, deposit
  </sql>
  <sql id="Blob_Column_List" >
    member_wxinfo, member_qqinfo, member_sinainfo, member_privacy
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_urs_member
    where member_id = #{memberId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_urs_member
    where member_id = #{memberId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kooing.model.mysql.member.TbUrsMemberWithBLOBs" >
    insert into tb_urs_member (member_id, uuid, app_name, 
      app_id, app_version, member_name, 
      member_truename, member_avatar, member_sex, 
      idcard, member_birthday, member_passwd, 
      member_paypwd, member_email, member_email_bind, 
      member_mobile, member_mobile_bind, member_qq, 
      member_ww, member_login_num, member_time, 
      member_login_time, member_old_login_time, 
      member_login_ip, member_old_login_ip, member_exit_time, 
      member_wxopenid, member_qqopenid, member_sinaopenid, 
      member_points, available_predeposit, freeze_predeposit, 
      available_rc_balance, freeze_rc_balance, inform_allow, 
      is_buy, is_allowtalk, member_state, 
      member_snsvisitnum, member_areaid, member_cityid, 
      member_provinceid, member_areainfo, member_quicklink, 
      member_exppoints, member_grade, store_id, 
      client_id, referrer, update_time, 
      is_distribution, member_pay_password_questions, 
      member_pay_password_answers, company_name, attestation_flag, 
      pay_state, deposit, member_wxinfo, 
      member_qqinfo, member_sinainfo, member_privacy
      )
    values (#{memberId,jdbcType=INTEGER}, #{uuid,jdbcType=CHAR}, #{appName,jdbcType=VARCHAR}, 
      #{appId,jdbcType=INTEGER}, #{appVersion,jdbcType=CHAR}, #{memberName,jdbcType=CHAR}, 
      #{memberTruename,jdbcType=CHAR}, #{memberAvatar,jdbcType=CHAR}, #{memberSex,jdbcType=INTEGER}, 
      #{idcard,jdbcType=CHAR}, #{memberBirthday,jdbcType=TIMESTAMP}, #{memberPasswd,jdbcType=CHAR}, 
      #{memberPaypwd,jdbcType=CHAR}, #{memberEmail,jdbcType=CHAR}, #{memberEmailBind,jdbcType=INTEGER}, 
      #{memberMobile,jdbcType=CHAR}, #{memberMobileBind,jdbcType=INTEGER}, #{memberQq,jdbcType=CHAR}, 
      #{memberWw,jdbcType=CHAR}, #{memberLoginNum,jdbcType=INTEGER}, #{memberTime,jdbcType=TIMESTAMP}, 
      #{memberLoginTime,jdbcType=TIMESTAMP}, #{memberOldLoginTime,jdbcType=TIMESTAMP}, 
      #{memberLoginIp,jdbcType=CHAR}, #{memberOldLoginIp,jdbcType=CHAR}, #{memberExitTime,jdbcType=TIMESTAMP}, 
      #{memberWxopenid,jdbcType=VARCHAR}, #{memberQqopenid,jdbcType=VARCHAR}, #{memberSinaopenid,jdbcType=VARCHAR}, 
      #{memberPoints,jdbcType=INTEGER}, #{availablePredeposit,jdbcType=DECIMAL}, #{freezePredeposit,jdbcType=DECIMAL}, 
      #{availableRcBalance,jdbcType=DECIMAL}, #{freezeRcBalance,jdbcType=DECIMAL}, #{informAllow,jdbcType=INTEGER}, 
      #{isBuy,jdbcType=INTEGER}, #{isAllowtalk,jdbcType=INTEGER}, #{memberState,jdbcType=INTEGER}, 
      #{memberSnsvisitnum,jdbcType=INTEGER}, #{memberAreaid,jdbcType=INTEGER}, #{memberCityid,jdbcType=INTEGER}, 
      #{memberProvinceid,jdbcType=INTEGER}, #{memberAreainfo,jdbcType=VARCHAR}, #{memberQuicklink,jdbcType=VARCHAR}, 
      #{memberExppoints,jdbcType=INTEGER}, #{memberGrade,jdbcType=CHAR}, #{storeId,jdbcType=INTEGER}, 
      #{clientId,jdbcType=VARCHAR}, #{referrer,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{isDistribution,jdbcType=INTEGER}, #{memberPayPasswordQuestions,jdbcType=VARCHAR}, 
      #{memberPayPasswordAnswers,jdbcType=VARCHAR}, #{companyName,jdbcType=CHAR}, #{attestationFlag,jdbcType=INTEGER}, 
      #{payState,jdbcType=INTEGER}, #{deposit,jdbcType=DECIMAL}, #{memberWxinfo,jdbcType=LONGVARCHAR}, 
      #{memberQqinfo,jdbcType=LONGVARCHAR}, #{memberSinainfo,jdbcType=LONGVARCHAR}, #{memberPrivacy,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.model.mysql.member.TbUrsMemberWithBLOBs" >
    insert into tb_urs_member
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="appName != null" >
        app_name,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="appVersion != null" >
        app_version,
      </if>
      <if test="memberName != null" >
        member_name,
      </if>
      <if test="memberTruename != null" >
        member_truename,
      </if>
      <if test="memberAvatar != null" >
        member_avatar,
      </if>
      <if test="memberSex != null" >
        member_sex,
      </if>
      <if test="idcard != null" >
        idcard,
      </if>
      <if test="memberBirthday != null" >
        member_birthday,
      </if>
      <if test="memberPasswd != null" >
        member_passwd,
      </if>
      <if test="memberPaypwd != null" >
        member_paypwd,
      </if>
      <if test="memberEmail != null" >
        member_email,
      </if>
      <if test="memberEmailBind != null" >
        member_email_bind,
      </if>
      <if test="memberMobile != null" >
        member_mobile,
      </if>
      <if test="memberMobileBind != null" >
        member_mobile_bind,
      </if>
      <if test="memberQq != null" >
        member_qq,
      </if>
      <if test="memberWw != null" >
        member_ww,
      </if>
      <if test="memberLoginNum != null" >
        member_login_num,
      </if>
      <if test="memberTime != null" >
        member_time,
      </if>
      <if test="memberLoginTime != null" >
        member_login_time,
      </if>
      <if test="memberOldLoginTime != null" >
        member_old_login_time,
      </if>
      <if test="memberLoginIp != null" >
        member_login_ip,
      </if>
      <if test="memberOldLoginIp != null" >
        member_old_login_ip,
      </if>
      <if test="memberExitTime != null" >
        member_exit_time,
      </if>
      <if test="memberWxopenid != null" >
        member_wxopenid,
      </if>
      <if test="memberQqopenid != null" >
        member_qqopenid,
      </if>
      <if test="memberSinaopenid != null" >
        member_sinaopenid,
      </if>
      <if test="memberPoints != null" >
        member_points,
      </if>
      <if test="availablePredeposit != null" >
        available_predeposit,
      </if>
      <if test="freezePredeposit != null" >
        freeze_predeposit,
      </if>
      <if test="availableRcBalance != null" >
        available_rc_balance,
      </if>
      <if test="freezeRcBalance != null" >
        freeze_rc_balance,
      </if>
      <if test="informAllow != null" >
        inform_allow,
      </if>
      <if test="isBuy != null" >
        is_buy,
      </if>
      <if test="isAllowtalk != null" >
        is_allowtalk,
      </if>
      <if test="memberState != null" >
        member_state,
      </if>
      <if test="memberSnsvisitnum != null" >
        member_snsvisitnum,
      </if>
      <if test="memberAreaid != null" >
        member_areaid,
      </if>
      <if test="memberCityid != null" >
        member_cityid,
      </if>
      <if test="memberProvinceid != null" >
        member_provinceid,
      </if>
      <if test="memberAreainfo != null" >
        member_areainfo,
      </if>
      <if test="memberQuicklink != null" >
        member_quicklink,
      </if>
      <if test="memberExppoints != null" >
        member_exppoints,
      </if>
      <if test="memberGrade != null" >
        member_grade,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="clientId != null" >
        client_id,
      </if>
      <if test="referrer != null" >
        referrer,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isDistribution != null" >
        is_distribution,
      </if>
      <if test="memberPayPasswordQuestions != null" >
        member_pay_password_questions,
      </if>
      <if test="memberPayPasswordAnswers != null" >
        member_pay_password_answers,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="attestationFlag != null" >
        attestation_flag,
      </if>
      <if test="payState != null" >
        pay_state,
      </if>
      <if test="deposit != null" >
        deposit,
      </if>
      <if test="memberWxinfo != null" >
        member_wxinfo,
      </if>
      <if test="memberQqinfo != null" >
        member_qqinfo,
      </if>
      <if test="memberSinainfo != null" >
        member_sinainfo,
      </if>
      <if test="memberPrivacy != null" >
        member_privacy,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="memberId != null" >
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=CHAR},
      </if>
      <if test="appName != null" >
        #{appName,jdbcType=VARCHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="appVersion != null" >
        #{appVersion,jdbcType=CHAR},
      </if>
      <if test="memberName != null" >
        #{memberName,jdbcType=CHAR},
      </if>
      <if test="memberTruename != null" >
        #{memberTruename,jdbcType=CHAR},
      </if>
      <if test="memberAvatar != null" >
        #{memberAvatar,jdbcType=CHAR},
      </if>
      <if test="memberSex != null" >
        #{memberSex,jdbcType=INTEGER},
      </if>
      <if test="idcard != null" >
        #{idcard,jdbcType=CHAR},
      </if>
      <if test="memberBirthday != null" >
        #{memberBirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="memberPasswd != null" >
        #{memberPasswd,jdbcType=CHAR},
      </if>
      <if test="memberPaypwd != null" >
        #{memberPaypwd,jdbcType=CHAR},
      </if>
      <if test="memberEmail != null" >
        #{memberEmail,jdbcType=CHAR},
      </if>
      <if test="memberEmailBind != null" >
        #{memberEmailBind,jdbcType=INTEGER},
      </if>
      <if test="memberMobile != null" >
        #{memberMobile,jdbcType=CHAR},
      </if>
      <if test="memberMobileBind != null" >
        #{memberMobileBind,jdbcType=INTEGER},
      </if>
      <if test="memberQq != null" >
        #{memberQq,jdbcType=CHAR},
      </if>
      <if test="memberWw != null" >
        #{memberWw,jdbcType=CHAR},
      </if>
      <if test="memberLoginNum != null" >
        #{memberLoginNum,jdbcType=INTEGER},
      </if>
      <if test="memberTime != null" >
        #{memberTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memberLoginTime != null" >
        #{memberLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memberOldLoginTime != null" >
        #{memberOldLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memberLoginIp != null" >
        #{memberLoginIp,jdbcType=CHAR},
      </if>
      <if test="memberOldLoginIp != null" >
        #{memberOldLoginIp,jdbcType=CHAR},
      </if>
      <if test="memberExitTime != null" >
        #{memberExitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memberWxopenid != null" >
        #{memberWxopenid,jdbcType=VARCHAR},
      </if>
      <if test="memberQqopenid != null" >
        #{memberQqopenid,jdbcType=VARCHAR},
      </if>
      <if test="memberSinaopenid != null" >
        #{memberSinaopenid,jdbcType=VARCHAR},
      </if>
      <if test="memberPoints != null" >
        #{memberPoints,jdbcType=INTEGER},
      </if>
      <if test="availablePredeposit != null" >
        #{availablePredeposit,jdbcType=DECIMAL},
      </if>
      <if test="freezePredeposit != null" >
        #{freezePredeposit,jdbcType=DECIMAL},
      </if>
      <if test="availableRcBalance != null" >
        #{availableRcBalance,jdbcType=DECIMAL},
      </if>
      <if test="freezeRcBalance != null" >
        #{freezeRcBalance,jdbcType=DECIMAL},
      </if>
      <if test="informAllow != null" >
        #{informAllow,jdbcType=INTEGER},
      </if>
      <if test="isBuy != null" >
        #{isBuy,jdbcType=INTEGER},
      </if>
      <if test="isAllowtalk != null" >
        #{isAllowtalk,jdbcType=INTEGER},
      </if>
      <if test="memberState != null" >
        #{memberState,jdbcType=INTEGER},
      </if>
      <if test="memberSnsvisitnum != null" >
        #{memberSnsvisitnum,jdbcType=INTEGER},
      </if>
      <if test="memberAreaid != null" >
        #{memberAreaid,jdbcType=INTEGER},
      </if>
      <if test="memberCityid != null" >
        #{memberCityid,jdbcType=INTEGER},
      </if>
      <if test="memberProvinceid != null" >
        #{memberProvinceid,jdbcType=INTEGER},
      </if>
      <if test="memberAreainfo != null" >
        #{memberAreainfo,jdbcType=VARCHAR},
      </if>
      <if test="memberQuicklink != null" >
        #{memberQuicklink,jdbcType=VARCHAR},
      </if>
      <if test="memberExppoints != null" >
        #{memberExppoints,jdbcType=INTEGER},
      </if>
      <if test="memberGrade != null" >
        #{memberGrade,jdbcType=CHAR},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="clientId != null" >
        #{clientId,jdbcType=VARCHAR},
      </if>
      <if test="referrer != null" >
        #{referrer,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDistribution != null" >
        #{isDistribution,jdbcType=INTEGER},
      </if>
      <if test="memberPayPasswordQuestions != null" >
        #{memberPayPasswordQuestions,jdbcType=VARCHAR},
      </if>
      <if test="memberPayPasswordAnswers != null" >
        #{memberPayPasswordAnswers,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=CHAR},
      </if>
      <if test="attestationFlag != null" >
        #{attestationFlag,jdbcType=INTEGER},
      </if>
      <if test="payState != null" >
        #{payState,jdbcType=INTEGER},
      </if>
      <if test="deposit != null" >
        #{deposit,jdbcType=DECIMAL},
      </if>
      <if test="memberWxinfo != null" >
        #{memberWxinfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="memberQqinfo != null" >
        #{memberQqinfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="memberSinainfo != null" >
        #{memberSinainfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="memberPrivacy != null" >
        #{memberPrivacy,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.model.mysql.member.TbUrsMemberWithBLOBs" >
    update tb_urs_member
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=CHAR},
      </if>
      <if test="appName != null" >
        app_name = #{appName,jdbcType=VARCHAR},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="appVersion != null" >
        app_version = #{appVersion,jdbcType=CHAR},
      </if>
      <if test="memberName != null" >
        member_name = #{memberName,jdbcType=CHAR},
      </if>
      <if test="memberTruename != null" >
        member_truename = #{memberTruename,jdbcType=CHAR},
      </if>
      <if test="memberAvatar != null" >
        member_avatar = #{memberAvatar,jdbcType=CHAR},
      </if>
      <if test="memberSex != null" >
        member_sex = #{memberSex,jdbcType=INTEGER},
      </if>
      <if test="idcard != null" >
        idcard = #{idcard,jdbcType=CHAR},
      </if>
      <if test="memberBirthday != null" >
        member_birthday = #{memberBirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="memberPasswd != null" >
        member_passwd = #{memberPasswd,jdbcType=CHAR},
      </if>
      <if test="memberPaypwd != null" >
        member_paypwd = #{memberPaypwd,jdbcType=CHAR},
      </if>
      <if test="memberEmail != null" >
        member_email = #{memberEmail,jdbcType=CHAR},
      </if>
      <if test="memberEmailBind != null" >
        member_email_bind = #{memberEmailBind,jdbcType=INTEGER},
      </if>
      <if test="memberMobile != null" >
        member_mobile = #{memberMobile,jdbcType=CHAR},
      </if>
      <if test="memberMobileBind != null" >
        member_mobile_bind = #{memberMobileBind,jdbcType=INTEGER},
      </if>
      <if test="memberQq != null" >
        member_qq = #{memberQq,jdbcType=CHAR},
      </if>
      <if test="memberWw != null" >
        member_ww = #{memberWw,jdbcType=CHAR},
      </if>
      <if test="memberLoginNum != null" >
        member_login_num = #{memberLoginNum,jdbcType=INTEGER},
      </if>
      <if test="memberTime != null" >
        member_time = #{memberTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memberLoginTime != null" >
        member_login_time = #{memberLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memberOldLoginTime != null" >
        member_old_login_time = #{memberOldLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memberLoginIp != null" >
        member_login_ip = #{memberLoginIp,jdbcType=CHAR},
      </if>
      <if test="memberOldLoginIp != null" >
        member_old_login_ip = #{memberOldLoginIp,jdbcType=CHAR},
      </if>
      <if test="memberExitTime != null" >
        member_exit_time = #{memberExitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memberWxopenid != null" >
        member_wxopenid = #{memberWxopenid,jdbcType=VARCHAR},
      </if>
      <if test="memberQqopenid != null" >
        member_qqopenid = #{memberQqopenid,jdbcType=VARCHAR},
      </if>
      <if test="memberSinaopenid != null" >
        member_sinaopenid = #{memberSinaopenid,jdbcType=VARCHAR},
      </if>
      <if test="memberPoints != null" >
        member_points = #{memberPoints,jdbcType=INTEGER},
      </if>
      <if test="availablePredeposit != null" >
        available_predeposit = #{availablePredeposit,jdbcType=DECIMAL},
      </if>
      <if test="freezePredeposit != null" >
        freeze_predeposit = #{freezePredeposit,jdbcType=DECIMAL},
      </if>
      <if test="availableRcBalance != null" >
        available_rc_balance = #{availableRcBalance,jdbcType=DECIMAL},
      </if>
      <if test="freezeRcBalance != null" >
        freeze_rc_balance = #{freezeRcBalance,jdbcType=DECIMAL},
      </if>
      <if test="informAllow != null" >
        inform_allow = #{informAllow,jdbcType=INTEGER},
      </if>
      <if test="isBuy != null" >
        is_buy = #{isBuy,jdbcType=INTEGER},
      </if>
      <if test="isAllowtalk != null" >
        is_allowtalk = #{isAllowtalk,jdbcType=INTEGER},
      </if>
      <if test="memberState != null" >
        member_state = #{memberState,jdbcType=INTEGER},
      </if>
      <if test="memberSnsvisitnum != null" >
        member_snsvisitnum = #{memberSnsvisitnum,jdbcType=INTEGER},
      </if>
      <if test="memberAreaid != null" >
        member_areaid = #{memberAreaid,jdbcType=INTEGER},
      </if>
      <if test="memberCityid != null" >
        member_cityid = #{memberCityid,jdbcType=INTEGER},
      </if>
      <if test="memberProvinceid != null" >
        member_provinceid = #{memberProvinceid,jdbcType=INTEGER},
      </if>
      <if test="memberAreainfo != null" >
        member_areainfo = #{memberAreainfo,jdbcType=VARCHAR},
      </if>
      <if test="memberQuicklink != null" >
        member_quicklink = #{memberQuicklink,jdbcType=VARCHAR},
      </if>
      <if test="memberExppoints != null" >
        member_exppoints = #{memberExppoints,jdbcType=INTEGER},
      </if>
      <if test="memberGrade != null" >
        member_grade = #{memberGrade,jdbcType=CHAR},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="clientId != null" >
        client_id = #{clientId,jdbcType=VARCHAR},
      </if>
      <if test="referrer != null" >
        referrer = #{referrer,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDistribution != null" >
        is_distribution = #{isDistribution,jdbcType=INTEGER},
      </if>
      <if test="memberPayPasswordQuestions != null" >
        member_pay_password_questions = #{memberPayPasswordQuestions,jdbcType=VARCHAR},
      </if>
      <if test="memberPayPasswordAnswers != null" >
        member_pay_password_answers = #{memberPayPasswordAnswers,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=CHAR},
      </if>
      <if test="attestationFlag != null" >
        attestation_flag = #{attestationFlag,jdbcType=INTEGER},
      </if>
      <if test="payState != null" >
        pay_state = #{payState,jdbcType=INTEGER},
      </if>
      <if test="deposit != null" >
        deposit = #{deposit,jdbcType=DECIMAL},
      </if>
      <if test="memberWxinfo != null" >
        member_wxinfo = #{memberWxinfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="memberQqinfo != null" >
        member_qqinfo = #{memberQqinfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="memberSinainfo != null" >
        member_sinainfo = #{memberSinainfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="memberPrivacy != null" >
        member_privacy = #{memberPrivacy,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where member_id = #{memberId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.kooing.model.mysql.member.TbUrsMemberWithBLOBs" >
    update tb_urs_member
    set uuid = #{uuid,jdbcType=CHAR},
      app_name = #{appName,jdbcType=VARCHAR},
      app_id = #{appId,jdbcType=INTEGER},
      app_version = #{appVersion,jdbcType=CHAR},
      member_name = #{memberName,jdbcType=CHAR},
      member_truename = #{memberTruename,jdbcType=CHAR},
      member_avatar = #{memberAvatar,jdbcType=CHAR},
      member_sex = #{memberSex,jdbcType=INTEGER},
      idcard = #{idcard,jdbcType=CHAR},
      member_birthday = #{memberBirthday,jdbcType=TIMESTAMP},
      member_passwd = #{memberPasswd,jdbcType=CHAR},
      member_paypwd = #{memberPaypwd,jdbcType=CHAR},
      member_email = #{memberEmail,jdbcType=CHAR},
      member_email_bind = #{memberEmailBind,jdbcType=INTEGER},
      member_mobile = #{memberMobile,jdbcType=CHAR},
      member_mobile_bind = #{memberMobileBind,jdbcType=INTEGER},
      member_qq = #{memberQq,jdbcType=CHAR},
      member_ww = #{memberWw,jdbcType=CHAR},
      member_login_num = #{memberLoginNum,jdbcType=INTEGER},
      member_time = #{memberTime,jdbcType=TIMESTAMP},
      member_login_time = #{memberLoginTime,jdbcType=TIMESTAMP},
      member_old_login_time = #{memberOldLoginTime,jdbcType=TIMESTAMP},
      member_login_ip = #{memberLoginIp,jdbcType=CHAR},
      member_old_login_ip = #{memberOldLoginIp,jdbcType=CHAR},
      member_exit_time = #{memberExitTime,jdbcType=TIMESTAMP},
      member_wxopenid = #{memberWxopenid,jdbcType=VARCHAR},
      member_qqopenid = #{memberQqopenid,jdbcType=VARCHAR},
      member_sinaopenid = #{memberSinaopenid,jdbcType=VARCHAR},
      member_points = #{memberPoints,jdbcType=INTEGER},
      available_predeposit = #{availablePredeposit,jdbcType=DECIMAL},
      freeze_predeposit = #{freezePredeposit,jdbcType=DECIMAL},
      available_rc_balance = #{availableRcBalance,jdbcType=DECIMAL},
      freeze_rc_balance = #{freezeRcBalance,jdbcType=DECIMAL},
      inform_allow = #{informAllow,jdbcType=INTEGER},
      is_buy = #{isBuy,jdbcType=INTEGER},
      is_allowtalk = #{isAllowtalk,jdbcType=INTEGER},
      member_state = #{memberState,jdbcType=INTEGER},
      member_snsvisitnum = #{memberSnsvisitnum,jdbcType=INTEGER},
      member_areaid = #{memberAreaid,jdbcType=INTEGER},
      member_cityid = #{memberCityid,jdbcType=INTEGER},
      member_provinceid = #{memberProvinceid,jdbcType=INTEGER},
      member_areainfo = #{memberAreainfo,jdbcType=VARCHAR},
      member_quicklink = #{memberQuicklink,jdbcType=VARCHAR},
      member_exppoints = #{memberExppoints,jdbcType=INTEGER},
      member_grade = #{memberGrade,jdbcType=CHAR},
      store_id = #{storeId,jdbcType=INTEGER},
      client_id = #{clientId,jdbcType=VARCHAR},
      referrer = #{referrer,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_distribution = #{isDistribution,jdbcType=INTEGER},
      member_pay_password_questions = #{memberPayPasswordQuestions,jdbcType=VARCHAR},
      member_pay_password_answers = #{memberPayPasswordAnswers,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=CHAR},
      attestation_flag = #{attestationFlag,jdbcType=INTEGER},
      pay_state = #{payState,jdbcType=INTEGER},
      deposit = #{deposit,jdbcType=DECIMAL},
      member_wxinfo = #{memberWxinfo,jdbcType=LONGVARCHAR},
      member_qqinfo = #{memberQqinfo,jdbcType=LONGVARCHAR},
      member_sinainfo = #{memberSinainfo,jdbcType=LONGVARCHAR},
      member_privacy = #{memberPrivacy,jdbcType=LONGVARCHAR}
    where member_id = #{memberId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.model.mysql.member.TbUrsMember" >
    update tb_urs_member
    set uuid = #{uuid,jdbcType=CHAR},
      app_name = #{appName,jdbcType=VARCHAR},
      app_id = #{appId,jdbcType=INTEGER},
      app_version = #{appVersion,jdbcType=CHAR},
      member_name = #{memberName,jdbcType=CHAR},
      member_truename = #{memberTruename,jdbcType=CHAR},
      member_avatar = #{memberAvatar,jdbcType=CHAR},
      member_sex = #{memberSex,jdbcType=INTEGER},
      idcard = #{idcard,jdbcType=CHAR},
      member_birthday = #{memberBirthday,jdbcType=TIMESTAMP},
      member_passwd = #{memberPasswd,jdbcType=CHAR},
      member_paypwd = #{memberPaypwd,jdbcType=CHAR},
      member_email = #{memberEmail,jdbcType=CHAR},
      member_email_bind = #{memberEmailBind,jdbcType=INTEGER},
      member_mobile = #{memberMobile,jdbcType=CHAR},
      member_mobile_bind = #{memberMobileBind,jdbcType=INTEGER},
      member_qq = #{memberQq,jdbcType=CHAR},
      member_ww = #{memberWw,jdbcType=CHAR},
      member_login_num = #{memberLoginNum,jdbcType=INTEGER},
      member_time = #{memberTime,jdbcType=TIMESTAMP},
      member_login_time = #{memberLoginTime,jdbcType=TIMESTAMP},
      member_old_login_time = #{memberOldLoginTime,jdbcType=TIMESTAMP},
      member_login_ip = #{memberLoginIp,jdbcType=CHAR},
      member_old_login_ip = #{memberOldLoginIp,jdbcType=CHAR},
      member_exit_time = #{memberExitTime,jdbcType=TIMESTAMP},
      member_wxopenid = #{memberWxopenid,jdbcType=VARCHAR},
      member_qqopenid = #{memberQqopenid,jdbcType=VARCHAR},
      member_sinaopenid = #{memberSinaopenid,jdbcType=VARCHAR},
      member_points = #{memberPoints,jdbcType=INTEGER},
      available_predeposit = #{availablePredeposit,jdbcType=DECIMAL},
      freeze_predeposit = #{freezePredeposit,jdbcType=DECIMAL},
      available_rc_balance = #{availableRcBalance,jdbcType=DECIMAL},
      freeze_rc_balance = #{freezeRcBalance,jdbcType=DECIMAL},
      inform_allow = #{informAllow,jdbcType=INTEGER},
      is_buy = #{isBuy,jdbcType=INTEGER},
      is_allowtalk = #{isAllowtalk,jdbcType=INTEGER},
      member_state = #{memberState,jdbcType=INTEGER},
      member_snsvisitnum = #{memberSnsvisitnum,jdbcType=INTEGER},
      member_areaid = #{memberAreaid,jdbcType=INTEGER},
      member_cityid = #{memberCityid,jdbcType=INTEGER},
      member_provinceid = #{memberProvinceid,jdbcType=INTEGER},
      member_areainfo = #{memberAreainfo,jdbcType=VARCHAR},
      member_quicklink = #{memberQuicklink,jdbcType=VARCHAR},
      member_exppoints = #{memberExppoints,jdbcType=INTEGER},
      member_grade = #{memberGrade,jdbcType=CHAR},
      store_id = #{storeId,jdbcType=INTEGER},
      client_id = #{clientId,jdbcType=VARCHAR},
      referrer = #{referrer,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_distribution = #{isDistribution,jdbcType=INTEGER},
      member_pay_password_questions = #{memberPayPasswordQuestions,jdbcType=VARCHAR},
      member_pay_password_answers = #{memberPayPasswordAnswers,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=CHAR},
      attestation_flag = #{attestationFlag,jdbcType=INTEGER},
      pay_state = #{payState,jdbcType=INTEGER},
      deposit = #{deposit,jdbcType=DECIMAL}
    where member_id = #{memberId,jdbcType=INTEGER}
  </update>
</mapper>