<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kooing.saas.persistent.dao.login.TbAccessMapper">
    <resultMap id="BaseResultMap" type="com.kooing.saas.persistent.model.login.TbAccess">
        <id column="access_id" jdbcType="INTEGER" property="accessId"/>
        <result column="access_url" jdbcType="VARCHAR" property="accessUrl"/>
    </resultMap>
    <sql id="Base_Column_List">
    access_id, access_url
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_access
        where access_id = #{accessId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_access
    where access_id = #{accessId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.kooing.saas.persistent.model.login.TbAccess">
    insert into tb_access (access_id, access_url)
    values (#{accessId,jdbcType=INTEGER}, #{accessUrl,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.kooing.saas.persistent.model.login.TbAccess">
        insert into tb_access
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="accessId != null">
                access_id,
            </if>
            <if test="accessUrl != null">
                access_url,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="accessId != null">
                #{accessId,jdbcType=INTEGER},
            </if>
            <if test="accessUrl != null">
                #{accessUrl,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.kooing.saas.persistent.model.login.TbAccess">
        update tb_access
        <set>
            <if test="accessUrl != null">
                access_url = #{accessUrl,jdbcType=VARCHAR},
            </if>
        </set>
        where access_id = #{accessId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.kooing.saas.persistent.model.login.TbAccess">
    update tb_access
    set access_url = #{accessUrl,jdbcType=VARCHAR}
    where access_id = #{accessId,jdbcType=INTEGER}
  </update>
    <select id="getUrlList" parameterType="java.util.ArrayList" resultType="java.lang.String">
        SELECT access_url
        FROM tb_access
        <where>
            <foreach collection="list" item="item" open="access_id IN (" close=")"
                     separator=",">
                #{item}
            </foreach>
        </where>
    </select>
    <select id="getAccessUrl" parameterType="java.lang.Integer" resultType="java.lang.String">
        SELECT
        distinct access_url
        FROM
            tb_role_access,
            tb_access,
          tb_role,
            tb_role_member
        <where>
        AND tb_role_member.role_id=tb_role_access.role_id
        AND tb_access.access_id = tb_role_access.access_id
        AND tb_role.role_id = tb_role_member.role_id
        AND tb_role_member.member_id =#{memberId}
        </where>
  </select>
</mapper>