<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kooing.Interface.mysql.comment.TbShopEvaluateStoreMapper" >
  <resultMap id="BaseResultMap" type="com.kooing.model.mysql.comment.TbShopEvaluateStore" >
    <id column="seval_id" property="sevalId" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="seval_orderid" property="sevalOrderid" jdbcType="INTEGER" />
    <result column="seval_orderno" property="sevalOrderno" jdbcType="CHAR" />
    <result column="seval_addtime" property="sevalAddtime" jdbcType="TIMESTAMP" />
    <result column="seval_storeid" property="sevalStoreid" jdbcType="INTEGER" />
    <result column="seval_storename" property="sevalStorename" jdbcType="CHAR" />
    <result column="seval_memberid" property="sevalMemberid" jdbcType="INTEGER" />
    <result column="seval_membername" property="sevalMembername" jdbcType="CHAR" />
    <result column="seval_desccredit" property="sevalDesccredit" jdbcType="BIT" />
    <result column="seval_servicecredit" property="sevalServicecredit" jdbcType="BIT" />
    <result column="seval_deliverycredit" property="sevalDeliverycredit" jdbcType="BIT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    seval_id, uuid, app_id, seval_orderid, seval_orderno, seval_addtime, seval_storeid, 
    seval_storename, seval_memberid, seval_membername, seval_desccredit, seval_servicecredit, 
    seval_deliverycredit, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_shop_evaluate_store
    where seval_id = #{sevalId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_shop_evaluate_store
    where seval_id = #{sevalId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kooing.model.mysql.comment.TbShopEvaluateStore" >
    insert into tb_shop_evaluate_store (seval_id, uuid, app_id, 
      seval_orderid, seval_orderno, seval_addtime, 
      seval_storeid, seval_storename, seval_memberid, 
      seval_membername, seval_desccredit, seval_servicecredit, 
      seval_deliverycredit, update_time)
    values (#{sevalId,jdbcType=INTEGER}, #{uuid,jdbcType=CHAR}, #{appId,jdbcType=INTEGER}, 
      #{sevalOrderid,jdbcType=INTEGER}, #{sevalOrderno,jdbcType=CHAR}, #{sevalAddtime,jdbcType=TIMESTAMP}, 
      #{sevalStoreid,jdbcType=INTEGER}, #{sevalStorename,jdbcType=CHAR}, #{sevalMemberid,jdbcType=INTEGER}, 
      #{sevalMembername,jdbcType=CHAR}, #{sevalDesccredit,jdbcType=BIT}, #{sevalServicecredit,jdbcType=BIT}, 
      #{sevalDeliverycredit,jdbcType=BIT}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.model.mysql.comment.TbShopEvaluateStore" >
    insert into tb_shop_evaluate_store
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sevalId != null" >
        seval_id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="sevalOrderid != null" >
        seval_orderid,
      </if>
      <if test="sevalOrderno != null" >
        seval_orderno,
      </if>
      <if test="sevalAddtime != null" >
        seval_addtime,
      </if>
      <if test="sevalStoreid != null" >
        seval_storeid,
      </if>
      <if test="sevalStorename != null" >
        seval_storename,
      </if>
      <if test="sevalMemberid != null" >
        seval_memberid,
      </if>
      <if test="sevalMembername != null" >
        seval_membername,
      </if>
      <if test="sevalDesccredit != null" >
        seval_desccredit,
      </if>
      <if test="sevalServicecredit != null" >
        seval_servicecredit,
      </if>
      <if test="sevalDeliverycredit != null" >
        seval_deliverycredit,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sevalId != null" >
        #{sevalId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="sevalOrderid != null" >
        #{sevalOrderid,jdbcType=INTEGER},
      </if>
      <if test="sevalOrderno != null" >
        #{sevalOrderno,jdbcType=CHAR},
      </if>
      <if test="sevalAddtime != null" >
        #{sevalAddtime,jdbcType=TIMESTAMP},
      </if>
      <if test="sevalStoreid != null" >
        #{sevalStoreid,jdbcType=INTEGER},
      </if>
      <if test="sevalStorename != null" >
        #{sevalStorename,jdbcType=CHAR},
      </if>
      <if test="sevalMemberid != null" >
        #{sevalMemberid,jdbcType=INTEGER},
      </if>
      <if test="sevalMembername != null" >
        #{sevalMembername,jdbcType=CHAR},
      </if>
      <if test="sevalDesccredit != null" >
        #{sevalDesccredit,jdbcType=BIT},
      </if>
      <if test="sevalServicecredit != null" >
        #{sevalServicecredit,jdbcType=BIT},
      </if>
      <if test="sevalDeliverycredit != null" >
        #{sevalDeliverycredit,jdbcType=BIT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.model.mysql.comment.TbShopEvaluateStore" >
    update tb_shop_evaluate_store
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="sevalOrderid != null" >
        seval_orderid = #{sevalOrderid,jdbcType=INTEGER},
      </if>
      <if test="sevalOrderno != null" >
        seval_orderno = #{sevalOrderno,jdbcType=CHAR},
      </if>
      <if test="sevalAddtime != null" >
        seval_addtime = #{sevalAddtime,jdbcType=TIMESTAMP},
      </if>
      <if test="sevalStoreid != null" >
        seval_storeid = #{sevalStoreid,jdbcType=INTEGER},
      </if>
      <if test="sevalStorename != null" >
        seval_storename = #{sevalStorename,jdbcType=CHAR},
      </if>
      <if test="sevalMemberid != null" >
        seval_memberid = #{sevalMemberid,jdbcType=INTEGER},
      </if>
      <if test="sevalMembername != null" >
        seval_membername = #{sevalMembername,jdbcType=CHAR},
      </if>
      <if test="sevalDesccredit != null" >
        seval_desccredit = #{sevalDesccredit,jdbcType=BIT},
      </if>
      <if test="sevalServicecredit != null" >
        seval_servicecredit = #{sevalServicecredit,jdbcType=BIT},
      </if>
      <if test="sevalDeliverycredit != null" >
        seval_deliverycredit = #{sevalDeliverycredit,jdbcType=BIT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where seval_id = #{sevalId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.model.mysql.comment.TbShopEvaluateStore" >
    update tb_shop_evaluate_store
    set uuid = #{uuid,jdbcType=CHAR},
      app_id = #{appId,jdbcType=INTEGER},
      seval_orderid = #{sevalOrderid,jdbcType=INTEGER},
      seval_orderno = #{sevalOrderno,jdbcType=CHAR},
      seval_addtime = #{sevalAddtime,jdbcType=TIMESTAMP},
      seval_storeid = #{sevalStoreid,jdbcType=INTEGER},
      seval_storename = #{sevalStorename,jdbcType=CHAR},
      seval_memberid = #{sevalMemberid,jdbcType=INTEGER},
      seval_membername = #{sevalMembername,jdbcType=CHAR},
      seval_desccredit = #{sevalDesccredit,jdbcType=BIT},
      seval_servicecredit = #{sevalServicecredit,jdbcType=BIT},
      seval_deliverycredit = #{sevalDeliverycredit,jdbcType=BIT},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where seval_id = #{sevalId,jdbcType=INTEGER}
  </update>
</mapper>