<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kooing.Interface.mysql.comment.TbShopEvaluateGoodsMapper" >
  <resultMap id="BaseResultMap" type="com.kooing.model.mysql.comment.TbShopEvaluateGoods" >
    <id column="geval_id" property="gevalId" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="geval_orderid" property="gevalOrderid" jdbcType="INTEGER" />
    <result column="geval_orderno" property="gevalOrderno" jdbcType="CHAR" />
    <result column="geval_ordergoodsid" property="gevalOrdergoodsid" jdbcType="INTEGER" />
    <result column="geval_goodsid" property="gevalGoodsid" jdbcType="INTEGER" />
    <result column="geval_goodsname" property="gevalGoodsname" jdbcType="CHAR" />
    <result column="geval_goodsprice" property="gevalGoodsprice" jdbcType="DECIMAL" />
    <result column="geval_goodsimage" property="gevalGoodsimage" jdbcType="VARCHAR" />
    <result column="geval_scores" property="gevalScores" jdbcType="BIT" />
    <result column="geval_content" property="gevalContent" jdbcType="VARCHAR" />
    <result column="geval_isanonymous" property="gevalIsanonymous" jdbcType="BIT" />
    <result column="geval_addtime" property="gevalAddtime" jdbcType="TIMESTAMP" />
    <result column="geval_storeid" property="gevalStoreid" jdbcType="INTEGER" />
    <result column="geval_storename" property="gevalStorename" jdbcType="VARCHAR" />
    <result column="geval_frommemberid" property="gevalFrommemberid" jdbcType="INTEGER" />
    <result column="geval_frommembername" property="gevalFrommembername" jdbcType="VARCHAR" />
    <result column="geval_state" property="gevalState" jdbcType="BIT" />
    <result column="geval_remark" property="gevalRemark" jdbcType="VARCHAR" />
    <result column="geval_explain" property="gevalExplain" jdbcType="VARCHAR" />
    <result column="geval_image" property="gevalImage" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    geval_id, uuid, app_id, geval_orderid, geval_orderno, geval_ordergoodsid, geval_goodsid, 
    geval_goodsname, geval_goodsprice, geval_goodsimage, geval_scores, geval_content, 
    geval_isanonymous, geval_addtime, geval_storeid, geval_storename, geval_frommemberid, 
    geval_frommembername, geval_state, geval_remark, geval_explain, geval_image, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_shop_evaluate_goods
    where geval_id = #{gevalId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_shop_evaluate_goods
    where geval_id = #{gevalId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kooing.model.mysql.comment.TbShopEvaluateGoods" >
    insert into tb_shop_evaluate_goods (geval_id, uuid, app_id, 
      geval_orderid, geval_orderno, geval_ordergoodsid, 
      geval_goodsid, geval_goodsname, geval_goodsprice, 
      geval_goodsimage, geval_scores, geval_content, 
      geval_isanonymous, geval_addtime, geval_storeid, 
      geval_storename, geval_frommemberid, geval_frommembername, 
      geval_state, geval_remark, geval_explain, 
      geval_image, update_time)
    values (#{gevalId,jdbcType=INTEGER}, #{uuid,jdbcType=CHAR}, #{appId,jdbcType=INTEGER}, 
      #{gevalOrderid,jdbcType=INTEGER}, #{gevalOrderno,jdbcType=CHAR}, #{gevalOrdergoodsid,jdbcType=INTEGER}, 
      #{gevalGoodsid,jdbcType=INTEGER}, #{gevalGoodsname,jdbcType=CHAR}, #{gevalGoodsprice,jdbcType=DECIMAL}, 
      #{gevalGoodsimage,jdbcType=VARCHAR}, #{gevalScores,jdbcType=BIT}, #{gevalContent,jdbcType=VARCHAR}, 
      #{gevalIsanonymous,jdbcType=BIT}, #{gevalAddtime,jdbcType=TIMESTAMP}, #{gevalStoreid,jdbcType=INTEGER}, 
      #{gevalStorename,jdbcType=VARCHAR}, #{gevalFrommemberid,jdbcType=INTEGER}, #{gevalFrommembername,jdbcType=VARCHAR}, 
      #{gevalState,jdbcType=BIT}, #{gevalRemark,jdbcType=VARCHAR}, #{gevalExplain,jdbcType=VARCHAR}, 
      #{gevalImage,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.model.mysql.comment.TbShopEvaluateGoods" >
    insert into tb_shop_evaluate_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gevalId != null" >
        geval_id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="gevalOrderid != null" >
        geval_orderid,
      </if>
      <if test="gevalOrderno != null" >
        geval_orderno,
      </if>
      <if test="gevalOrdergoodsid != null" >
        geval_ordergoodsid,
      </if>
      <if test="gevalGoodsid != null" >
        geval_goodsid,
      </if>
      <if test="gevalGoodsname != null" >
        geval_goodsname,
      </if>
      <if test="gevalGoodsprice != null" >
        geval_goodsprice,
      </if>
      <if test="gevalGoodsimage != null" >
        geval_goodsimage,
      </if>
      <if test="gevalScores != null" >
        geval_scores,
      </if>
      <if test="gevalContent != null" >
        geval_content,
      </if>
      <if test="gevalIsanonymous != null" >
        geval_isanonymous,
      </if>
      <if test="gevalAddtime != null" >
        geval_addtime,
      </if>
      <if test="gevalStoreid != null" >
        geval_storeid,
      </if>
      <if test="gevalStorename != null" >
        geval_storename,
      </if>
      <if test="gevalFrommemberid != null" >
        geval_frommemberid,
      </if>
      <if test="gevalFrommembername != null" >
        geval_frommembername,
      </if>
      <if test="gevalState != null" >
        geval_state,
      </if>
      <if test="gevalRemark != null" >
        geval_remark,
      </if>
      <if test="gevalExplain != null" >
        geval_explain,
      </if>
      <if test="gevalImage != null" >
        geval_image,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gevalId != null" >
        #{gevalId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="gevalOrderid != null" >
        #{gevalOrderid,jdbcType=INTEGER},
      </if>
      <if test="gevalOrderno != null" >
        #{gevalOrderno,jdbcType=CHAR},
      </if>
      <if test="gevalOrdergoodsid != null" >
        #{gevalOrdergoodsid,jdbcType=INTEGER},
      </if>
      <if test="gevalGoodsid != null" >
        #{gevalGoodsid,jdbcType=INTEGER},
      </if>
      <if test="gevalGoodsname != null" >
        #{gevalGoodsname,jdbcType=CHAR},
      </if>
      <if test="gevalGoodsprice != null" >
        #{gevalGoodsprice,jdbcType=DECIMAL},
      </if>
      <if test="gevalGoodsimage != null" >
        #{gevalGoodsimage,jdbcType=VARCHAR},
      </if>
      <if test="gevalScores != null" >
        #{gevalScores,jdbcType=BIT},
      </if>
      <if test="gevalContent != null" >
        #{gevalContent,jdbcType=VARCHAR},
      </if>
      <if test="gevalIsanonymous != null" >
        #{gevalIsanonymous,jdbcType=BIT},
      </if>
      <if test="gevalAddtime != null" >
        #{gevalAddtime,jdbcType=TIMESTAMP},
      </if>
      <if test="gevalStoreid != null" >
        #{gevalStoreid,jdbcType=INTEGER},
      </if>
      <if test="gevalStorename != null" >
        #{gevalStorename,jdbcType=VARCHAR},
      </if>
      <if test="gevalFrommemberid != null" >
        #{gevalFrommemberid,jdbcType=INTEGER},
      </if>
      <if test="gevalFrommembername != null" >
        #{gevalFrommembername,jdbcType=VARCHAR},
      </if>
      <if test="gevalState != null" >
        #{gevalState,jdbcType=BIT},
      </if>
      <if test="gevalRemark != null" >
        #{gevalRemark,jdbcType=VARCHAR},
      </if>
      <if test="gevalExplain != null" >
        #{gevalExplain,jdbcType=VARCHAR},
      </if>
      <if test="gevalImage != null" >
        #{gevalImage,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.model.mysql.comment.TbShopEvaluateGoods" >
    update tb_shop_evaluate_goods
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="gevalOrderid != null" >
        geval_orderid = #{gevalOrderid,jdbcType=INTEGER},
      </if>
      <if test="gevalOrderno != null" >
        geval_orderno = #{gevalOrderno,jdbcType=CHAR},
      </if>
      <if test="gevalOrdergoodsid != null" >
        geval_ordergoodsid = #{gevalOrdergoodsid,jdbcType=INTEGER},
      </if>
      <if test="gevalGoodsid != null" >
        geval_goodsid = #{gevalGoodsid,jdbcType=INTEGER},
      </if>
      <if test="gevalGoodsname != null" >
        geval_goodsname = #{gevalGoodsname,jdbcType=CHAR},
      </if>
      <if test="gevalGoodsprice != null" >
        geval_goodsprice = #{gevalGoodsprice,jdbcType=DECIMAL},
      </if>
      <if test="gevalGoodsimage != null" >
        geval_goodsimage = #{gevalGoodsimage,jdbcType=VARCHAR},
      </if>
      <if test="gevalScores != null" >
        geval_scores = #{gevalScores,jdbcType=BIT},
      </if>
      <if test="gevalContent != null" >
        geval_content = #{gevalContent,jdbcType=VARCHAR},
      </if>
      <if test="gevalIsanonymous != null" >
        geval_isanonymous = #{gevalIsanonymous,jdbcType=BIT},
      </if>
      <if test="gevalAddtime != null" >
        geval_addtime = #{gevalAddtime,jdbcType=TIMESTAMP},
      </if>
      <if test="gevalStoreid != null" >
        geval_storeid = #{gevalStoreid,jdbcType=INTEGER},
      </if>
      <if test="gevalStorename != null" >
        geval_storename = #{gevalStorename,jdbcType=VARCHAR},
      </if>
      <if test="gevalFrommemberid != null" >
        geval_frommemberid = #{gevalFrommemberid,jdbcType=INTEGER},
      </if>
      <if test="gevalFrommembername != null" >
        geval_frommembername = #{gevalFrommembername,jdbcType=VARCHAR},
      </if>
      <if test="gevalState != null" >
        geval_state = #{gevalState,jdbcType=BIT},
      </if>
      <if test="gevalRemark != null" >
        geval_remark = #{gevalRemark,jdbcType=VARCHAR},
      </if>
      <if test="gevalExplain != null" >
        geval_explain = #{gevalExplain,jdbcType=VARCHAR},
      </if>
      <if test="gevalImage != null" >
        geval_image = #{gevalImage,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where geval_id = #{gevalId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.model.mysql.comment.TbShopEvaluateGoods" >
    update tb_shop_evaluate_goods
    set uuid = #{uuid,jdbcType=CHAR},
      app_id = #{appId,jdbcType=INTEGER},
      geval_orderid = #{gevalOrderid,jdbcType=INTEGER},
      geval_orderno = #{gevalOrderno,jdbcType=CHAR},
      geval_ordergoodsid = #{gevalOrdergoodsid,jdbcType=INTEGER},
      geval_goodsid = #{gevalGoodsid,jdbcType=INTEGER},
      geval_goodsname = #{gevalGoodsname,jdbcType=CHAR},
      geval_goodsprice = #{gevalGoodsprice,jdbcType=DECIMAL},
      geval_goodsimage = #{gevalGoodsimage,jdbcType=VARCHAR},
      geval_scores = #{gevalScores,jdbcType=BIT},
      geval_content = #{gevalContent,jdbcType=VARCHAR},
      geval_isanonymous = #{gevalIsanonymous,jdbcType=BIT},
      geval_addtime = #{gevalAddtime,jdbcType=TIMESTAMP},
      geval_storeid = #{gevalStoreid,jdbcType=INTEGER},
      geval_storename = #{gevalStorename,jdbcType=VARCHAR},
      geval_frommemberid = #{gevalFrommemberid,jdbcType=INTEGER},
      geval_frommembername = #{gevalFrommembername,jdbcType=VARCHAR},
      geval_state = #{gevalState,jdbcType=BIT},
      geval_remark = #{gevalRemark,jdbcType=VARCHAR},
      geval_explain = #{gevalExplain,jdbcType=VARCHAR},
      geval_image = #{gevalImage,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where geval_id = #{gevalId,jdbcType=INTEGER}
  </update>
</mapper>