<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kooing.Interface.mysql.comment.TbShopSnsCommentMapper" >
  <resultMap id="BaseResultMap" type="com.kooing.model.mysql.comment.TbShopSnsComment" >
    <id column="scomm_id" property="scommId" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="strace_id" property="straceId" jdbcType="INTEGER" />
    <result column="scomm_memberid" property="scommMemberid" jdbcType="INTEGER" />
    <result column="scomm_membername" property="scommMembername" jdbcType="CHAR" />
    <result column="scomm_memberavatar" property="scommMemberavatar" jdbcType="VARCHAR" />
    <result column="scomm_time" property="scommTime" jdbcType="TIMESTAMP" />
    <result column="scomm_state" property="scommState" jdbcType="BIT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.kooing.model.mysql.comment.TbShopSnsComment" extends="BaseResultMap" >
    <result column="scomm_content" property="scommContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    scomm_id, uuid, app_id, strace_id, scomm_memberid, scomm_membername, scomm_memberavatar, 
    scomm_time, scomm_state, update_time
  </sql>
  <sql id="Blob_Column_List" >
    scomm_content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_shop_sns_comment
    where scomm_id = #{scommId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_shop_sns_comment
    where scomm_id = #{scommId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kooing.model.mysql.comment.TbShopSnsComment" >
    insert into tb_shop_sns_comment (scomm_id, uuid, app_id, 
      strace_id, scomm_memberid, scomm_membername, 
      scomm_memberavatar, scomm_time, scomm_state, 
      update_time, scomm_content)
    values (#{scommId,jdbcType=INTEGER}, #{uuid,jdbcType=CHAR}, #{appId,jdbcType=INTEGER}, 
      #{straceId,jdbcType=INTEGER}, #{scommMemberid,jdbcType=INTEGER}, #{scommMembername,jdbcType=CHAR}, 
      #{scommMemberavatar,jdbcType=VARCHAR}, #{scommTime,jdbcType=TIMESTAMP}, #{scommState,jdbcType=BIT}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{scommContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.model.mysql.comment.TbShopSnsComment" >
    insert into tb_shop_sns_comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="scommId != null" >
        scomm_id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="straceId != null" >
        strace_id,
      </if>
      <if test="scommMemberid != null" >
        scomm_memberid,
      </if>
      <if test="scommMembername != null" >
        scomm_membername,
      </if>
      <if test="scommMemberavatar != null" >
        scomm_memberavatar,
      </if>
      <if test="scommTime != null" >
        scomm_time,
      </if>
      <if test="scommState != null" >
        scomm_state,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="scommContent != null" >
        scomm_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="scommId != null" >
        #{scommId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="straceId != null" >
        #{straceId,jdbcType=INTEGER},
      </if>
      <if test="scommMemberid != null" >
        #{scommMemberid,jdbcType=INTEGER},
      </if>
      <if test="scommMembername != null" >
        #{scommMembername,jdbcType=CHAR},
      </if>
      <if test="scommMemberavatar != null" >
        #{scommMemberavatar,jdbcType=VARCHAR},
      </if>
      <if test="scommTime != null" >
        #{scommTime,jdbcType=TIMESTAMP},
      </if>
      <if test="scommState != null" >
        #{scommState,jdbcType=BIT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="scommContent != null" >
        #{scommContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.model.mysql.comment.TbShopSnsComment" >
    update tb_shop_sns_comment
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="straceId != null" >
        strace_id = #{straceId,jdbcType=INTEGER},
      </if>
      <if test="scommMemberid != null" >
        scomm_memberid = #{scommMemberid,jdbcType=INTEGER},
      </if>
      <if test="scommMembername != null" >
        scomm_membername = #{scommMembername,jdbcType=CHAR},
      </if>
      <if test="scommMemberavatar != null" >
        scomm_memberavatar = #{scommMemberavatar,jdbcType=VARCHAR},
      </if>
      <if test="scommTime != null" >
        scomm_time = #{scommTime,jdbcType=TIMESTAMP},
      </if>
      <if test="scommState != null" >
        scomm_state = #{scommState,jdbcType=BIT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="scommContent != null" >
        scomm_content = #{scommContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where scomm_id = #{scommId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.kooing.model.mysql.comment.TbShopSnsComment" >
    update tb_shop_sns_comment
    set uuid = #{uuid,jdbcType=CHAR},
      app_id = #{appId,jdbcType=INTEGER},
      strace_id = #{straceId,jdbcType=INTEGER},
      scomm_memberid = #{scommMemberid,jdbcType=INTEGER},
      scomm_membername = #{scommMembername,jdbcType=CHAR},
      scomm_memberavatar = #{scommMemberavatar,jdbcType=VARCHAR},
      scomm_time = #{scommTime,jdbcType=TIMESTAMP},
      scomm_state = #{scommState,jdbcType=BIT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      scomm_content = #{scommContent,jdbcType=LONGVARCHAR}
    where scomm_id = #{scommId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.model.mysql.comment.TbShopSnsComment" >
    update tb_shop_sns_comment
    set uuid = #{uuid,jdbcType=CHAR},
      app_id = #{appId,jdbcType=INTEGER},
      strace_id = #{straceId,jdbcType=INTEGER},
      scomm_memberid = #{scommMemberid,jdbcType=INTEGER},
      scomm_membername = #{scommMembername,jdbcType=CHAR},
      scomm_memberavatar = #{scommMemberavatar,jdbcType=VARCHAR},
      scomm_time = #{scommTime,jdbcType=TIMESTAMP},
      scomm_state = #{scommState,jdbcType=BIT},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where scomm_id = #{scommId,jdbcType=INTEGER}
  </update>
</mapper>