<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kooing.Interface.mysql.comment.TbUrsGoodsCommentMapper" >
  <resultMap id="BaseResultMap" type="com.kooing.model.mysql.comment.TbUrsGoodsComment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="order_goods_id" property="orderGoodsId" jdbcType="INTEGER" />
    <result column="comment_type" property="commentType" jdbcType="CHAR" />
    <result column="is_hidden_name" property="isHiddenName" jdbcType="INTEGER" />
    <result column="virtual_user_avatar" property="virtualUserAvatar" jdbcType="VARCHAR" />
    <result column="virtual_user_name" property="virtualUserName" jdbcType="CHAR" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="goods_commonid" property="goodsCommonid" jdbcType="INTEGER" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="member_id" property="memberId" jdbcType="INTEGER" />
    <result column="quality_mark" property="qualityMark" jdbcType="INTEGER" />
    <result column="service_mark" property="serviceMark" jdbcType="INTEGER" />
    <result column="logistics_mark" property="logisticsMark" jdbcType="INTEGER" />
    <result column="count_state" property="countState" jdbcType="INTEGER" />
    <result column="comment_time" property="commentTime" jdbcType="TIMESTAMP" />
    <result column="gc_id" property="gcId" jdbcType="INTEGER" />
    <result column="gc_id_1" property="gcId1" jdbcType="INTEGER" />
    <result column="gc_id_2" property="gcId2" jdbcType="INTEGER" />
    <result column="gc_id_3" property="gcId3" jdbcType="INTEGER" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="delete_state" property="deleteState" jdbcType="CHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.kooing.model.mysql.comment.TbUrsGoodsComment" extends="BaseResultMap" >
    <result column="comment_content" property="commentContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uuid, app_id, type, order_id, order_goods_id, comment_type, is_hidden_name, virtual_user_avatar, 
    virtual_user_name, goods_id, goods_commonid, store_id, member_id, quality_mark, service_mark, 
    logistics_mark, count_state, comment_time, gc_id, gc_id_1, gc_id_2, gc_id_3, goods_name, 
    update_time, delete_state
  </sql>
  <sql id="Blob_Column_List" >
    comment_content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_urs_goods_comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_urs_goods_comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kooing.model.mysql.comment.TbUrsGoodsComment" >
    insert into tb_urs_goods_comment (id, uuid, app_id, 
      type, order_id, order_goods_id, 
      comment_type, is_hidden_name, virtual_user_avatar, 
      virtual_user_name, goods_id, goods_commonid, 
      store_id, member_id, quality_mark, 
      service_mark, logistics_mark, count_state, 
      comment_time, gc_id, gc_id_1, 
      gc_id_2, gc_id_3, goods_name, 
      update_time, delete_state, comment_content
      )
    values (#{id,jdbcType=INTEGER}, #{uuid,jdbcType=CHAR}, #{appId,jdbcType=INTEGER}, 
      #{type,jdbcType=CHAR}, #{orderId,jdbcType=INTEGER}, #{orderGoodsId,jdbcType=INTEGER}, 
      #{commentType,jdbcType=CHAR}, #{isHiddenName,jdbcType=INTEGER}, #{virtualUserAvatar,jdbcType=VARCHAR}, 
      #{virtualUserName,jdbcType=CHAR}, #{goodsId,jdbcType=INTEGER}, #{goodsCommonid,jdbcType=INTEGER}, 
      #{storeId,jdbcType=INTEGER}, #{memberId,jdbcType=INTEGER}, #{qualityMark,jdbcType=INTEGER}, 
      #{serviceMark,jdbcType=INTEGER}, #{logisticsMark,jdbcType=INTEGER}, #{countState,jdbcType=INTEGER}, 
      #{commentTime,jdbcType=TIMESTAMP}, #{gcId,jdbcType=INTEGER}, #{gcId1,jdbcType=INTEGER}, 
      #{gcId2,jdbcType=INTEGER}, #{gcId3,jdbcType=INTEGER}, #{goodsName,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{deleteState,jdbcType=CHAR}, #{commentContent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.model.mysql.comment.TbUrsGoodsComment" >
    insert into tb_urs_goods_comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="orderGoodsId != null" >
        order_goods_id,
      </if>
      <if test="commentType != null" >
        comment_type,
      </if>
      <if test="isHiddenName != null" >
        is_hidden_name,
      </if>
      <if test="virtualUserAvatar != null" >
        virtual_user_avatar,
      </if>
      <if test="virtualUserName != null" >
        virtual_user_name,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="goodsCommonid != null" >
        goods_commonid,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="qualityMark != null" >
        quality_mark,
      </if>
      <if test="serviceMark != null" >
        service_mark,
      </if>
      <if test="logisticsMark != null" >
        logistics_mark,
      </if>
      <if test="countState != null" >
        count_state,
      </if>
      <if test="commentTime != null" >
        comment_time,
      </if>
      <if test="gcId != null" >
        gc_id,
      </if>
      <if test="gcId1 != null" >
        gc_id_1,
      </if>
      <if test="gcId2 != null" >
        gc_id_2,
      </if>
      <if test="gcId3 != null" >
        gc_id_3,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="deleteState != null" >
        delete_state,
      </if>
      <if test="commentContent != null" >
        comment_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderGoodsId != null" >
        #{orderGoodsId,jdbcType=INTEGER},
      </if>
      <if test="commentType != null" >
        #{commentType,jdbcType=CHAR},
      </if>
      <if test="isHiddenName != null" >
        #{isHiddenName,jdbcType=INTEGER},
      </if>
      <if test="virtualUserAvatar != null" >
        #{virtualUserAvatar,jdbcType=VARCHAR},
      </if>
      <if test="virtualUserName != null" >
        #{virtualUserName,jdbcType=CHAR},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsCommonid != null" >
        #{goodsCommonid,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="qualityMark != null" >
        #{qualityMark,jdbcType=INTEGER},
      </if>
      <if test="serviceMark != null" >
        #{serviceMark,jdbcType=INTEGER},
      </if>
      <if test="logisticsMark != null" >
        #{logisticsMark,jdbcType=INTEGER},
      </if>
      <if test="countState != null" >
        #{countState,jdbcType=INTEGER},
      </if>
      <if test="commentTime != null" >
        #{commentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gcId != null" >
        #{gcId,jdbcType=INTEGER},
      </if>
      <if test="gcId1 != null" >
        #{gcId1,jdbcType=INTEGER},
      </if>
      <if test="gcId2 != null" >
        #{gcId2,jdbcType=INTEGER},
      </if>
      <if test="gcId3 != null" >
        #{gcId3,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteState != null" >
        #{deleteState,jdbcType=CHAR},
      </if>
      <if test="commentContent != null" >
        #{commentContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.model.mysql.comment.TbUrsGoodsComment" >
    update tb_urs_goods_comment
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderGoodsId != null" >
        order_goods_id = #{orderGoodsId,jdbcType=INTEGER},
      </if>
      <if test="commentType != null" >
        comment_type = #{commentType,jdbcType=CHAR},
      </if>
      <if test="isHiddenName != null" >
        is_hidden_name = #{isHiddenName,jdbcType=INTEGER},
      </if>
      <if test="virtualUserAvatar != null" >
        virtual_user_avatar = #{virtualUserAvatar,jdbcType=VARCHAR},
      </if>
      <if test="virtualUserName != null" >
        virtual_user_name = #{virtualUserName,jdbcType=CHAR},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsCommonid != null" >
        goods_commonid = #{goodsCommonid,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="qualityMark != null" >
        quality_mark = #{qualityMark,jdbcType=INTEGER},
      </if>
      <if test="serviceMark != null" >
        service_mark = #{serviceMark,jdbcType=INTEGER},
      </if>
      <if test="logisticsMark != null" >
        logistics_mark = #{logisticsMark,jdbcType=INTEGER},
      </if>
      <if test="countState != null" >
        count_state = #{countState,jdbcType=INTEGER},
      </if>
      <if test="commentTime != null" >
        comment_time = #{commentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gcId != null" >
        gc_id = #{gcId,jdbcType=INTEGER},
      </if>
      <if test="gcId1 != null" >
        gc_id_1 = #{gcId1,jdbcType=INTEGER},
      </if>
      <if test="gcId2 != null" >
        gc_id_2 = #{gcId2,jdbcType=INTEGER},
      </if>
      <if test="gcId3 != null" >
        gc_id_3 = #{gcId3,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteState != null" >
        delete_state = #{deleteState,jdbcType=CHAR},
      </if>
      <if test="commentContent != null" >
        comment_content = #{commentContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.kooing.model.mysql.comment.TbUrsGoodsComment" >
    update tb_urs_goods_comment
    set uuid = #{uuid,jdbcType=CHAR},
      app_id = #{appId,jdbcType=INTEGER},
      type = #{type,jdbcType=CHAR},
      order_id = #{orderId,jdbcType=INTEGER},
      order_goods_id = #{orderGoodsId,jdbcType=INTEGER},
      comment_type = #{commentType,jdbcType=CHAR},
      is_hidden_name = #{isHiddenName,jdbcType=INTEGER},
      virtual_user_avatar = #{virtualUserAvatar,jdbcType=VARCHAR},
      virtual_user_name = #{virtualUserName,jdbcType=CHAR},
      goods_id = #{goodsId,jdbcType=INTEGER},
      goods_commonid = #{goodsCommonid,jdbcType=INTEGER},
      store_id = #{storeId,jdbcType=INTEGER},
      member_id = #{memberId,jdbcType=INTEGER},
      quality_mark = #{qualityMark,jdbcType=INTEGER},
      service_mark = #{serviceMark,jdbcType=INTEGER},
      logistics_mark = #{logisticsMark,jdbcType=INTEGER},
      count_state = #{countState,jdbcType=INTEGER},
      comment_time = #{commentTime,jdbcType=TIMESTAMP},
      gc_id = #{gcId,jdbcType=INTEGER},
      gc_id_1 = #{gcId1,jdbcType=INTEGER},
      gc_id_2 = #{gcId2,jdbcType=INTEGER},
      gc_id_3 = #{gcId3,jdbcType=INTEGER},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_state = #{deleteState,jdbcType=CHAR},
      comment_content = #{commentContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.model.mysql.comment.TbUrsGoodsComment" >
    update tb_urs_goods_comment
    set uuid = #{uuid,jdbcType=CHAR},
      app_id = #{appId,jdbcType=INTEGER},
      type = #{type,jdbcType=CHAR},
      order_id = #{orderId,jdbcType=INTEGER},
      order_goods_id = #{orderGoodsId,jdbcType=INTEGER},
      comment_type = #{commentType,jdbcType=CHAR},
      is_hidden_name = #{isHiddenName,jdbcType=INTEGER},
      virtual_user_avatar = #{virtualUserAvatar,jdbcType=VARCHAR},
      virtual_user_name = #{virtualUserName,jdbcType=CHAR},
      goods_id = #{goodsId,jdbcType=INTEGER},
      goods_commonid = #{goodsCommonid,jdbcType=INTEGER},
      store_id = #{storeId,jdbcType=INTEGER},
      member_id = #{memberId,jdbcType=INTEGER},
      quality_mark = #{qualityMark,jdbcType=INTEGER},
      service_mark = #{serviceMark,jdbcType=INTEGER},
      logistics_mark = #{logisticsMark,jdbcType=INTEGER},
      count_state = #{countState,jdbcType=INTEGER},
      comment_time = #{commentTime,jdbcType=TIMESTAMP},
      gc_id = #{gcId,jdbcType=INTEGER},
      gc_id_1 = #{gcId1,jdbcType=INTEGER},
      gc_id_2 = #{gcId2,jdbcType=INTEGER},
      gc_id_3 = #{gcId3,jdbcType=INTEGER},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_state = #{deleteState,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>