<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kooing.saas.persistent.dao.order.TbOdmOrderMapper">
  <resultMap id="BaseResultMap" type="com.kooing.saas.persistent.model.order.TbOdmOrder">
    <id column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="uuid" jdbcType="INTEGER" property="uuid" />
    <result column="order_sn" jdbcType="CHAR" property="orderSn" />
    <result column="pay_sn" jdbcType="CHAR" property="paySn" />
    <result column="store_id" jdbcType="INTEGER" property="storeId" />
    <result column="store_name" jdbcType="CHAR" property="storeName" />
    <result column="store_logo" jdbcType="VARCHAR" property="storeLogo" />
    <result column="buyer_id" jdbcType="INTEGER" property="buyerId" />
    <result column="buyer_name" jdbcType="CHAR" property="buyerName" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="payment_code" jdbcType="CHAR" property="paymentCode" />
    <result column="payment_time" jdbcType="TIMESTAMP" property="paymentTime" />
    <result column="sales_amount" jdbcType="DECIMAL" property="salesAmount" />
    <result column="freight" jdbcType="DECIMAL" property="freight" />
    <result column="evaluation" jdbcType="INTEGER" property="evaluation" />
    <result column="order_state" jdbcType="INTEGER" property="orderState" />
    <result column="refund_state" jdbcType="INTEGER" property="refundState" />
    <result column="refund_amount" jdbcType="DECIMAL" property="refundAmount" />
    <result column="order_amount" jdbcType="DECIMAL" property="orderAmount" />
    <result column="finished_time" jdbcType="TIMESTAMP" property="finishedTime" />
    <result column="order_message" jdbcType="VARCHAR" property="orderMessage" />
    <result column="evalseller_time" jdbcType="TIMESTAMP" property="evalsellerTime" />
    <result column="evalseller_message" jdbcType="VARCHAR" property="evalsellerMessage" />
    <result column="shipping_time" jdbcType="TIMESTAMP" property="shippingTime" />
    <result column="order_type" jdbcType="INTEGER" property="orderType" />
    <result column="sales_modify" jdbcType="DECIMAL" property="salesModify" />
    <result column="buyer_phone" jdbcType="CHAR" property="buyerPhone" />
  </resultMap>
  <sql id="Base_Column_List">
    order_id, uuid, order_sn, pay_sn, store_id, store_name, store_logo, buyer_id, buyer_name, 
    add_time, payment_code, payment_time, sales_amount, freight, evaluation, order_state, 
    refund_state, refund_amount, order_amount, finished_time, order_message, evalseller_time, 
    evalseller_message, shipping_time, order_type, sales_modify, buyer_phone
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_odm_order
    where order_id = #{orderId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_odm_order
    where order_id = #{orderId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.kooing.saas.persistent.model.order.TbOdmOrder">
    insert into tb_odm_order (order_id, uuid, order_sn, 
      pay_sn, store_id, store_name, 
      store_logo, buyer_id, buyer_name, 
      add_time, payment_code, payment_time, 
      sales_amount, freight, evaluation, 
      order_state, refund_state, refund_amount, 
      order_amount, finished_time, order_message, 
      evalseller_time, evalseller_message, shipping_time, 
      order_type, sales_modify, buyer_phone
      )
    values (#{orderId,jdbcType=BIGINT}, #{uuid,jdbcType=INTEGER}, #{orderSn,jdbcType=CHAR}, 
      #{paySn,jdbcType=CHAR}, #{storeId,jdbcType=INTEGER}, #{storeName,jdbcType=CHAR}, 
      #{storeLogo,jdbcType=VARCHAR}, #{buyerId,jdbcType=INTEGER}, #{buyerName,jdbcType=CHAR}, 
      #{addTime,jdbcType=TIMESTAMP}, #{paymentCode,jdbcType=CHAR}, #{paymentTime,jdbcType=TIMESTAMP}, 
      #{salesAmount,jdbcType=DECIMAL}, #{freight,jdbcType=DECIMAL}, #{evaluation,jdbcType=INTEGER}, 
      #{orderState,jdbcType=INTEGER}, #{refundState,jdbcType=INTEGER}, #{refundAmount,jdbcType=DECIMAL}, 
      #{orderAmount,jdbcType=DECIMAL}, #{finishedTime,jdbcType=TIMESTAMP}, #{orderMessage,jdbcType=VARCHAR}, 
      #{evalsellerTime,jdbcType=TIMESTAMP}, #{evalsellerMessage,jdbcType=VARCHAR}, #{shippingTime,jdbcType=TIMESTAMP}, 
      #{orderType,jdbcType=INTEGER}, #{salesModify,jdbcType=DECIMAL}, #{buyerPhone,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.saas.persistent.model.order.TbOdmOrder">
    insert into tb_odm_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="uuid != null">
        uuid,
      </if>
      <if test="orderSn != null">
        order_sn,
      </if>
      <if test="paySn != null">
        pay_sn,
      </if>
      <if test="storeId != null">
        store_id,
      </if>
      <if test="storeName != null">
        store_name,
      </if>
      <if test="storeLogo != null">
        store_logo,
      </if>
      <if test="buyerId != null">
        buyer_id,
      </if>
      <if test="buyerName != null">
        buyer_name,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="paymentCode != null">
        payment_code,
      </if>
      <if test="paymentTime != null">
        payment_time,
      </if>
      <if test="salesAmount != null">
        sales_amount,
      </if>
      <if test="freight != null">
        freight,
      </if>
      <if test="evaluation != null">
        evaluation,
      </if>
      <if test="orderState != null">
        order_state,
      </if>
      <if test="refundState != null">
        refund_state,
      </if>
      <if test="refundAmount != null">
        refund_amount,
      </if>
      <if test="orderAmount != null">
        order_amount,
      </if>
      <if test="finishedTime != null">
        finished_time,
      </if>
      <if test="orderMessage != null">
        order_message,
      </if>
      <if test="evalsellerTime != null">
        evalseller_time,
      </if>
      <if test="evalsellerMessage != null">
        evalseller_message,
      </if>
      <if test="shippingTime != null">
        shipping_time,
      </if>
      <if test="orderType != null">
        order_type,
      </if>
      <if test="salesModify != null">
        sales_modify,
      </if>
      <if test="buyerPhone != null">
        buyer_phone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="uuid != null">
        #{uuid,jdbcType=INTEGER},
      </if>
      <if test="orderSn != null">
        #{orderSn,jdbcType=CHAR},
      </if>
      <if test="paySn != null">
        #{paySn,jdbcType=CHAR},
      </if>
      <if test="storeId != null">
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="storeName != null">
        #{storeName,jdbcType=CHAR},
      </if>
      <if test="storeLogo != null">
        #{storeLogo,jdbcType=VARCHAR},
      </if>
      <if test="buyerId != null">
        #{buyerId,jdbcType=INTEGER},
      </if>
      <if test="buyerName != null">
        #{buyerName,jdbcType=CHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="paymentCode != null">
        #{paymentCode,jdbcType=CHAR},
      </if>
      <if test="paymentTime != null">
        #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="salesAmount != null">
        #{salesAmount,jdbcType=DECIMAL},
      </if>
      <if test="freight != null">
        #{freight,jdbcType=DECIMAL},
      </if>
      <if test="evaluation != null">
        #{evaluation,jdbcType=INTEGER},
      </if>
      <if test="orderState != null">
        #{orderState,jdbcType=INTEGER},
      </if>
      <if test="refundState != null">
        #{refundState,jdbcType=INTEGER},
      </if>
      <if test="refundAmount != null">
        #{refundAmount,jdbcType=DECIMAL},
      </if>
      <if test="orderAmount != null">
        #{orderAmount,jdbcType=DECIMAL},
      </if>
      <if test="finishedTime != null">
        #{finishedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderMessage != null">
        #{orderMessage,jdbcType=VARCHAR},
      </if>
      <if test="evalsellerTime != null">
        #{evalsellerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="evalsellerMessage != null">
        #{evalsellerMessage,jdbcType=VARCHAR},
      </if>
      <if test="shippingTime != null">
        #{shippingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderType != null">
        #{orderType,jdbcType=INTEGER},
      </if>
      <if test="salesModify != null">
        #{salesModify,jdbcType=DECIMAL},
      </if>
      <if test="buyerPhone != null">
        #{buyerPhone,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.saas.persistent.model.order.TbOdmOrder">
    update tb_odm_order
    <set>
      <if test="uuid != null">
        uuid = #{uuid,jdbcType=INTEGER},
      </if>
      <if test="orderSn != null">
        order_sn = #{orderSn,jdbcType=CHAR},
      </if>
      <if test="paySn != null">
        pay_sn = #{paySn,jdbcType=CHAR},
      </if>
      <if test="storeId != null">
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="storeName != null">
        store_name = #{storeName,jdbcType=CHAR},
      </if>
      <if test="storeLogo != null">
        store_logo = #{storeLogo,jdbcType=VARCHAR},
      </if>
      <if test="buyerId != null">
        buyer_id = #{buyerId,jdbcType=INTEGER},
      </if>
      <if test="buyerName != null">
        buyer_name = #{buyerName,jdbcType=CHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="paymentCode != null">
        payment_code = #{paymentCode,jdbcType=CHAR},
      </if>
      <if test="paymentTime != null">
        payment_time = #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="salesAmount != null">
        sales_amount = #{salesAmount,jdbcType=DECIMAL},
      </if>
      <if test="freight != null">
        freight = #{freight,jdbcType=DECIMAL},
      </if>
      <if test="evaluation != null">
        evaluation = #{evaluation,jdbcType=INTEGER},
      </if>
      <if test="orderState != null">
        order_state = #{orderState,jdbcType=INTEGER},
      </if>
      <if test="refundState != null">
        refund_state = #{refundState,jdbcType=INTEGER},
      </if>
      <if test="refundAmount != null">
        refund_amount = #{refundAmount,jdbcType=DECIMAL},
      </if>
      <if test="orderAmount != null">
        order_amount = #{orderAmount,jdbcType=DECIMAL},
      </if>
      <if test="finishedTime != null">
        finished_time = #{finishedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderMessage != null">
        order_message = #{orderMessage,jdbcType=VARCHAR},
      </if>
      <if test="evalsellerTime != null">
        evalseller_time = #{evalsellerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="evalsellerMessage != null">
        evalseller_message = #{evalsellerMessage,jdbcType=VARCHAR},
      </if>
      <if test="shippingTime != null">
        shipping_time = #{shippingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderType != null">
        order_type = #{orderType,jdbcType=INTEGER},
      </if>
      <if test="salesModify != null">
        sales_modify = #{salesModify,jdbcType=DECIMAL},
      </if>
      <if test="buyerPhone != null">
        buyer_phone = #{buyerPhone,jdbcType=CHAR},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.saas.persistent.model.order.TbOdmOrder">
    update tb_odm_order
    set uuid = #{uuid,jdbcType=INTEGER},
      order_sn = #{orderSn,jdbcType=CHAR},
      pay_sn = #{paySn,jdbcType=CHAR},
      store_id = #{storeId,jdbcType=INTEGER},
      store_name = #{storeName,jdbcType=CHAR},
      store_logo = #{storeLogo,jdbcType=VARCHAR},
      buyer_id = #{buyerId,jdbcType=INTEGER},
      buyer_name = #{buyerName,jdbcType=CHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      payment_code = #{paymentCode,jdbcType=CHAR},
      payment_time = #{paymentTime,jdbcType=TIMESTAMP},
      sales_amount = #{salesAmount,jdbcType=DECIMAL},
      freight = #{freight,jdbcType=DECIMAL},
      evaluation = #{evaluation,jdbcType=INTEGER},
      order_state = #{orderState,jdbcType=INTEGER},
      refund_state = #{refundState,jdbcType=INTEGER},
      refund_amount = #{refundAmount,jdbcType=DECIMAL},
      order_amount = #{orderAmount,jdbcType=DECIMAL},
      finished_time = #{finishedTime,jdbcType=TIMESTAMP},
      order_message = #{orderMessage,jdbcType=VARCHAR},
      evalseller_time = #{evalsellerTime,jdbcType=TIMESTAMP},
      evalseller_message = #{evalsellerMessage,jdbcType=VARCHAR},
      shipping_time = #{shippingTime,jdbcType=TIMESTAMP},
      order_type = #{orderType,jdbcType=INTEGER},
      sales_modify = #{salesModify,jdbcType=DECIMAL},
      buyer_phone = #{buyerPhone,jdbcType=CHAR}
    where order_id = #{orderId,jdbcType=BIGINT}
  </update>
  <select id="getOrderList" resultMap="BaseResultMap" parameterType="com.kooing.saas.persistent.model.order.request.TbOdmOrderReq">
    SELECT 
    <include refid="Base_Column_List"/>
    FROM
    <where>
      <if test="orderSn != null">
        and order_sn LIKE concat(concat('%',#{orderSn}),'%')
      </if>
      <if test="orderState != null">
        and order_state = #{orderState}
      </if>
      <if test="paymentCode != null">
        and payment_code = #{paymentCode}
      </if>
      <if test="beginTime != null">
        and add_time &gt= #{beginTime}
      </if>
      <if test="endTime != null">
        and add_time &lt= #{endTime}
      </if>
    </where>
  </select>
</mapper>