<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kooing.Interface.mysql.order.TbOdmArrivalNoticeMapper" >
  <resultMap id="BaseResultMap" type="com.kooing.model.mysql.order.TbOdmArrivalNotice" >
    <id column="an_id" property="anId" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="goods_name" property="goodsName" jdbcType="CHAR" />
    <result column="member_id" property="memberId" jdbcType="INTEGER" />
    <result column="an_addtime" property="anAddtime" jdbcType="TIMESTAMP" />
    <result column="an_email" property="anEmail" jdbcType="CHAR" />
    <result column="an_mobile" property="anMobile" jdbcType="CHAR" />
    <result column="an_type" property="anType" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    an_id, uuid, app_id, goods_id, goods_name, member_id, an_addtime, an_email, an_mobile, 
    an_type, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_odm_arrival_notice
    where an_id = #{anId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_odm_arrival_notice
    where an_id = #{anId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kooing.model.mysql.order.TbOdmArrivalNotice" >
    insert into tb_odm_arrival_notice (an_id, uuid, app_id, 
      goods_id, goods_name, member_id, 
      an_addtime, an_email, an_mobile, 
      an_type, update_time)
    values (#{anId,jdbcType=INTEGER}, #{uuid,jdbcType=CHAR}, #{appId,jdbcType=INTEGER}, 
      #{goodsId,jdbcType=INTEGER}, #{goodsName,jdbcType=CHAR}, #{memberId,jdbcType=INTEGER}, 
      #{anAddtime,jdbcType=TIMESTAMP}, #{anEmail,jdbcType=CHAR}, #{anMobile,jdbcType=CHAR}, 
      #{anType,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.model.mysql.order.TbOdmArrivalNotice" >
    insert into tb_odm_arrival_notice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="anId != null" >
        an_id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="anAddtime != null" >
        an_addtime,
      </if>
      <if test="anEmail != null" >
        an_email,
      </if>
      <if test="anMobile != null" >
        an_mobile,
      </if>
      <if test="anType != null" >
        an_type,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="anId != null" >
        #{anId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=CHAR},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="anAddtime != null" >
        #{anAddtime,jdbcType=TIMESTAMP},
      </if>
      <if test="anEmail != null" >
        #{anEmail,jdbcType=CHAR},
      </if>
      <if test="anMobile != null" >
        #{anMobile,jdbcType=CHAR},
      </if>
      <if test="anType != null" >
        #{anType,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.model.mysql.order.TbOdmArrivalNotice" >
    update tb_odm_arrival_notice
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=CHAR},
      </if>
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="anAddtime != null" >
        an_addtime = #{anAddtime,jdbcType=TIMESTAMP},
      </if>
      <if test="anEmail != null" >
        an_email = #{anEmail,jdbcType=CHAR},
      </if>
      <if test="anMobile != null" >
        an_mobile = #{anMobile,jdbcType=CHAR},
      </if>
      <if test="anType != null" >
        an_type = #{anType,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where an_id = #{anId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.model.mysql.order.TbOdmArrivalNotice" >
    update tb_odm_arrival_notice
    set uuid = #{uuid,jdbcType=CHAR},
      app_id = #{appId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER},
      goods_name = #{goodsName,jdbcType=CHAR},
      member_id = #{memberId,jdbcType=INTEGER},
      an_addtime = #{anAddtime,jdbcType=TIMESTAMP},
      an_email = #{anEmail,jdbcType=CHAR},
      an_mobile = #{anMobile,jdbcType=CHAR},
      an_type = #{anType,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where an_id = #{anId,jdbcType=INTEGER}
  </update>
</mapper>