<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kooing.Interface.mysql.order.TbOdmInvoiceMapper" >
  <resultMap id="BaseResultMap" type="com.kooing.model.mysql.order.TbOdmInvoice" >
    <id column="inv_id" property="invId" jdbcType="INTEGER" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="member_id" property="memberId" jdbcType="INTEGER" />
    <result column="inv_state" property="invState" jdbcType="INTEGER" />
    <result column="inv_title" property="invTitle" jdbcType="CHAR" />
    <result column="inv_content" property="invContent" jdbcType="CHAR" />
    <result column="inv_company" property="invCompany" jdbcType="CHAR" />
    <result column="inv_code" property="invCode" jdbcType="CHAR" />
    <result column="inv_reg_addr" property="invRegAddr" jdbcType="CHAR" />
    <result column="inv_reg_phone" property="invRegPhone" jdbcType="CHAR" />
    <result column="inv_reg_bname" property="invRegBname" jdbcType="CHAR" />
    <result column="inv_reg_baccount" property="invRegBaccount" jdbcType="CHAR" />
    <result column="inv_rec_name" property="invRecName" jdbcType="CHAR" />
    <result column="inv_rec_mobphone" property="invRecMobphone" jdbcType="CHAR" />
    <result column="inv_rec_province" property="invRecProvince" jdbcType="CHAR" />
    <result column="inv_goto_addr" property="invGotoAddr" jdbcType="CHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    inv_id, app_id, member_id, inv_state, inv_title, inv_content, inv_company, inv_code, 
    inv_reg_addr, inv_reg_phone, inv_reg_bname, inv_reg_baccount, inv_rec_name, inv_rec_mobphone, 
    inv_rec_province, inv_goto_addr, update_time, uuid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_odm_invoice
    where inv_id = #{invId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_odm_invoice
    where inv_id = #{invId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kooing.model.mysql.order.TbOdmInvoice" >
    insert into tb_odm_invoice (inv_id, app_id, member_id, 
      inv_state, inv_title, inv_content, 
      inv_company, inv_code, inv_reg_addr, 
      inv_reg_phone, inv_reg_bname, inv_reg_baccount, 
      inv_rec_name, inv_rec_mobphone, inv_rec_province, 
      inv_goto_addr, update_time, uuid
      )
    values (#{invId,jdbcType=INTEGER}, #{appId,jdbcType=INTEGER}, #{memberId,jdbcType=INTEGER}, 
      #{invState,jdbcType=INTEGER}, #{invTitle,jdbcType=CHAR}, #{invContent,jdbcType=CHAR}, 
      #{invCompany,jdbcType=CHAR}, #{invCode,jdbcType=CHAR}, #{invRegAddr,jdbcType=CHAR}, 
      #{invRegPhone,jdbcType=CHAR}, #{invRegBname,jdbcType=CHAR}, #{invRegBaccount,jdbcType=CHAR}, 
      #{invRecName,jdbcType=CHAR}, #{invRecMobphone,jdbcType=CHAR}, #{invRecProvince,jdbcType=CHAR}, 
      #{invGotoAddr,jdbcType=CHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{uuid,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.model.mysql.order.TbOdmInvoice" >
    insert into tb_odm_invoice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="invId != null" >
        inv_id,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="invState != null" >
        inv_state,
      </if>
      <if test="invTitle != null" >
        inv_title,
      </if>
      <if test="invContent != null" >
        inv_content,
      </if>
      <if test="invCompany != null" >
        inv_company,
      </if>
      <if test="invCode != null" >
        inv_code,
      </if>
      <if test="invRegAddr != null" >
        inv_reg_addr,
      </if>
      <if test="invRegPhone != null" >
        inv_reg_phone,
      </if>
      <if test="invRegBname != null" >
        inv_reg_bname,
      </if>
      <if test="invRegBaccount != null" >
        inv_reg_baccount,
      </if>
      <if test="invRecName != null" >
        inv_rec_name,
      </if>
      <if test="invRecMobphone != null" >
        inv_rec_mobphone,
      </if>
      <if test="invRecProvince != null" >
        inv_rec_province,
      </if>
      <if test="invGotoAddr != null" >
        inv_goto_addr,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="invId != null" >
        #{invId,jdbcType=INTEGER},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="invState != null" >
        #{invState,jdbcType=INTEGER},
      </if>
      <if test="invTitle != null" >
        #{invTitle,jdbcType=CHAR},
      </if>
      <if test="invContent != null" >
        #{invContent,jdbcType=CHAR},
      </if>
      <if test="invCompany != null" >
        #{invCompany,jdbcType=CHAR},
      </if>
      <if test="invCode != null" >
        #{invCode,jdbcType=CHAR},
      </if>
      <if test="invRegAddr != null" >
        #{invRegAddr,jdbcType=CHAR},
      </if>
      <if test="invRegPhone != null" >
        #{invRegPhone,jdbcType=CHAR},
      </if>
      <if test="invRegBname != null" >
        #{invRegBname,jdbcType=CHAR},
      </if>
      <if test="invRegBaccount != null" >
        #{invRegBaccount,jdbcType=CHAR},
      </if>
      <if test="invRecName != null" >
        #{invRecName,jdbcType=CHAR},
      </if>
      <if test="invRecMobphone != null" >
        #{invRecMobphone,jdbcType=CHAR},
      </if>
      <if test="invRecProvince != null" >
        #{invRecProvince,jdbcType=CHAR},
      </if>
      <if test="invGotoAddr != null" >
        #{invGotoAddr,jdbcType=CHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.model.mysql.order.TbOdmInvoice" >
    update tb_odm_invoice
    <set >
      <if test="appId != null" >
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="invState != null" >
        inv_state = #{invState,jdbcType=INTEGER},
      </if>
      <if test="invTitle != null" >
        inv_title = #{invTitle,jdbcType=CHAR},
      </if>
      <if test="invContent != null" >
        inv_content = #{invContent,jdbcType=CHAR},
      </if>
      <if test="invCompany != null" >
        inv_company = #{invCompany,jdbcType=CHAR},
      </if>
      <if test="invCode != null" >
        inv_code = #{invCode,jdbcType=CHAR},
      </if>
      <if test="invRegAddr != null" >
        inv_reg_addr = #{invRegAddr,jdbcType=CHAR},
      </if>
      <if test="invRegPhone != null" >
        inv_reg_phone = #{invRegPhone,jdbcType=CHAR},
      </if>
      <if test="invRegBname != null" >
        inv_reg_bname = #{invRegBname,jdbcType=CHAR},
      </if>
      <if test="invRegBaccount != null" >
        inv_reg_baccount = #{invRegBaccount,jdbcType=CHAR},
      </if>
      <if test="invRecName != null" >
        inv_rec_name = #{invRecName,jdbcType=CHAR},
      </if>
      <if test="invRecMobphone != null" >
        inv_rec_mobphone = #{invRecMobphone,jdbcType=CHAR},
      </if>
      <if test="invRecProvince != null" >
        inv_rec_province = #{invRecProvince,jdbcType=CHAR},
      </if>
      <if test="invGotoAddr != null" >
        inv_goto_addr = #{invGotoAddr,jdbcType=CHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=CHAR},
      </if>
    </set>
    where inv_id = #{invId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.model.mysql.order.TbOdmInvoice" >
    update tb_odm_invoice
    set app_id = #{appId,jdbcType=INTEGER},
      member_id = #{memberId,jdbcType=INTEGER},
      inv_state = #{invState,jdbcType=INTEGER},
      inv_title = #{invTitle,jdbcType=CHAR},
      inv_content = #{invContent,jdbcType=CHAR},
      inv_company = #{invCompany,jdbcType=CHAR},
      inv_code = #{invCode,jdbcType=CHAR},
      inv_reg_addr = #{invRegAddr,jdbcType=CHAR},
      inv_reg_phone = #{invRegPhone,jdbcType=CHAR},
      inv_reg_bname = #{invRegBname,jdbcType=CHAR},
      inv_reg_baccount = #{invRegBaccount,jdbcType=CHAR},
      inv_rec_name = #{invRecName,jdbcType=CHAR},
      inv_rec_mobphone = #{invRecMobphone,jdbcType=CHAR},
      inv_rec_province = #{invRecProvince,jdbcType=CHAR},
      inv_goto_addr = #{invGotoAddr,jdbcType=CHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      uuid = #{uuid,jdbcType=CHAR}
    where inv_id = #{invId,jdbcType=INTEGER}
  </update>
</mapper>