<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kooing.Interface.mysql.order.TbOdmRefundReturnMapper" >
  <resultMap id="BaseResultMap" type="com.kooing.model.mysql.order.TbOdmRefundReturn" >
    <id column="refund_id" property="refundId" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="order_sn" property="orderSn" jdbcType="CHAR" />
    <result column="refund_sn" property="refundSn" jdbcType="CHAR" />
    <result column="sup_id" property="supId" jdbcType="INTEGER" />
    <result column="sup_name" property="supName" jdbcType="CHAR" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="store_name" property="storeName" jdbcType="CHAR" />
    <result column="seller_phone" property="sellerPhone" jdbcType="VARCHAR" />
    <result column="buyer_id" property="buyerId" jdbcType="INTEGER" />
    <result column="buyer_name" property="buyerName" jdbcType="CHAR" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="order_goods_id" property="orderGoodsId" jdbcType="INTEGER" />
    <result column="goods_amount" property="goodsAmount" jdbcType="DECIMAL" />
    <result column="goods_name" property="goodsName" jdbcType="CHAR" />
    <result column="goods_num" property="goodsNum" jdbcType="INTEGER" />
    <result column="shipping_fee" property="shippingFee" jdbcType="DECIMAL" />
    <result column="refund_amount" property="refundAmount" jdbcType="DECIMAL" />
    <result column="goods_image" property="goodsImage" jdbcType="VARCHAR" />
    <result column="refund_order_type" property="refundOrderType" jdbcType="INTEGER" />
    <result column="order_goods_type" property="orderGoodsType" jdbcType="INTEGER" />
    <result column="refund_type" property="refundType" jdbcType="INTEGER" />
    <result column="seller_state" property="sellerState" jdbcType="INTEGER" />
    <result column="refund_state" property="refundState" jdbcType="INTEGER" />
    <result column="return_type" property="returnType" jdbcType="INTEGER" />
    <result column="order_lock" property="orderLock" jdbcType="INTEGER" />
    <result column="goods_state" property="goodsState" jdbcType="INTEGER" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="seller_time" property="sellerTime" jdbcType="TIMESTAMP" />
    <result column="admin_time" property="adminTime" jdbcType="TIMESTAMP" />
    <result column="reason_id" property="reasonId" jdbcType="INTEGER" />
    <result column="reason_info" property="reasonInfo" jdbcType="VARCHAR" />
    <result column="pic_info" property="picInfo" jdbcType="VARCHAR" />
    <result column="buyer_message" property="buyerMessage" jdbcType="VARCHAR" />
    <result column="seller_message" property="sellerMessage" jdbcType="VARCHAR" />
    <result column="admin_message" property="adminMessage" jdbcType="VARCHAR" />
    <result column="express_id" property="expressId" jdbcType="CHAR" />
    <result column="invoice_no" property="invoiceNo" jdbcType="CHAR" />
    <result column="seller_name" property="sellerName" jdbcType="VARCHAR" />
    <result column="ship_time" property="shipTime" jdbcType="TIMESTAMP" />
    <result column="delay_time" property="delayTime" jdbcType="TIMESTAMP" />
    <result column="receive_time" property="receiveTime" jdbcType="TIMESTAMP" />
    <result column="receive_message" property="receiveMessage" jdbcType="VARCHAR" />
    <result column="commis_rate" property="commisRate" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="address" property="address" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    refund_id, uuid, app_id, order_id, order_sn, refund_sn, sup_id, sup_name, store_id, 
    store_name, seller_phone, buyer_id, buyer_name, goods_id, order_goods_id, goods_amount, 
    goods_name, goods_num, shipping_fee, refund_amount, goods_image, refund_order_type, 
    order_goods_type, refund_type, seller_state, refund_state, return_type, order_lock, 
    goods_state, add_time, seller_time, admin_time, reason_id, reason_info, pic_info, 
    buyer_message, seller_message, admin_message, express_id, invoice_no, seller_name, 
    ship_time, delay_time, receive_time, receive_message, commis_rate, update_time, address
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_odm_refund_return
    where refund_id = #{refundId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_odm_refund_return
    where refund_id = #{refundId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kooing.model.mysql.order.TbOdmRefundReturn" >
    insert into tb_odm_refund_return (refund_id, uuid, app_id, 
      order_id, order_sn, refund_sn, 
      sup_id, sup_name, store_id, 
      store_name, seller_phone, buyer_id, 
      buyer_name, goods_id, order_goods_id, 
      goods_amount, goods_name, goods_num, 
      shipping_fee, refund_amount, goods_image, 
      refund_order_type, order_goods_type, refund_type, 
      seller_state, refund_state, return_type, 
      order_lock, goods_state, add_time, 
      seller_time, admin_time, reason_id, 
      reason_info, pic_info, buyer_message, 
      seller_message, admin_message, express_id, 
      invoice_no, seller_name, ship_time, 
      delay_time, receive_time, receive_message, 
      commis_rate, update_time, address
      )
    values (#{refundId,jdbcType=INTEGER}, #{uuid,jdbcType=CHAR}, #{appId,jdbcType=INTEGER}, 
      #{orderId,jdbcType=INTEGER}, #{orderSn,jdbcType=CHAR}, #{refundSn,jdbcType=CHAR}, 
      #{supId,jdbcType=INTEGER}, #{supName,jdbcType=CHAR}, #{storeId,jdbcType=INTEGER}, 
      #{storeName,jdbcType=CHAR}, #{sellerPhone,jdbcType=VARCHAR}, #{buyerId,jdbcType=INTEGER}, 
      #{buyerName,jdbcType=CHAR}, #{goodsId,jdbcType=INTEGER}, #{orderGoodsId,jdbcType=INTEGER}, 
      #{goodsAmount,jdbcType=DECIMAL}, #{goodsName,jdbcType=CHAR}, #{goodsNum,jdbcType=INTEGER}, 
      #{shippingFee,jdbcType=DECIMAL}, #{refundAmount,jdbcType=DECIMAL}, #{goodsImage,jdbcType=VARCHAR}, 
      #{refundOrderType,jdbcType=INTEGER}, #{orderGoodsType,jdbcType=INTEGER}, #{refundType,jdbcType=INTEGER}, 
      #{sellerState,jdbcType=INTEGER}, #{refundState,jdbcType=INTEGER}, #{returnType,jdbcType=INTEGER}, 
      #{orderLock,jdbcType=INTEGER}, #{goodsState,jdbcType=INTEGER}, #{addTime,jdbcType=TIMESTAMP}, 
      #{sellerTime,jdbcType=TIMESTAMP}, #{adminTime,jdbcType=TIMESTAMP}, #{reasonId,jdbcType=INTEGER}, 
      #{reasonInfo,jdbcType=VARCHAR}, #{picInfo,jdbcType=VARCHAR}, #{buyerMessage,jdbcType=VARCHAR}, 
      #{sellerMessage,jdbcType=VARCHAR}, #{adminMessage,jdbcType=VARCHAR}, #{expressId,jdbcType=CHAR}, 
      #{invoiceNo,jdbcType=CHAR}, #{sellerName,jdbcType=VARCHAR}, #{shipTime,jdbcType=TIMESTAMP}, 
      #{delayTime,jdbcType=TIMESTAMP}, #{receiveTime,jdbcType=TIMESTAMP}, #{receiveMessage,jdbcType=VARCHAR}, 
      #{commisRate,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{address,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.model.mysql.order.TbOdmRefundReturn" >
    insert into tb_odm_refund_return
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="refundId != null" >
        refund_id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="orderSn != null" >
        order_sn,
      </if>
      <if test="refundSn != null" >
        refund_sn,
      </if>
      <if test="supId != null" >
        sup_id,
      </if>
      <if test="supName != null" >
        sup_name,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="storeName != null" >
        store_name,
      </if>
      <if test="sellerPhone != null" >
        seller_phone,
      </if>
      <if test="buyerId != null" >
        buyer_id,
      </if>
      <if test="buyerName != null" >
        buyer_name,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="orderGoodsId != null" >
        order_goods_id,
      </if>
      <if test="goodsAmount != null" >
        goods_amount,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="goodsNum != null" >
        goods_num,
      </if>
      <if test="shippingFee != null" >
        shipping_fee,
      </if>
      <if test="refundAmount != null" >
        refund_amount,
      </if>
      <if test="goodsImage != null" >
        goods_image,
      </if>
      <if test="refundOrderType != null" >
        refund_order_type,
      </if>
      <if test="orderGoodsType != null" >
        order_goods_type,
      </if>
      <if test="refundType != null" >
        refund_type,
      </if>
      <if test="sellerState != null" >
        seller_state,
      </if>
      <if test="refundState != null" >
        refund_state,
      </if>
      <if test="returnType != null" >
        return_type,
      </if>
      <if test="orderLock != null" >
        order_lock,
      </if>
      <if test="goodsState != null" >
        goods_state,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="sellerTime != null" >
        seller_time,
      </if>
      <if test="adminTime != null" >
        admin_time,
      </if>
      <if test="reasonId != null" >
        reason_id,
      </if>
      <if test="reasonInfo != null" >
        reason_info,
      </if>
      <if test="picInfo != null" >
        pic_info,
      </if>
      <if test="buyerMessage != null" >
        buyer_message,
      </if>
      <if test="sellerMessage != null" >
        seller_message,
      </if>
      <if test="adminMessage != null" >
        admin_message,
      </if>
      <if test="expressId != null" >
        express_id,
      </if>
      <if test="invoiceNo != null" >
        invoice_no,
      </if>
      <if test="sellerName != null" >
        seller_name,
      </if>
      <if test="shipTime != null" >
        ship_time,
      </if>
      <if test="delayTime != null" >
        delay_time,
      </if>
      <if test="receiveTime != null" >
        receive_time,
      </if>
      <if test="receiveMessage != null" >
        receive_message,
      </if>
      <if test="commisRate != null" >
        commis_rate,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="address != null" >
        address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="refundId != null" >
        #{refundId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderSn != null" >
        #{orderSn,jdbcType=CHAR},
      </if>
      <if test="refundSn != null" >
        #{refundSn,jdbcType=CHAR},
      </if>
      <if test="supId != null" >
        #{supId,jdbcType=INTEGER},
      </if>
      <if test="supName != null" >
        #{supName,jdbcType=CHAR},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="storeName != null" >
        #{storeName,jdbcType=CHAR},
      </if>
      <if test="sellerPhone != null" >
        #{sellerPhone,jdbcType=VARCHAR},
      </if>
      <if test="buyerId != null" >
        #{buyerId,jdbcType=INTEGER},
      </if>
      <if test="buyerName != null" >
        #{buyerName,jdbcType=CHAR},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="orderGoodsId != null" >
        #{orderGoodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsAmount != null" >
        #{goodsAmount,jdbcType=DECIMAL},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=CHAR},
      </if>
      <if test="goodsNum != null" >
        #{goodsNum,jdbcType=INTEGER},
      </if>
      <if test="shippingFee != null" >
        #{shippingFee,jdbcType=DECIMAL},
      </if>
      <if test="refundAmount != null" >
        #{refundAmount,jdbcType=DECIMAL},
      </if>
      <if test="goodsImage != null" >
        #{goodsImage,jdbcType=VARCHAR},
      </if>
      <if test="refundOrderType != null" >
        #{refundOrderType,jdbcType=INTEGER},
      </if>
      <if test="orderGoodsType != null" >
        #{orderGoodsType,jdbcType=INTEGER},
      </if>
      <if test="refundType != null" >
        #{refundType,jdbcType=INTEGER},
      </if>
      <if test="sellerState != null" >
        #{sellerState,jdbcType=INTEGER},
      </if>
      <if test="refundState != null" >
        #{refundState,jdbcType=INTEGER},
      </if>
      <if test="returnType != null" >
        #{returnType,jdbcType=INTEGER},
      </if>
      <if test="orderLock != null" >
        #{orderLock,jdbcType=INTEGER},
      </if>
      <if test="goodsState != null" >
        #{goodsState,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sellerTime != null" >
        #{sellerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="adminTime != null" >
        #{adminTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reasonId != null" >
        #{reasonId,jdbcType=INTEGER},
      </if>
      <if test="reasonInfo != null" >
        #{reasonInfo,jdbcType=VARCHAR},
      </if>
      <if test="picInfo != null" >
        #{picInfo,jdbcType=VARCHAR},
      </if>
      <if test="buyerMessage != null" >
        #{buyerMessage,jdbcType=VARCHAR},
      </if>
      <if test="sellerMessage != null" >
        #{sellerMessage,jdbcType=VARCHAR},
      </if>
      <if test="adminMessage != null" >
        #{adminMessage,jdbcType=VARCHAR},
      </if>
      <if test="expressId != null" >
        #{expressId,jdbcType=CHAR},
      </if>
      <if test="invoiceNo != null" >
        #{invoiceNo,jdbcType=CHAR},
      </if>
      <if test="sellerName != null" >
        #{sellerName,jdbcType=VARCHAR},
      </if>
      <if test="shipTime != null" >
        #{shipTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delayTime != null" >
        #{delayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="receiveTime != null" >
        #{receiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="receiveMessage != null" >
        #{receiveMessage,jdbcType=VARCHAR},
      </if>
      <if test="commisRate != null" >
        #{commisRate,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.model.mysql.order.TbOdmRefundReturn" >
    update tb_odm_refund_return
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderSn != null" >
        order_sn = #{orderSn,jdbcType=CHAR},
      </if>
      <if test="refundSn != null" >
        refund_sn = #{refundSn,jdbcType=CHAR},
      </if>
      <if test="supId != null" >
        sup_id = #{supId,jdbcType=INTEGER},
      </if>
      <if test="supName != null" >
        sup_name = #{supName,jdbcType=CHAR},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="storeName != null" >
        store_name = #{storeName,jdbcType=CHAR},
      </if>
      <if test="sellerPhone != null" >
        seller_phone = #{sellerPhone,jdbcType=VARCHAR},
      </if>
      <if test="buyerId != null" >
        buyer_id = #{buyerId,jdbcType=INTEGER},
      </if>
      <if test="buyerName != null" >
        buyer_name = #{buyerName,jdbcType=CHAR},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="orderGoodsId != null" >
        order_goods_id = #{orderGoodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsAmount != null" >
        goods_amount = #{goodsAmount,jdbcType=DECIMAL},
      </if>
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=CHAR},
      </if>
      <if test="goodsNum != null" >
        goods_num = #{goodsNum,jdbcType=INTEGER},
      </if>
      <if test="shippingFee != null" >
        shipping_fee = #{shippingFee,jdbcType=DECIMAL},
      </if>
      <if test="refundAmount != null" >
        refund_amount = #{refundAmount,jdbcType=DECIMAL},
      </if>
      <if test="goodsImage != null" >
        goods_image = #{goodsImage,jdbcType=VARCHAR},
      </if>
      <if test="refundOrderType != null" >
        refund_order_type = #{refundOrderType,jdbcType=INTEGER},
      </if>
      <if test="orderGoodsType != null" >
        order_goods_type = #{orderGoodsType,jdbcType=INTEGER},
      </if>
      <if test="refundType != null" >
        refund_type = #{refundType,jdbcType=INTEGER},
      </if>
      <if test="sellerState != null" >
        seller_state = #{sellerState,jdbcType=INTEGER},
      </if>
      <if test="refundState != null" >
        refund_state = #{refundState,jdbcType=INTEGER},
      </if>
      <if test="returnType != null" >
        return_type = #{returnType,jdbcType=INTEGER},
      </if>
      <if test="orderLock != null" >
        order_lock = #{orderLock,jdbcType=INTEGER},
      </if>
      <if test="goodsState != null" >
        goods_state = #{goodsState,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sellerTime != null" >
        seller_time = #{sellerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="adminTime != null" >
        admin_time = #{adminTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reasonId != null" >
        reason_id = #{reasonId,jdbcType=INTEGER},
      </if>
      <if test="reasonInfo != null" >
        reason_info = #{reasonInfo,jdbcType=VARCHAR},
      </if>
      <if test="picInfo != null" >
        pic_info = #{picInfo,jdbcType=VARCHAR},
      </if>
      <if test="buyerMessage != null" >
        buyer_message = #{buyerMessage,jdbcType=VARCHAR},
      </if>
      <if test="sellerMessage != null" >
        seller_message = #{sellerMessage,jdbcType=VARCHAR},
      </if>
      <if test="adminMessage != null" >
        admin_message = #{adminMessage,jdbcType=VARCHAR},
      </if>
      <if test="expressId != null" >
        express_id = #{expressId,jdbcType=CHAR},
      </if>
      <if test="invoiceNo != null" >
        invoice_no = #{invoiceNo,jdbcType=CHAR},
      </if>
      <if test="sellerName != null" >
        seller_name = #{sellerName,jdbcType=VARCHAR},
      </if>
      <if test="shipTime != null" >
        ship_time = #{shipTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delayTime != null" >
        delay_time = #{delayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="receiveTime != null" >
        receive_time = #{receiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="receiveMessage != null" >
        receive_message = #{receiveMessage,jdbcType=VARCHAR},
      </if>
      <if test="commisRate != null" >
        commis_rate = #{commisRate,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    where refund_id = #{refundId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.model.mysql.order.TbOdmRefundReturn" >
    update tb_odm_refund_return
    set uuid = #{uuid,jdbcType=CHAR},
      app_id = #{appId,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=INTEGER},
      order_sn = #{orderSn,jdbcType=CHAR},
      refund_sn = #{refundSn,jdbcType=CHAR},
      sup_id = #{supId,jdbcType=INTEGER},
      sup_name = #{supName,jdbcType=CHAR},
      store_id = #{storeId,jdbcType=INTEGER},
      store_name = #{storeName,jdbcType=CHAR},
      seller_phone = #{sellerPhone,jdbcType=VARCHAR},
      buyer_id = #{buyerId,jdbcType=INTEGER},
      buyer_name = #{buyerName,jdbcType=CHAR},
      goods_id = #{goodsId,jdbcType=INTEGER},
      order_goods_id = #{orderGoodsId,jdbcType=INTEGER},
      goods_amount = #{goodsAmount,jdbcType=DECIMAL},
      goods_name = #{goodsName,jdbcType=CHAR},
      goods_num = #{goodsNum,jdbcType=INTEGER},
      shipping_fee = #{shippingFee,jdbcType=DECIMAL},
      refund_amount = #{refundAmount,jdbcType=DECIMAL},
      goods_image = #{goodsImage,jdbcType=VARCHAR},
      refund_order_type = #{refundOrderType,jdbcType=INTEGER},
      order_goods_type = #{orderGoodsType,jdbcType=INTEGER},
      refund_type = #{refundType,jdbcType=INTEGER},
      seller_state = #{sellerState,jdbcType=INTEGER},
      refund_state = #{refundState,jdbcType=INTEGER},
      return_type = #{returnType,jdbcType=INTEGER},
      order_lock = #{orderLock,jdbcType=INTEGER},
      goods_state = #{goodsState,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      seller_time = #{sellerTime,jdbcType=TIMESTAMP},
      admin_time = #{adminTime,jdbcType=TIMESTAMP},
      reason_id = #{reasonId,jdbcType=INTEGER},
      reason_info = #{reasonInfo,jdbcType=VARCHAR},
      pic_info = #{picInfo,jdbcType=VARCHAR},
      buyer_message = #{buyerMessage,jdbcType=VARCHAR},
      seller_message = #{sellerMessage,jdbcType=VARCHAR},
      admin_message = #{adminMessage,jdbcType=VARCHAR},
      express_id = #{expressId,jdbcType=CHAR},
      invoice_no = #{invoiceNo,jdbcType=CHAR},
      seller_name = #{sellerName,jdbcType=VARCHAR},
      ship_time = #{shipTime,jdbcType=TIMESTAMP},
      delay_time = #{delayTime,jdbcType=TIMESTAMP},
      receive_time = #{receiveTime,jdbcType=TIMESTAMP},
      receive_message = #{receiveMessage,jdbcType=VARCHAR},
      commis_rate = #{commisRate,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      address = #{address,jdbcType=VARCHAR}
    where refund_id = #{refundId,jdbcType=INTEGER}
  </update>
</mapper>