<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kooing.Interface.mysql.order.TbOdmOrderCommonMapper" >
  <resultMap id="BaseResultMap" type="com.kooing.model.mysql.order.TbOdmOrderCommon" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="sup_id" property="supId" jdbcType="INTEGER" />
    <result column="shipping_time" property="shippingTime" jdbcType="TIMESTAMP" />
    <result column="confirm_shipping_time" property="confirmShippingTime" jdbcType="TIMESTAMP" />
    <result column="shipping_express_id" property="shippingExpressId" jdbcType="INTEGER" />
    <result column="evaluation_time" property="evaluationTime" jdbcType="TIMESTAMP" />
    <result column="evalseller_state" property="evalsellerState" jdbcType="INTEGER" />
    <result column="evalseller_time" property="evalsellerTime" jdbcType="TIMESTAMP" />
    <result column="order_message" property="orderMessage" jdbcType="VARCHAR" />
    <result column="order_pointscount" property="orderPointscount" jdbcType="INTEGER" />
    <result column="voucher_id" property="voucherId" jdbcType="INTEGER" />
    <result column="voucher_price" property="voucherPrice" jdbcType="DECIMAL" />
    <result column="voucher_code" property="voucherCode" jdbcType="CHAR" />
    <result column="deliver_explain" property="deliverExplain" jdbcType="VARCHAR" />
    <result column="daddress_id" property="daddressId" jdbcType="INTEGER" />
    <result column="reciver_name" property="reciverName" jdbcType="VARCHAR" />
    <result column="reciver_phone" property="reciverPhone" jdbcType="VARCHAR" />
    <result column="reciver_info" property="reciverInfo" jdbcType="VARCHAR" />
    <result column="reciver_province_id" property="reciverProvinceId" jdbcType="INTEGER" />
    <result column="reciver_city_id" property="reciverCityId" jdbcType="INTEGER" />
    <result column="invoice_info" property="invoiceInfo" jdbcType="VARCHAR" />
    <result column="promotion_info" property="promotionInfo" jdbcType="VARCHAR" />
    <result column="dlyo_pickup_code" property="dlyoPickupCode" jdbcType="CHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="service_fee" property="serviceFee" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_id, uuid, app_id, store_id, sup_id, shipping_time, confirm_shipping_time, 
    shipping_express_id, evaluation_time, evalseller_state, evalseller_time, order_message, 
    order_pointscount, voucher_id, voucher_price, voucher_code, deliver_explain, daddress_id, 
    reciver_name, reciver_phone, reciver_info, reciver_province_id, reciver_city_id, 
    invoice_info, promotion_info, dlyo_pickup_code, update_time, service_fee
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_odm_order_common
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_odm_order_common
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kooing.model.mysql.order.TbOdmOrderCommon" >
    insert into tb_odm_order_common (id, order_id, uuid, 
      app_id, store_id, sup_id, 
      shipping_time, confirm_shipping_time, 
      shipping_express_id, evaluation_time, evalseller_state, 
      evalseller_time, order_message, order_pointscount, 
      voucher_id, voucher_price, voucher_code, 
      deliver_explain, daddress_id, reciver_name, 
      reciver_phone, reciver_info, reciver_province_id, 
      reciver_city_id, invoice_info, promotion_info, 
      dlyo_pickup_code, update_time, service_fee
      )
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{uuid,jdbcType=CHAR}, 
      #{appId,jdbcType=INTEGER}, #{storeId,jdbcType=INTEGER}, #{supId,jdbcType=INTEGER}, 
      #{shippingTime,jdbcType=TIMESTAMP}, #{confirmShippingTime,jdbcType=TIMESTAMP}, 
      #{shippingExpressId,jdbcType=INTEGER}, #{evaluationTime,jdbcType=TIMESTAMP}, #{evalsellerState,jdbcType=INTEGER}, 
      #{evalsellerTime,jdbcType=TIMESTAMP}, #{orderMessage,jdbcType=VARCHAR}, #{orderPointscount,jdbcType=INTEGER}, 
      #{voucherId,jdbcType=INTEGER}, #{voucherPrice,jdbcType=DECIMAL}, #{voucherCode,jdbcType=CHAR}, 
      #{deliverExplain,jdbcType=VARCHAR}, #{daddressId,jdbcType=INTEGER}, #{reciverName,jdbcType=VARCHAR}, 
      #{reciverPhone,jdbcType=VARCHAR}, #{reciverInfo,jdbcType=VARCHAR}, #{reciverProvinceId,jdbcType=INTEGER}, 
      #{reciverCityId,jdbcType=INTEGER}, #{invoiceInfo,jdbcType=VARCHAR}, #{promotionInfo,jdbcType=VARCHAR}, 
      #{dlyoPickupCode,jdbcType=CHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{serviceFee,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.model.mysql.order.TbOdmOrderCommon" >
    insert into tb_odm_order_common
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="supId != null" >
        sup_id,
      </if>
      <if test="shippingTime != null" >
        shipping_time,
      </if>
      <if test="confirmShippingTime != null" >
        confirm_shipping_time,
      </if>
      <if test="shippingExpressId != null" >
        shipping_express_id,
      </if>
      <if test="evaluationTime != null" >
        evaluation_time,
      </if>
      <if test="evalsellerState != null" >
        evalseller_state,
      </if>
      <if test="evalsellerTime != null" >
        evalseller_time,
      </if>
      <if test="orderMessage != null" >
        order_message,
      </if>
      <if test="orderPointscount != null" >
        order_pointscount,
      </if>
      <if test="voucherId != null" >
        voucher_id,
      </if>
      <if test="voucherPrice != null" >
        voucher_price,
      </if>
      <if test="voucherCode != null" >
        voucher_code,
      </if>
      <if test="deliverExplain != null" >
        deliver_explain,
      </if>
      <if test="daddressId != null" >
        daddress_id,
      </if>
      <if test="reciverName != null" >
        reciver_name,
      </if>
      <if test="reciverPhone != null" >
        reciver_phone,
      </if>
      <if test="reciverInfo != null" >
        reciver_info,
      </if>
      <if test="reciverProvinceId != null" >
        reciver_province_id,
      </if>
      <if test="reciverCityId != null" >
        reciver_city_id,
      </if>
      <if test="invoiceInfo != null" >
        invoice_info,
      </if>
      <if test="promotionInfo != null" >
        promotion_info,
      </if>
      <if test="dlyoPickupCode != null" >
        dlyo_pickup_code,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="serviceFee != null" >
        service_fee,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="supId != null" >
        #{supId,jdbcType=INTEGER},
      </if>
      <if test="shippingTime != null" >
        #{shippingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="confirmShippingTime != null" >
        #{confirmShippingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shippingExpressId != null" >
        #{shippingExpressId,jdbcType=INTEGER},
      </if>
      <if test="evaluationTime != null" >
        #{evaluationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="evalsellerState != null" >
        #{evalsellerState,jdbcType=INTEGER},
      </if>
      <if test="evalsellerTime != null" >
        #{evalsellerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderMessage != null" >
        #{orderMessage,jdbcType=VARCHAR},
      </if>
      <if test="orderPointscount != null" >
        #{orderPointscount,jdbcType=INTEGER},
      </if>
      <if test="voucherId != null" >
        #{voucherId,jdbcType=INTEGER},
      </if>
      <if test="voucherPrice != null" >
        #{voucherPrice,jdbcType=DECIMAL},
      </if>
      <if test="voucherCode != null" >
        #{voucherCode,jdbcType=CHAR},
      </if>
      <if test="deliverExplain != null" >
        #{deliverExplain,jdbcType=VARCHAR},
      </if>
      <if test="daddressId != null" >
        #{daddressId,jdbcType=INTEGER},
      </if>
      <if test="reciverName != null" >
        #{reciverName,jdbcType=VARCHAR},
      </if>
      <if test="reciverPhone != null" >
        #{reciverPhone,jdbcType=VARCHAR},
      </if>
      <if test="reciverInfo != null" >
        #{reciverInfo,jdbcType=VARCHAR},
      </if>
      <if test="reciverProvinceId != null" >
        #{reciverProvinceId,jdbcType=INTEGER},
      </if>
      <if test="reciverCityId != null" >
        #{reciverCityId,jdbcType=INTEGER},
      </if>
      <if test="invoiceInfo != null" >
        #{invoiceInfo,jdbcType=VARCHAR},
      </if>
      <if test="promotionInfo != null" >
        #{promotionInfo,jdbcType=VARCHAR},
      </if>
      <if test="dlyoPickupCode != null" >
        #{dlyoPickupCode,jdbcType=CHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="serviceFee != null" >
        #{serviceFee,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.model.mysql.order.TbOdmOrderCommon" >
    update tb_odm_order_common
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="supId != null" >
        sup_id = #{supId,jdbcType=INTEGER},
      </if>
      <if test="shippingTime != null" >
        shipping_time = #{shippingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="confirmShippingTime != null" >
        confirm_shipping_time = #{confirmShippingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shippingExpressId != null" >
        shipping_express_id = #{shippingExpressId,jdbcType=INTEGER},
      </if>
      <if test="evaluationTime != null" >
        evaluation_time = #{evaluationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="evalsellerState != null" >
        evalseller_state = #{evalsellerState,jdbcType=INTEGER},
      </if>
      <if test="evalsellerTime != null" >
        evalseller_time = #{evalsellerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderMessage != null" >
        order_message = #{orderMessage,jdbcType=VARCHAR},
      </if>
      <if test="orderPointscount != null" >
        order_pointscount = #{orderPointscount,jdbcType=INTEGER},
      </if>
      <if test="voucherId != null" >
        voucher_id = #{voucherId,jdbcType=INTEGER},
      </if>
      <if test="voucherPrice != null" >
        voucher_price = #{voucherPrice,jdbcType=DECIMAL},
      </if>
      <if test="voucherCode != null" >
        voucher_code = #{voucherCode,jdbcType=CHAR},
      </if>
      <if test="deliverExplain != null" >
        deliver_explain = #{deliverExplain,jdbcType=VARCHAR},
      </if>
      <if test="daddressId != null" >
        daddress_id = #{daddressId,jdbcType=INTEGER},
      </if>
      <if test="reciverName != null" >
        reciver_name = #{reciverName,jdbcType=VARCHAR},
      </if>
      <if test="reciverPhone != null" >
        reciver_phone = #{reciverPhone,jdbcType=VARCHAR},
      </if>
      <if test="reciverInfo != null" >
        reciver_info = #{reciverInfo,jdbcType=VARCHAR},
      </if>
      <if test="reciverProvinceId != null" >
        reciver_province_id = #{reciverProvinceId,jdbcType=INTEGER},
      </if>
      <if test="reciverCityId != null" >
        reciver_city_id = #{reciverCityId,jdbcType=INTEGER},
      </if>
      <if test="invoiceInfo != null" >
        invoice_info = #{invoiceInfo,jdbcType=VARCHAR},
      </if>
      <if test="promotionInfo != null" >
        promotion_info = #{promotionInfo,jdbcType=VARCHAR},
      </if>
      <if test="dlyoPickupCode != null" >
        dlyo_pickup_code = #{dlyoPickupCode,jdbcType=CHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="serviceFee != null" >
        service_fee = #{serviceFee,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.model.mysql.order.TbOdmOrderCommon" >
    update tb_odm_order_common
    set order_id = #{orderId,jdbcType=INTEGER},
      uuid = #{uuid,jdbcType=CHAR},
      app_id = #{appId,jdbcType=INTEGER},
      store_id = #{storeId,jdbcType=INTEGER},
      sup_id = #{supId,jdbcType=INTEGER},
      shipping_time = #{shippingTime,jdbcType=TIMESTAMP},
      confirm_shipping_time = #{confirmShippingTime,jdbcType=TIMESTAMP},
      shipping_express_id = #{shippingExpressId,jdbcType=INTEGER},
      evaluation_time = #{evaluationTime,jdbcType=TIMESTAMP},
      evalseller_state = #{evalsellerState,jdbcType=INTEGER},
      evalseller_time = #{evalsellerTime,jdbcType=TIMESTAMP},
      order_message = #{orderMessage,jdbcType=VARCHAR},
      order_pointscount = #{orderPointscount,jdbcType=INTEGER},
      voucher_id = #{voucherId,jdbcType=INTEGER},
      voucher_price = #{voucherPrice,jdbcType=DECIMAL},
      voucher_code = #{voucherCode,jdbcType=CHAR},
      deliver_explain = #{deliverExplain,jdbcType=VARCHAR},
      daddress_id = #{daddressId,jdbcType=INTEGER},
      reciver_name = #{reciverName,jdbcType=VARCHAR},
      reciver_phone = #{reciverPhone,jdbcType=VARCHAR},
      reciver_info = #{reciverInfo,jdbcType=VARCHAR},
      reciver_province_id = #{reciverProvinceId,jdbcType=INTEGER},
      reciver_city_id = #{reciverCityId,jdbcType=INTEGER},
      invoice_info = #{invoiceInfo,jdbcType=VARCHAR},
      promotion_info = #{promotionInfo,jdbcType=VARCHAR},
      dlyo_pickup_code = #{dlyoPickupCode,jdbcType=CHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      service_fee = #{serviceFee,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>