<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kooing.Interface.mysql.shop.TbShopSellerMapper" >
  <resultMap id="BaseResultMap" type="com.kooing.model.mysql.shop.TbShopSeller" >
    <id column="seller_id" property="sellerId" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="app_name" property="appName" jdbcType="VARCHAR" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="member_id" property="memberId" jdbcType="INTEGER" />
    <result column="member_name" property="memberName" jdbcType="CHAR" />
    <result column="head_pic" property="headPic" jdbcType="CHAR" />
    <result column="nickname" property="nickname" jdbcType="CHAR" />
    <result column="member_phone" property="memberPhone" jdbcType="CHAR" />
    <result column="member_account" property="memberAccount" jdbcType="CHAR" />
    <result column="member_password" property="memberPassword" jdbcType="CHAR" />
    <result column="member_address" property="memberAddress" jdbcType="CHAR" />
    <result column="member_email" property="memberEmail" jdbcType="CHAR" />
    <result column="idcard" property="idcard" jdbcType="CHAR" />
    <result column="idcard_front" property="idcardFront" jdbcType="CHAR" />
    <result column="idcard_back" property="idcardBack" jdbcType="CHAR" />
    <result column="idcard_hand_license" property="idcardHandLicense" jdbcType="CHAR" />
    <result column="is_admin" property="isAdmin" jdbcType="INTEGER" />
    <result column="seller_quicklink" property="sellerQuicklink" jdbcType="VARCHAR" />
    <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_token" property="isToken" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.kooing.model.mysql.shop.TbShopSellerWithBLOBs" extends="BaseResultMap" >
    <result column="password_question" property="passwordQuestion" jdbcType="LONGVARCHAR" />
    <result column="password_answers" property="passwordAnswers" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    seller_id, uuid, app_name, app_id, store_id, member_id, member_name, head_pic, nickname, 
    member_phone, member_account, member_password, member_address, member_email, idcard, 
    idcard_front, idcard_back, idcard_hand_license, is_admin, seller_quicklink, last_login_time, 
    update_time, is_token
  </sql>
  <sql id="Blob_Column_List" >
    password_question, password_answers
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_shop_seller
    where seller_id = #{sellerId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_shop_seller
    where seller_id = #{sellerId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kooing.model.mysql.shop.TbShopSellerWithBLOBs" >
    insert into tb_shop_seller (seller_id, uuid, app_name, 
      app_id, store_id, member_id, 
      member_name, head_pic, nickname, 
      member_phone, member_account, member_password, 
      member_address, member_email, idcard, 
      idcard_front, idcard_back, idcard_hand_license, 
      is_admin, seller_quicklink, last_login_time, 
      update_time, is_token, password_question, 
      password_answers)
    values (#{sellerId,jdbcType=INTEGER}, #{uuid,jdbcType=CHAR}, #{appName,jdbcType=VARCHAR}, 
      #{appId,jdbcType=INTEGER}, #{storeId,jdbcType=INTEGER}, #{memberId,jdbcType=INTEGER}, 
      #{memberName,jdbcType=CHAR}, #{headPic,jdbcType=CHAR}, #{nickname,jdbcType=CHAR}, 
      #{memberPhone,jdbcType=CHAR}, #{memberAccount,jdbcType=CHAR}, #{memberPassword,jdbcType=CHAR}, 
      #{memberAddress,jdbcType=CHAR}, #{memberEmail,jdbcType=CHAR}, #{idcard,jdbcType=CHAR}, 
      #{idcardFront,jdbcType=CHAR}, #{idcardBack,jdbcType=CHAR}, #{idcardHandLicense,jdbcType=CHAR}, 
      #{isAdmin,jdbcType=INTEGER}, #{sellerQuicklink,jdbcType=VARCHAR}, #{lastLoginTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{isToken,jdbcType=VARCHAR}, #{passwordQuestion,jdbcType=LONGVARCHAR}, 
      #{passwordAnswers,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.model.mysql.shop.TbShopSellerWithBLOBs" >
    insert into tb_shop_seller
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sellerId != null" >
        seller_id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="appName != null" >
        app_name,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="memberName != null" >
        member_name,
      </if>
      <if test="headPic != null" >
        head_pic,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="memberPhone != null" >
        member_phone,
      </if>
      <if test="memberAccount != null" >
        member_account,
      </if>
      <if test="memberPassword != null" >
        member_password,
      </if>
      <if test="memberAddress != null" >
        member_address,
      </if>
      <if test="memberEmail != null" >
        member_email,
      </if>
      <if test="idcard != null" >
        idcard,
      </if>
      <if test="idcardFront != null" >
        idcard_front,
      </if>
      <if test="idcardBack != null" >
        idcard_back,
      </if>
      <if test="idcardHandLicense != null" >
        idcard_hand_license,
      </if>
      <if test="isAdmin != null" >
        is_admin,
      </if>
      <if test="sellerQuicklink != null" >
        seller_quicklink,
      </if>
      <if test="lastLoginTime != null" >
        last_login_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isToken != null" >
        is_token,
      </if>
      <if test="passwordQuestion != null" >
        password_question,
      </if>
      <if test="passwordAnswers != null" >
        password_answers,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sellerId != null" >
        #{sellerId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=CHAR},
      </if>
      <if test="appName != null" >
        #{appName,jdbcType=VARCHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="memberName != null" >
        #{memberName,jdbcType=CHAR},
      </if>
      <if test="headPic != null" >
        #{headPic,jdbcType=CHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=CHAR},
      </if>
      <if test="memberPhone != null" >
        #{memberPhone,jdbcType=CHAR},
      </if>
      <if test="memberAccount != null" >
        #{memberAccount,jdbcType=CHAR},
      </if>
      <if test="memberPassword != null" >
        #{memberPassword,jdbcType=CHAR},
      </if>
      <if test="memberAddress != null" >
        #{memberAddress,jdbcType=CHAR},
      </if>
      <if test="memberEmail != null" >
        #{memberEmail,jdbcType=CHAR},
      </if>
      <if test="idcard != null" >
        #{idcard,jdbcType=CHAR},
      </if>
      <if test="idcardFront != null" >
        #{idcardFront,jdbcType=CHAR},
      </if>
      <if test="idcardBack != null" >
        #{idcardBack,jdbcType=CHAR},
      </if>
      <if test="idcardHandLicense != null" >
        #{idcardHandLicense,jdbcType=CHAR},
      </if>
      <if test="isAdmin != null" >
        #{isAdmin,jdbcType=INTEGER},
      </if>
      <if test="sellerQuicklink != null" >
        #{sellerQuicklink,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null" >
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isToken != null" >
        #{isToken,jdbcType=VARCHAR},
      </if>
      <if test="passwordQuestion != null" >
        #{passwordQuestion,jdbcType=LONGVARCHAR},
      </if>
      <if test="passwordAnswers != null" >
        #{passwordAnswers,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.model.mysql.shop.TbShopSellerWithBLOBs" >
    update tb_shop_seller
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=CHAR},
      </if>
      <if test="appName != null" >
        app_name = #{appName,jdbcType=VARCHAR},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="memberName != null" >
        member_name = #{memberName,jdbcType=CHAR},
      </if>
      <if test="headPic != null" >
        head_pic = #{headPic,jdbcType=CHAR},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=CHAR},
      </if>
      <if test="memberPhone != null" >
        member_phone = #{memberPhone,jdbcType=CHAR},
      </if>
      <if test="memberAccount != null" >
        member_account = #{memberAccount,jdbcType=CHAR},
      </if>
      <if test="memberPassword != null" >
        member_password = #{memberPassword,jdbcType=CHAR},
      </if>
      <if test="memberAddress != null" >
        member_address = #{memberAddress,jdbcType=CHAR},
      </if>
      <if test="memberEmail != null" >
        member_email = #{memberEmail,jdbcType=CHAR},
      </if>
      <if test="idcard != null" >
        idcard = #{idcard,jdbcType=CHAR},
      </if>
      <if test="idcardFront != null" >
        idcard_front = #{idcardFront,jdbcType=CHAR},
      </if>
      <if test="idcardBack != null" >
        idcard_back = #{idcardBack,jdbcType=CHAR},
      </if>
      <if test="idcardHandLicense != null" >
        idcard_hand_license = #{idcardHandLicense,jdbcType=CHAR},
      </if>
      <if test="isAdmin != null" >
        is_admin = #{isAdmin,jdbcType=INTEGER},
      </if>
      <if test="sellerQuicklink != null" >
        seller_quicklink = #{sellerQuicklink,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null" >
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isToken != null" >
        is_token = #{isToken,jdbcType=VARCHAR},
      </if>
      <if test="passwordQuestion != null" >
        password_question = #{passwordQuestion,jdbcType=LONGVARCHAR},
      </if>
      <if test="passwordAnswers != null" >
        password_answers = #{passwordAnswers,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where seller_id = #{sellerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.kooing.model.mysql.shop.TbShopSellerWithBLOBs" >
    update tb_shop_seller
    set uuid = #{uuid,jdbcType=CHAR},
      app_name = #{appName,jdbcType=VARCHAR},
      app_id = #{appId,jdbcType=INTEGER},
      store_id = #{storeId,jdbcType=INTEGER},
      member_id = #{memberId,jdbcType=INTEGER},
      member_name = #{memberName,jdbcType=CHAR},
      head_pic = #{headPic,jdbcType=CHAR},
      nickname = #{nickname,jdbcType=CHAR},
      member_phone = #{memberPhone,jdbcType=CHAR},
      member_account = #{memberAccount,jdbcType=CHAR},
      member_password = #{memberPassword,jdbcType=CHAR},
      member_address = #{memberAddress,jdbcType=CHAR},
      member_email = #{memberEmail,jdbcType=CHAR},
      idcard = #{idcard,jdbcType=CHAR},
      idcard_front = #{idcardFront,jdbcType=CHAR},
      idcard_back = #{idcardBack,jdbcType=CHAR},
      idcard_hand_license = #{idcardHandLicense,jdbcType=CHAR},
      is_admin = #{isAdmin,jdbcType=INTEGER},
      seller_quicklink = #{sellerQuicklink,jdbcType=VARCHAR},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_token = #{isToken,jdbcType=VARCHAR},
      password_question = #{passwordQuestion,jdbcType=LONGVARCHAR},
      password_answers = #{passwordAnswers,jdbcType=LONGVARCHAR}
    where seller_id = #{sellerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.model.mysql.shop.TbShopSeller" >
    update tb_shop_seller
    set uuid = #{uuid,jdbcType=CHAR},
      app_name = #{appName,jdbcType=VARCHAR},
      app_id = #{appId,jdbcType=INTEGER},
      store_id = #{storeId,jdbcType=INTEGER},
      member_id = #{memberId,jdbcType=INTEGER},
      member_name = #{memberName,jdbcType=CHAR},
      head_pic = #{headPic,jdbcType=CHAR},
      nickname = #{nickname,jdbcType=CHAR},
      member_phone = #{memberPhone,jdbcType=CHAR},
      member_account = #{memberAccount,jdbcType=CHAR},
      member_password = #{memberPassword,jdbcType=CHAR},
      member_address = #{memberAddress,jdbcType=CHAR},
      member_email = #{memberEmail,jdbcType=CHAR},
      idcard = #{idcard,jdbcType=CHAR},
      idcard_front = #{idcardFront,jdbcType=CHAR},
      idcard_back = #{idcardBack,jdbcType=CHAR},
      idcard_hand_license = #{idcardHandLicense,jdbcType=CHAR},
      is_admin = #{isAdmin,jdbcType=INTEGER},
      seller_quicklink = #{sellerQuicklink,jdbcType=VARCHAR},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_token = #{isToken,jdbcType=VARCHAR}
    where seller_id = #{sellerId,jdbcType=INTEGER}
  </update>
</mapper>