<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kooing.Interface.mysql.shop.TbShopAddressMapper" >
  <resultMap id="BaseResultMap" type="com.kooing.model.mysql.shop.TbShopAddress" >
    <id column="address_id" property="addressId" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="seller_name" property="sellerName" jdbcType="CHAR" />
    <result column="area_id" property="areaId" jdbcType="INTEGER" />
    <result column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="area_info" property="areaInfo" jdbcType="CHAR" />
    <result column="address" property="address" jdbcType="CHAR" />
    <result column="telphone" property="telphone" jdbcType="CHAR" />
    <result column="company" property="company" jdbcType="CHAR" />
    <result column="is_default" property="isDefault" jdbcType="BIT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    address_id, uuid, app_id, store_id, seller_name, area_id, city_id, area_info, address, 
    telphone, company, is_default, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_shop_address
    where address_id = #{addressId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_shop_address
    where address_id = #{addressId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kooing.model.mysql.shop.TbShopAddress" >
    insert into tb_shop_address (address_id, uuid, app_id, 
      store_id, seller_name, area_id, 
      city_id, area_info, address, 
      telphone, company, is_default, 
      update_time)
    values (#{addressId,jdbcType=INTEGER}, #{uuid,jdbcType=CHAR}, #{appId,jdbcType=INTEGER}, 
      #{storeId,jdbcType=INTEGER}, #{sellerName,jdbcType=CHAR}, #{areaId,jdbcType=INTEGER}, 
      #{cityId,jdbcType=INTEGER}, #{areaInfo,jdbcType=CHAR}, #{address,jdbcType=CHAR}, 
      #{telphone,jdbcType=CHAR}, #{company,jdbcType=CHAR}, #{isDefault,jdbcType=BIT}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.model.mysql.shop.TbShopAddress" >
    insert into tb_shop_address
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="addressId != null" >
        address_id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="sellerName != null" >
        seller_name,
      </if>
      <if test="areaId != null" >
        area_id,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="areaInfo != null" >
        area_info,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="telphone != null" >
        telphone,
      </if>
      <if test="company != null" >
        company,
      </if>
      <if test="isDefault != null" >
        is_default,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="addressId != null" >
        #{addressId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="sellerName != null" >
        #{sellerName,jdbcType=CHAR},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="areaInfo != null" >
        #{areaInfo,jdbcType=CHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=CHAR},
      </if>
      <if test="telphone != null" >
        #{telphone,jdbcType=CHAR},
      </if>
      <if test="company != null" >
        #{company,jdbcType=CHAR},
      </if>
      <if test="isDefault != null" >
        #{isDefault,jdbcType=BIT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.model.mysql.shop.TbShopAddress" >
    update tb_shop_address
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="sellerName != null" >
        seller_name = #{sellerName,jdbcType=CHAR},
      </if>
      <if test="areaId != null" >
        area_id = #{areaId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="areaInfo != null" >
        area_info = #{areaInfo,jdbcType=CHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=CHAR},
      </if>
      <if test="telphone != null" >
        telphone = #{telphone,jdbcType=CHAR},
      </if>
      <if test="company != null" >
        company = #{company,jdbcType=CHAR},
      </if>
      <if test="isDefault != null" >
        is_default = #{isDefault,jdbcType=BIT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where address_id = #{addressId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.model.mysql.shop.TbShopAddress" >
    update tb_shop_address
    set uuid = #{uuid,jdbcType=CHAR},
      app_id = #{appId,jdbcType=INTEGER},
      store_id = #{storeId,jdbcType=INTEGER},
      seller_name = #{sellerName,jdbcType=CHAR},
      area_id = #{areaId,jdbcType=INTEGER},
      city_id = #{cityId,jdbcType=INTEGER},
      area_info = #{areaInfo,jdbcType=CHAR},
      address = #{address,jdbcType=CHAR},
      telphone = #{telphone,jdbcType=CHAR},
      company = #{company,jdbcType=CHAR},
      is_default = #{isDefault,jdbcType=BIT},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where address_id = #{addressId,jdbcType=INTEGER}
  </update>
</mapper>