<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kooing.Interface.mysql.shop.TbShopDecorationBlockMapper" >
  <resultMap id="BaseResultMap" type="com.kooing.model.mysql.shop.TbShopDecorationBlock" >
    <id column="block_id" property="blockId" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="decoration_id" property="decorationId" jdbcType="INTEGER" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="block_layout" property="blockLayout" jdbcType="VARCHAR" />
    <result column="block_module_type" property="blockModuleType" jdbcType="VARCHAR" />
    <result column="block_full_width" property="blockFullWidth" jdbcType="INTEGER" />
    <result column="block_sort" property="blockSort" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.kooing.model.mysql.shop.TbShopDecorationBlock" extends="BaseResultMap" >
    <result column="block_content" property="blockContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    block_id, uuid, app_id, decoration_id, store_id, block_layout, block_module_type, 
    block_full_width, block_sort, update_time
  </sql>
  <sql id="Blob_Column_List" >
    block_content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_shop_decoration_block
    where block_id = #{blockId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_shop_decoration_block
    where block_id = #{blockId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kooing.model.mysql.shop.TbShopDecorationBlock" >
    insert into tb_shop_decoration_block (block_id, uuid, app_id, 
      decoration_id, store_id, block_layout, 
      block_module_type, block_full_width, block_sort, 
      update_time, block_content)
    values (#{blockId,jdbcType=INTEGER}, #{uuid,jdbcType=CHAR}, #{appId,jdbcType=INTEGER}, 
      #{decorationId,jdbcType=INTEGER}, #{storeId,jdbcType=INTEGER}, #{blockLayout,jdbcType=VARCHAR}, 
      #{blockModuleType,jdbcType=VARCHAR}, #{blockFullWidth,jdbcType=INTEGER}, #{blockSort,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{blockContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.model.mysql.shop.TbShopDecorationBlock" >
    insert into tb_shop_decoration_block
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="blockId != null" >
        block_id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="decorationId != null" >
        decoration_id,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="blockLayout != null" >
        block_layout,
      </if>
      <if test="blockModuleType != null" >
        block_module_type,
      </if>
      <if test="blockFullWidth != null" >
        block_full_width,
      </if>
      <if test="blockSort != null" >
        block_sort,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="blockContent != null" >
        block_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="blockId != null" >
        #{blockId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="decorationId != null" >
        #{decorationId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="blockLayout != null" >
        #{blockLayout,jdbcType=VARCHAR},
      </if>
      <if test="blockModuleType != null" >
        #{blockModuleType,jdbcType=VARCHAR},
      </if>
      <if test="blockFullWidth != null" >
        #{blockFullWidth,jdbcType=INTEGER},
      </if>
      <if test="blockSort != null" >
        #{blockSort,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="blockContent != null" >
        #{blockContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.model.mysql.shop.TbShopDecorationBlock" >
    update tb_shop_decoration_block
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="decorationId != null" >
        decoration_id = #{decorationId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="blockLayout != null" >
        block_layout = #{blockLayout,jdbcType=VARCHAR},
      </if>
      <if test="blockModuleType != null" >
        block_module_type = #{blockModuleType,jdbcType=VARCHAR},
      </if>
      <if test="blockFullWidth != null" >
        block_full_width = #{blockFullWidth,jdbcType=INTEGER},
      </if>
      <if test="blockSort != null" >
        block_sort = #{blockSort,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="blockContent != null" >
        block_content = #{blockContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where block_id = #{blockId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.kooing.model.mysql.shop.TbShopDecorationBlock" >
    update tb_shop_decoration_block
    set uuid = #{uuid,jdbcType=CHAR},
      app_id = #{appId,jdbcType=INTEGER},
      decoration_id = #{decorationId,jdbcType=INTEGER},
      store_id = #{storeId,jdbcType=INTEGER},
      block_layout = #{blockLayout,jdbcType=VARCHAR},
      block_module_type = #{blockModuleType,jdbcType=VARCHAR},
      block_full_width = #{blockFullWidth,jdbcType=INTEGER},
      block_sort = #{blockSort,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      block_content = #{blockContent,jdbcType=LONGVARCHAR}
    where block_id = #{blockId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.model.mysql.shop.TbShopDecorationBlock" >
    update tb_shop_decoration_block
    set uuid = #{uuid,jdbcType=CHAR},
      app_id = #{appId,jdbcType=INTEGER},
      decoration_id = #{decorationId,jdbcType=INTEGER},
      store_id = #{storeId,jdbcType=INTEGER},
      block_layout = #{blockLayout,jdbcType=VARCHAR},
      block_module_type = #{blockModuleType,jdbcType=VARCHAR},
      block_full_width = #{blockFullWidth,jdbcType=INTEGER},
      block_sort = #{blockSort,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where block_id = #{blockId,jdbcType=INTEGER}
  </update>
</mapper>