<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kooing.Interface.mysql.shop.TbShopDecorationMapper" >
  <resultMap id="BaseResultMap" type="com.kooing.model.mysql.shop.TbShopDecoration" >
    <id column="decoration_id" property="decorationId" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="page_type" property="pageType" jdbcType="CHAR" />
    <result column="decoration_name" property="decorationName" jdbcType="CHAR" />
    <result column="decoration_url" property="decorationUrl" jdbcType="CHAR" />
    <result column="decoration_qr" property="decorationQr" jdbcType="CHAR" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="decoration_setting" property="decorationSetting" jdbcType="VARCHAR" />
    <result column="decoration_nav" property="decorationNav" jdbcType="VARCHAR" />
    <result column="is_home_page" property="isHomePage" jdbcType="INTEGER" />
    <result column="decoration_banner" property="decorationBanner" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="CHAR" />
    <result column="owner_type" property="ownerType" jdbcType="CHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    decoration_id, uuid, app_id, page_type, decoration_name, decoration_url, decoration_qr, 
    store_id, decoration_setting, decoration_nav, is_home_page, decoration_banner, state, 
    owner_type, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_shop_decoration
    where decoration_id = #{decorationId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_shop_decoration
    where decoration_id = #{decorationId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kooing.model.mysql.shop.TbShopDecoration" >
    insert into tb_shop_decoration (decoration_id, uuid, app_id, 
      page_type, decoration_name, decoration_url, 
      decoration_qr, store_id, decoration_setting, 
      decoration_nav, is_home_page, decoration_banner, 
      state, owner_type, update_time
      )
    values (#{decorationId,jdbcType=INTEGER}, #{uuid,jdbcType=CHAR}, #{appId,jdbcType=INTEGER}, 
      #{pageType,jdbcType=CHAR}, #{decorationName,jdbcType=CHAR}, #{decorationUrl,jdbcType=CHAR}, 
      #{decorationQr,jdbcType=CHAR}, #{storeId,jdbcType=INTEGER}, #{decorationSetting,jdbcType=VARCHAR}, 
      #{decorationNav,jdbcType=VARCHAR}, #{isHomePage,jdbcType=INTEGER}, #{decorationBanner,jdbcType=VARCHAR}, 
      #{state,jdbcType=CHAR}, #{ownerType,jdbcType=CHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.model.mysql.shop.TbShopDecoration" >
    insert into tb_shop_decoration
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="decorationId != null" >
        decoration_id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="pageType != null" >
        page_type,
      </if>
      <if test="decorationName != null" >
        decoration_name,
      </if>
      <if test="decorationUrl != null" >
        decoration_url,
      </if>
      <if test="decorationQr != null" >
        decoration_qr,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="decorationSetting != null" >
        decoration_setting,
      </if>
      <if test="decorationNav != null" >
        decoration_nav,
      </if>
      <if test="isHomePage != null" >
        is_home_page,
      </if>
      <if test="decorationBanner != null" >
        decoration_banner,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="ownerType != null" >
        owner_type,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="decorationId != null" >
        #{decorationId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="pageType != null" >
        #{pageType,jdbcType=CHAR},
      </if>
      <if test="decorationName != null" >
        #{decorationName,jdbcType=CHAR},
      </if>
      <if test="decorationUrl != null" >
        #{decorationUrl,jdbcType=CHAR},
      </if>
      <if test="decorationQr != null" >
        #{decorationQr,jdbcType=CHAR},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="decorationSetting != null" >
        #{decorationSetting,jdbcType=VARCHAR},
      </if>
      <if test="decorationNav != null" >
        #{decorationNav,jdbcType=VARCHAR},
      </if>
      <if test="isHomePage != null" >
        #{isHomePage,jdbcType=INTEGER},
      </if>
      <if test="decorationBanner != null" >
        #{decorationBanner,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=CHAR},
      </if>
      <if test="ownerType != null" >
        #{ownerType,jdbcType=CHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.model.mysql.shop.TbShopDecoration" >
    update tb_shop_decoration
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="pageType != null" >
        page_type = #{pageType,jdbcType=CHAR},
      </if>
      <if test="decorationName != null" >
        decoration_name = #{decorationName,jdbcType=CHAR},
      </if>
      <if test="decorationUrl != null" >
        decoration_url = #{decorationUrl,jdbcType=CHAR},
      </if>
      <if test="decorationQr != null" >
        decoration_qr = #{decorationQr,jdbcType=CHAR},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="decorationSetting != null" >
        decoration_setting = #{decorationSetting,jdbcType=VARCHAR},
      </if>
      <if test="decorationNav != null" >
        decoration_nav = #{decorationNav,jdbcType=VARCHAR},
      </if>
      <if test="isHomePage != null" >
        is_home_page = #{isHomePage,jdbcType=INTEGER},
      </if>
      <if test="decorationBanner != null" >
        decoration_banner = #{decorationBanner,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=CHAR},
      </if>
      <if test="ownerType != null" >
        owner_type = #{ownerType,jdbcType=CHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where decoration_id = #{decorationId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.model.mysql.shop.TbShopDecoration" >
    update tb_shop_decoration
    set uuid = #{uuid,jdbcType=CHAR},
      app_id = #{appId,jdbcType=INTEGER},
      page_type = #{pageType,jdbcType=CHAR},
      decoration_name = #{decorationName,jdbcType=CHAR},
      decoration_url = #{decorationUrl,jdbcType=CHAR},
      decoration_qr = #{decorationQr,jdbcType=CHAR},
      store_id = #{storeId,jdbcType=INTEGER},
      decoration_setting = #{decorationSetting,jdbcType=VARCHAR},
      decoration_nav = #{decorationNav,jdbcType=VARCHAR},
      is_home_page = #{isHomePage,jdbcType=INTEGER},
      decoration_banner = #{decorationBanner,jdbcType=VARCHAR},
      state = #{state,jdbcType=CHAR},
      owner_type = #{ownerType,jdbcType=CHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where decoration_id = #{decorationId,jdbcType=INTEGER}
  </update>
</mapper>