<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kooing.Interface.mysql.shop.TbShopDecorationAlbumMapper" >
  <resultMap id="BaseResultMap" type="com.kooing.model.mysql.shop.TbShopDecorationAlbum" >
    <id column="image_id" property="imageId" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="image_name" property="imageName" jdbcType="VARCHAR" />
    <result column="image_origin_name" property="imageOriginName" jdbcType="VARCHAR" />
    <result column="image_width" property="imageWidth" jdbcType="INTEGER" />
    <result column="image_height" property="imageHeight" jdbcType="INTEGER" />
    <result column="image_url" property="imageUrl" jdbcType="VARCHAR" />
    <result column="image_size" property="imageSize" jdbcType="REAL" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="upload_time" property="uploadTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    image_id, uuid, app_id, image_name, image_origin_name, image_width, image_height, 
    image_url, image_size, store_id, upload_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_shop_decoration_album
    where image_id = #{imageId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_shop_decoration_album
    where image_id = #{imageId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kooing.model.mysql.shop.TbShopDecorationAlbum" >
    insert into tb_shop_decoration_album (image_id, uuid, app_id, 
      image_name, image_origin_name, image_width, 
      image_height, image_url, image_size, 
      store_id, upload_time)
    values (#{imageId,jdbcType=INTEGER}, #{uuid,jdbcType=CHAR}, #{appId,jdbcType=INTEGER}, 
      #{imageName,jdbcType=VARCHAR}, #{imageOriginName,jdbcType=VARCHAR}, #{imageWidth,jdbcType=INTEGER}, 
      #{imageHeight,jdbcType=INTEGER}, #{imageUrl,jdbcType=VARCHAR}, #{imageSize,jdbcType=REAL}, 
      #{storeId,jdbcType=INTEGER}, #{uploadTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.model.mysql.shop.TbShopDecorationAlbum" >
    insert into tb_shop_decoration_album
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="imageId != null" >
        image_id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="imageName != null" >
        image_name,
      </if>
      <if test="imageOriginName != null" >
        image_origin_name,
      </if>
      <if test="imageWidth != null" >
        image_width,
      </if>
      <if test="imageHeight != null" >
        image_height,
      </if>
      <if test="imageUrl != null" >
        image_url,
      </if>
      <if test="imageSize != null" >
        image_size,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="uploadTime != null" >
        upload_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="imageId != null" >
        #{imageId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="imageName != null" >
        #{imageName,jdbcType=VARCHAR},
      </if>
      <if test="imageOriginName != null" >
        #{imageOriginName,jdbcType=VARCHAR},
      </if>
      <if test="imageWidth != null" >
        #{imageWidth,jdbcType=INTEGER},
      </if>
      <if test="imageHeight != null" >
        #{imageHeight,jdbcType=INTEGER},
      </if>
      <if test="imageUrl != null" >
        #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="imageSize != null" >
        #{imageSize,jdbcType=REAL},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="uploadTime != null" >
        #{uploadTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.model.mysql.shop.TbShopDecorationAlbum" >
    update tb_shop_decoration_album
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="imageName != null" >
        image_name = #{imageName,jdbcType=VARCHAR},
      </if>
      <if test="imageOriginName != null" >
        image_origin_name = #{imageOriginName,jdbcType=VARCHAR},
      </if>
      <if test="imageWidth != null" >
        image_width = #{imageWidth,jdbcType=INTEGER},
      </if>
      <if test="imageHeight != null" >
        image_height = #{imageHeight,jdbcType=INTEGER},
      </if>
      <if test="imageUrl != null" >
        image_url = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="imageSize != null" >
        image_size = #{imageSize,jdbcType=REAL},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="uploadTime != null" >
        upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where image_id = #{imageId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.model.mysql.shop.TbShopDecorationAlbum" >
    update tb_shop_decoration_album
    set uuid = #{uuid,jdbcType=CHAR},
      app_id = #{appId,jdbcType=INTEGER},
      image_name = #{imageName,jdbcType=VARCHAR},
      image_origin_name = #{imageOriginName,jdbcType=VARCHAR},
      image_width = #{imageWidth,jdbcType=INTEGER},
      image_height = #{imageHeight,jdbcType=INTEGER},
      image_url = #{imageUrl,jdbcType=VARCHAR},
      image_size = #{imageSize,jdbcType=REAL},
      store_id = #{storeId,jdbcType=INTEGER},
      upload_time = #{uploadTime,jdbcType=TIMESTAMP}
    where image_id = #{imageId,jdbcType=INTEGER}
  </update>
</mapper>