<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kooing.Interface.mysql.shop.TbShopBindClassMapper" >
  <resultMap id="BaseResultMap" type="com.kooing.model.mysql.shop.TbShopBindClass" >
    <id column="bid" property="bid" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="commis_rate" property="commisRate" jdbcType="INTEGER" />
    <result column="class_1" property="class1" jdbcType="INTEGER" />
    <result column="class_2" property="class2" jdbcType="INTEGER" />
    <result column="class_3" property="class3" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    bid, uuid, app_id, store_id, commis_rate, class_1, class_2, class_3, state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_shop_bind_class
    where bid = #{bid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_shop_bind_class
    where bid = #{bid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kooing.model.mysql.shop.TbShopBindClass" >
    insert into tb_shop_bind_class (bid, uuid, app_id, 
      store_id, commis_rate, class_1, 
      class_2, class_3, state
      )
    values (#{bid,jdbcType=INTEGER}, #{uuid,jdbcType=CHAR}, #{appId,jdbcType=INTEGER}, 
      #{storeId,jdbcType=INTEGER}, #{commisRate,jdbcType=INTEGER}, #{class1,jdbcType=INTEGER}, 
      #{class2,jdbcType=INTEGER}, #{class3,jdbcType=INTEGER}, #{state,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.model.mysql.shop.TbShopBindClass" >
    insert into tb_shop_bind_class
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bid != null" >
        bid,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="commisRate != null" >
        commis_rate,
      </if>
      <if test="class1 != null" >
        class_1,
      </if>
      <if test="class2 != null" >
        class_2,
      </if>
      <if test="class3 != null" >
        class_3,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bid != null" >
        #{bid,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="commisRate != null" >
        #{commisRate,jdbcType=INTEGER},
      </if>
      <if test="class1 != null" >
        #{class1,jdbcType=INTEGER},
      </if>
      <if test="class2 != null" >
        #{class2,jdbcType=INTEGER},
      </if>
      <if test="class3 != null" >
        #{class3,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.model.mysql.shop.TbShopBindClass" >
    update tb_shop_bind_class
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="commisRate != null" >
        commis_rate = #{commisRate,jdbcType=INTEGER},
      </if>
      <if test="class1 != null" >
        class_1 = #{class1,jdbcType=INTEGER},
      </if>
      <if test="class2 != null" >
        class_2 = #{class2,jdbcType=INTEGER},
      </if>
      <if test="class3 != null" >
        class_3 = #{class3,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where bid = #{bid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.model.mysql.shop.TbShopBindClass" >
    update tb_shop_bind_class
    set uuid = #{uuid,jdbcType=CHAR},
      app_id = #{appId,jdbcType=INTEGER},
      store_id = #{storeId,jdbcType=INTEGER},
      commis_rate = #{commisRate,jdbcType=INTEGER},
      class_1 = #{class1,jdbcType=INTEGER},
      class_2 = #{class2,jdbcType=INTEGER},
      class_3 = #{class3,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER}
    where bid = #{bid,jdbcType=INTEGER}
  </update>
</mapper>