<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kooing.saas.persistent.dao.member.TbUrsMemberMapper" >
  <resultMap id="BaseResultMap" type="com.kooing.saas.persistent.model.member.TbUrsMember" >
    <id column="member_id" property="memberId" jdbcType="BIGINT" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="member_name" property="memberName" jdbcType="CHAR" />
    <result column="member_truename" property="memberTruename" jdbcType="CHAR" />
    <result column="member_avatar" property="memberAvatar" jdbcType="CHAR" />
    <result column="member_sex" property="memberSex" jdbcType="INTEGER" />
    <result column="idcard" property="idcard" jdbcType="CHAR" />
    <result column="member_birthday" property="memberBirthday" jdbcType="DATE" />
    <result column="member_password" property="memberPassword" jdbcType="CHAR" />
    <result column="member_pay_password" property="memberPayPassword" jdbcType="CHAR" />
    <result column="member_email" property="memberEmail" jdbcType="CHAR" />
    <result column="member_email_bind" property="memberEmailBind" jdbcType="INTEGER" />
    <result column="member_mobile" property="memberMobile" jdbcType="CHAR" />
    <result column="member_mobile_bind" property="memberMobileBind" jdbcType="INTEGER" />
    <result column="member_qq" property="memberQq" jdbcType="CHAR" />
    <result column="member_login_num" property="memberLoginNum" jdbcType="INTEGER" />
    <result column="member_register_time" property="memberRegisterTime" jdbcType="TIMESTAMP" />
    <result column="member_login_time" property="memberLoginTime" jdbcType="TIMESTAMP" />
    <result column="member_old_login_time" property="memberOldLoginTime" jdbcType="TIMESTAMP" />
    <result column="member_login_ip" property="memberLoginIp" jdbcType="CHAR" />
    <result column="member_exit_time" property="memberExitTime" jdbcType="TIMESTAMP" />
    <result column="member_wechat_openid" property="memberWechatOpenid" jdbcType="VARCHAR" />
    <result column="member_qq_openid" property="memberQqOpenid" jdbcType="VARCHAR" />
    <result column="member_sina_openid" property="memberSinaOpenid" jdbcType="VARCHAR" />
    <result column="member_points" property="memberPoints" jdbcType="INTEGER" />
    <result column="member_areaid" property="memberAreaid" jdbcType="INTEGER" />
    <result column="member_cityid" property="memberCityid" jdbcType="INTEGER" />
    <result column="member_provinceid" property="memberProvinceid" jdbcType="INTEGER" />
    <result column="member_exppoints" property="memberExppoints" jdbcType="INTEGER" />
    <result column="member_grade" property="memberGrade" jdbcType="INTEGER" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="clientid" property="clientid" jdbcType="VARCHAR" />
    <result column="idcard_front" property="idcardFront" jdbcType="CHAR" />
    <result column="idcard_back" property="idcardBack" jdbcType="CHAR" />
    <result column="idcard_hand_license" property="idcardHandLicense" jdbcType="CHAR" />
    <result column="member_address" property="memberAddress" jdbcType="VARCHAR" />
    <result column="member_virtual" property="memberVirtual" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.kooing.saas.persistent.model.member.TbUrsMemberWithBLOBs" extends="BaseResultMap" >
    <result column="member_wechat_info" property="memberWechatInfo" jdbcType="LONGVARCHAR" />
    <result column="member_qq_info" property="memberQqInfo" jdbcType="LONGVARCHAR" />
    <result column="member_sina_info" property="memberSinaInfo" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    member_id, uuid, member_name, member_truename, member_avatar, member_sex, idcard, 
    member_birthday, member_password, member_pay_password, member_email, member_email_bind, 
    member_mobile, member_mobile_bind, member_qq, member_login_num, member_register_time, 
    member_login_time, member_old_login_time, member_login_ip, member_exit_time, member_wechat_openid, 
    member_qq_openid, member_sina_openid, member_points, member_areaid, member_cityid, 
    member_provinceid, member_exppoints, member_grade, store_id, clientid, idcard_front, 
    idcard_back, idcard_hand_license, member_address, member_virtual
  </sql>
  <sql id="Blob_Column_List" >
    member_wechat_info, member_qq_info, member_sina_info
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_urs_member
    where member_id = #{memberId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_urs_member
    where member_id = #{memberId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.kooing.saas.persistent.model.member.TbUrsMemberWithBLOBs" >
    insert into tb_urs_member (member_id, uuid, member_name, 
      member_truename, member_avatar, member_sex, 
      idcard, member_birthday, member_password, 
      member_pay_password, member_email, member_email_bind, 
      member_mobile, member_mobile_bind, member_qq, 
      member_login_num, member_register_time, member_login_time, 
      member_old_login_time, member_login_ip, member_exit_time, 
      member_wechat_openid, member_qq_openid, member_sina_openid, 
      member_points, member_areaid, member_cityid, 
      member_provinceid, member_exppoints, member_grade, 
      store_id, clientid, idcard_front, 
      idcard_back, idcard_hand_license, member_address, 
      member_virtual, member_wechat_info, member_qq_info, 
      member_sina_info)
    values (#{memberId,jdbcType=BIGINT}, #{uuid,jdbcType=CHAR}, #{memberName,jdbcType=CHAR}, 
      #{memberTruename,jdbcType=CHAR}, #{memberAvatar,jdbcType=CHAR}, #{memberSex,jdbcType=INTEGER}, 
      #{idcard,jdbcType=CHAR}, #{memberBirthday,jdbcType=DATE}, #{memberPassword,jdbcType=CHAR}, 
      #{memberPayPassword,jdbcType=CHAR}, #{memberEmail,jdbcType=CHAR}, #{memberEmailBind,jdbcType=INTEGER}, 
      #{memberMobile,jdbcType=CHAR}, #{memberMobileBind,jdbcType=INTEGER}, #{memberQq,jdbcType=CHAR}, 
      #{memberLoginNum,jdbcType=INTEGER}, #{memberRegisterTime,jdbcType=TIMESTAMP}, #{memberLoginTime,jdbcType=TIMESTAMP}, 
      #{memberOldLoginTime,jdbcType=TIMESTAMP}, #{memberLoginIp,jdbcType=CHAR}, #{memberExitTime,jdbcType=TIMESTAMP}, 
      #{memberWechatOpenid,jdbcType=VARCHAR}, #{memberQqOpenid,jdbcType=VARCHAR}, #{memberSinaOpenid,jdbcType=VARCHAR}, 
      #{memberPoints,jdbcType=INTEGER}, #{memberAreaid,jdbcType=INTEGER}, #{memberCityid,jdbcType=INTEGER}, 
      #{memberProvinceid,jdbcType=INTEGER}, #{memberExppoints,jdbcType=INTEGER}, #{memberGrade,jdbcType=INTEGER}, 
      #{storeId,jdbcType=INTEGER}, #{clientid,jdbcType=VARCHAR}, #{idcardFront,jdbcType=CHAR}, 
      #{idcardBack,jdbcType=CHAR}, #{idcardHandLicense,jdbcType=CHAR}, #{memberAddress,jdbcType=VARCHAR}, 
      #{memberVirtual,jdbcType=INTEGER}, #{memberWechatInfo,jdbcType=LONGVARCHAR}, #{memberQqInfo,jdbcType=LONGVARCHAR}, 
      #{memberSinaInfo,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.saas.persistent.model.member.TbUrsMemberWithBLOBs" >
    insert into tb_urs_member
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="memberName != null" >
        member_name,
      </if>
      <if test="memberTruename != null" >
        member_truename,
      </if>
      <if test="memberAvatar != null" >
        member_avatar,
      </if>
      <if test="memberSex != null" >
        member_sex,
      </if>
      <if test="idcard != null" >
        idcard,
      </if>
      <if test="memberBirthday != null" >
        member_birthday,
      </if>
      <if test="memberPassword != null" >
        member_password,
      </if>
      <if test="memberPayPassword != null" >
        member_pay_password,
      </if>
      <if test="memberEmail != null" >
        member_email,
      </if>
      <if test="memberEmailBind != null" >
        member_email_bind,
      </if>
      <if test="memberMobile != null" >
        member_mobile,
      </if>
      <if test="memberMobileBind != null" >
        member_mobile_bind,
      </if>
      <if test="memberQq != null" >
        member_qq,
      </if>
      <if test="memberLoginNum != null" >
        member_login_num,
      </if>
      <if test="memberRegisterTime != null" >
        member_register_time,
      </if>
      <if test="memberLoginTime != null" >
        member_login_time,
      </if>
      <if test="memberOldLoginTime != null" >
        member_old_login_time,
      </if>
      <if test="memberLoginIp != null" >
        member_login_ip,
      </if>
      <if test="memberExitTime != null" >
        member_exit_time,
      </if>
      <if test="memberWechatOpenid != null" >
        member_wechat_openid,
      </if>
      <if test="memberQqOpenid != null" >
        member_qq_openid,
      </if>
      <if test="memberSinaOpenid != null" >
        member_sina_openid,
      </if>
      <if test="memberPoints != null" >
        member_points,
      </if>
      <if test="memberAreaid != null" >
        member_areaid,
      </if>
      <if test="memberCityid != null" >
        member_cityid,
      </if>
      <if test="memberProvinceid != null" >
        member_provinceid,
      </if>
      <if test="memberExppoints != null" >
        member_exppoints,
      </if>
      <if test="memberGrade != null" >
        member_grade,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="clientid != null" >
        clientid,
      </if>
      <if test="idcardFront != null" >
        idcard_front,
      </if>
      <if test="idcardBack != null" >
        idcard_back,
      </if>
      <if test="idcardHandLicense != null" >
        idcard_hand_license,
      </if>
      <if test="memberAddress != null" >
        member_address,
      </if>
      <if test="memberVirtual != null" >
        member_virtual,
      </if>
      <if test="memberWechatInfo != null" >
        member_wechat_info,
      </if>
      <if test="memberQqInfo != null" >
        member_qq_info,
      </if>
      <if test="memberSinaInfo != null" >
        member_sina_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="memberId != null" >
        #{memberId,jdbcType=BIGINT},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=CHAR},
      </if>
      <if test="memberName != null" >
        #{memberName,jdbcType=CHAR},
      </if>
      <if test="memberTruename != null" >
        #{memberTruename,jdbcType=CHAR},
      </if>
      <if test="memberAvatar != null" >
        #{memberAvatar,jdbcType=CHAR},
      </if>
      <if test="memberSex != null" >
        #{memberSex,jdbcType=INTEGER},
      </if>
      <if test="idcard != null" >
        #{idcard,jdbcType=CHAR},
      </if>
      <if test="memberBirthday != null" >
        #{memberBirthday,jdbcType=DATE},
      </if>
      <if test="memberPassword != null" >
        #{memberPassword,jdbcType=CHAR},
      </if>
      <if test="memberPayPassword != null" >
        #{memberPayPassword,jdbcType=CHAR},
      </if>
      <if test="memberEmail != null" >
        #{memberEmail,jdbcType=CHAR},
      </if>
      <if test="memberEmailBind != null" >
        #{memberEmailBind,jdbcType=INTEGER},
      </if>
      <if test="memberMobile != null" >
        #{memberMobile,jdbcType=CHAR},
      </if>
      <if test="memberMobileBind != null" >
        #{memberMobileBind,jdbcType=INTEGER},
      </if>
      <if test="memberQq != null" >
        #{memberQq,jdbcType=CHAR},
      </if>
      <if test="memberLoginNum != null" >
        #{memberLoginNum,jdbcType=INTEGER},
      </if>
      <if test="memberRegisterTime != null" >
        #{memberRegisterTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memberLoginTime != null" >
        #{memberLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memberOldLoginTime != null" >
        #{memberOldLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memberLoginIp != null" >
        #{memberLoginIp,jdbcType=CHAR},
      </if>
      <if test="memberExitTime != null" >
        #{memberExitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memberWechatOpenid != null" >
        #{memberWechatOpenid,jdbcType=VARCHAR},
      </if>
      <if test="memberQqOpenid != null" >
        #{memberQqOpenid,jdbcType=VARCHAR},
      </if>
      <if test="memberSinaOpenid != null" >
        #{memberSinaOpenid,jdbcType=VARCHAR},
      </if>
      <if test="memberPoints != null" >
        #{memberPoints,jdbcType=INTEGER},
      </if>
      <if test="memberAreaid != null" >
        #{memberAreaid,jdbcType=INTEGER},
      </if>
      <if test="memberCityid != null" >
        #{memberCityid,jdbcType=INTEGER},
      </if>
      <if test="memberProvinceid != null" >
        #{memberProvinceid,jdbcType=INTEGER},
      </if>
      <if test="memberExppoints != null" >
        #{memberExppoints,jdbcType=INTEGER},
      </if>
      <if test="memberGrade != null" >
        #{memberGrade,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="clientid != null" >
        #{clientid,jdbcType=VARCHAR},
      </if>
      <if test="idcardFront != null" >
        #{idcardFront,jdbcType=CHAR},
      </if>
      <if test="idcardBack != null" >
        #{idcardBack,jdbcType=CHAR},
      </if>
      <if test="idcardHandLicense != null" >
        #{idcardHandLicense,jdbcType=CHAR},
      </if>
      <if test="memberAddress != null" >
        #{memberAddress,jdbcType=VARCHAR},
      </if>
      <if test="memberVirtual != null" >
        #{memberVirtual,jdbcType=INTEGER},
      </if>
      <if test="memberWechatInfo != null" >
        #{memberWechatInfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="memberQqInfo != null" >
        #{memberQqInfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="memberSinaInfo != null" >
        #{memberSinaInfo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.saas.persistent.model.member.TbUrsMemberWithBLOBs" >
    update tb_urs_member
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=CHAR},
      </if>
      <if test="memberName != null" >
        member_name = #{memberName,jdbcType=CHAR},
      </if>
      <if test="memberTruename != null" >
        member_truename = #{memberTruename,jdbcType=CHAR},
      </if>
      <if test="memberAvatar != null" >
        member_avatar = #{memberAvatar,jdbcType=CHAR},
      </if>
      <if test="memberSex != null" >
        member_sex = #{memberSex,jdbcType=INTEGER},
      </if>
      <if test="idcard != null" >
        idcard = #{idcard,jdbcType=CHAR},
      </if>
      <if test="memberBirthday != null" >
        member_birthday = #{memberBirthday,jdbcType=DATE},
      </if>
      <if test="memberPassword != null" >
        member_password = #{memberPassword,jdbcType=CHAR},
      </if>
      <if test="memberPayPassword != null" >
        member_pay_password = #{memberPayPassword,jdbcType=CHAR},
      </if>
      <if test="memberEmail != null" >
        member_email = #{memberEmail,jdbcType=CHAR},
      </if>
      <if test="memberEmailBind != null" >
        member_email_bind = #{memberEmailBind,jdbcType=INTEGER},
      </if>
      <if test="memberMobile != null" >
        member_mobile = #{memberMobile,jdbcType=CHAR},
      </if>
      <if test="memberMobileBind != null" >
        member_mobile_bind = #{memberMobileBind,jdbcType=INTEGER},
      </if>
      <if test="memberQq != null" >
        member_qq = #{memberQq,jdbcType=CHAR},
      </if>
      <if test="memberLoginNum != null" >
        member_login_num = #{memberLoginNum,jdbcType=INTEGER},
      </if>
      <if test="memberRegisterTime != null" >
        member_register_time = #{memberRegisterTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memberLoginTime != null" >
        member_login_time = #{memberLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memberOldLoginTime != null" >
        member_old_login_time = #{memberOldLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memberLoginIp != null" >
        member_login_ip = #{memberLoginIp,jdbcType=CHAR},
      </if>
      <if test="memberExitTime != null" >
        member_exit_time = #{memberExitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memberWechatOpenid != null" >
        member_wechat_openid = #{memberWechatOpenid,jdbcType=VARCHAR},
      </if>
      <if test="memberQqOpenid != null" >
        member_qq_openid = #{memberQqOpenid,jdbcType=VARCHAR},
      </if>
      <if test="memberSinaOpenid != null" >
        member_sina_openid = #{memberSinaOpenid,jdbcType=VARCHAR},
      </if>
      <if test="memberPoints != null" >
        member_points = #{memberPoints,jdbcType=INTEGER},
      </if>
      <if test="memberAreaid != null" >
        member_areaid = #{memberAreaid,jdbcType=INTEGER},
      </if>
      <if test="memberCityid != null" >
        member_cityid = #{memberCityid,jdbcType=INTEGER},
      </if>
      <if test="memberProvinceid != null" >
        member_provinceid = #{memberProvinceid,jdbcType=INTEGER},
      </if>
      <if test="memberExppoints != null" >
        member_exppoints = #{memberExppoints,jdbcType=INTEGER},
      </if>
      <if test="memberGrade != null" >
        member_grade = #{memberGrade,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="clientid != null" >
        clientid = #{clientid,jdbcType=VARCHAR},
      </if>
      <if test="idcardFront != null" >
        idcard_front = #{idcardFront,jdbcType=CHAR},
      </if>
      <if test="idcardBack != null" >
        idcard_back = #{idcardBack,jdbcType=CHAR},
      </if>
      <if test="idcardHandLicense != null" >
        idcard_hand_license = #{idcardHandLicense,jdbcType=CHAR},
      </if>
      <if test="memberAddress != null" >
        member_address = #{memberAddress,jdbcType=VARCHAR},
      </if>
      <if test="memberVirtual != null" >
        member_virtual = #{memberVirtual,jdbcType=INTEGER},
      </if>
      <if test="memberWechatInfo != null" >
        member_wechat_info = #{memberWechatInfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="memberQqInfo != null" >
        member_qq_info = #{memberQqInfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="memberSinaInfo != null" >
        member_sina_info = #{memberSinaInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where member_id = #{memberId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.kooing.saas.persistent.model.member.TbUrsMemberWithBLOBs" >
    update tb_urs_member
    set uuid = #{uuid,jdbcType=CHAR},
      member_name = #{memberName,jdbcType=CHAR},
      member_truename = #{memberTruename,jdbcType=CHAR},
      member_avatar = #{memberAvatar,jdbcType=CHAR},
      member_sex = #{memberSex,jdbcType=INTEGER},
      idcard = #{idcard,jdbcType=CHAR},
      member_birthday = #{memberBirthday,jdbcType=DATE},
      member_password = #{memberPassword,jdbcType=CHAR},
      member_pay_password = #{memberPayPassword,jdbcType=CHAR},
      member_email = #{memberEmail,jdbcType=CHAR},
      member_email_bind = #{memberEmailBind,jdbcType=INTEGER},
      member_mobile = #{memberMobile,jdbcType=CHAR},
      member_mobile_bind = #{memberMobileBind,jdbcType=INTEGER},
      member_qq = #{memberQq,jdbcType=CHAR},
      member_login_num = #{memberLoginNum,jdbcType=INTEGER},
      member_register_time = #{memberRegisterTime,jdbcType=TIMESTAMP},
      member_login_time = #{memberLoginTime,jdbcType=TIMESTAMP},
      member_old_login_time = #{memberOldLoginTime,jdbcType=TIMESTAMP},
      member_login_ip = #{memberLoginIp,jdbcType=CHAR},
      member_exit_time = #{memberExitTime,jdbcType=TIMESTAMP},
      member_wechat_openid = #{memberWechatOpenid,jdbcType=VARCHAR},
      member_qq_openid = #{memberQqOpenid,jdbcType=VARCHAR},
      member_sina_openid = #{memberSinaOpenid,jdbcType=VARCHAR},
      member_points = #{memberPoints,jdbcType=INTEGER},
      member_areaid = #{memberAreaid,jdbcType=INTEGER},
      member_cityid = #{memberCityid,jdbcType=INTEGER},
      member_provinceid = #{memberProvinceid,jdbcType=INTEGER},
      member_exppoints = #{memberExppoints,jdbcType=INTEGER},
      member_grade = #{memberGrade,jdbcType=INTEGER},
      store_id = #{storeId,jdbcType=INTEGER},
      clientid = #{clientid,jdbcType=VARCHAR},
      idcard_front = #{idcardFront,jdbcType=CHAR},
      idcard_back = #{idcardBack,jdbcType=CHAR},
      idcard_hand_license = #{idcardHandLicense,jdbcType=CHAR},
      member_address = #{memberAddress,jdbcType=VARCHAR},
      member_virtual = #{memberVirtual,jdbcType=INTEGER},
      member_wechat_info = #{memberWechatInfo,jdbcType=LONGVARCHAR},
      member_qq_info = #{memberQqInfo,jdbcType=LONGVARCHAR},
      member_sina_info = #{memberSinaInfo,jdbcType=LONGVARCHAR}
    where member_id = #{memberId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.saas.persistent.model.member.TbUrsMember" >
    update tb_urs_member
    set uuid = #{uuid,jdbcType=CHAR},
      member_name = #{memberName,jdbcType=CHAR},
      member_truename = #{memberTruename,jdbcType=CHAR},
      member_avatar = #{memberAvatar,jdbcType=CHAR},
      member_sex = #{memberSex,jdbcType=INTEGER},
      idcard = #{idcard,jdbcType=CHAR},
      member_birthday = #{memberBirthday,jdbcType=DATE},
      member_password = #{memberPassword,jdbcType=CHAR},
      member_pay_password = #{memberPayPassword,jdbcType=CHAR},
      member_email = #{memberEmail,jdbcType=CHAR},
      member_email_bind = #{memberEmailBind,jdbcType=INTEGER},
      member_mobile = #{memberMobile,jdbcType=CHAR},
      member_mobile_bind = #{memberMobileBind,jdbcType=INTEGER},
      member_qq = #{memberQq,jdbcType=CHAR},
      member_login_num = #{memberLoginNum,jdbcType=INTEGER},
      member_register_time = #{memberRegisterTime,jdbcType=TIMESTAMP},
      member_login_time = #{memberLoginTime,jdbcType=TIMESTAMP},
      member_old_login_time = #{memberOldLoginTime,jdbcType=TIMESTAMP},
      member_login_ip = #{memberLoginIp,jdbcType=CHAR},
      member_exit_time = #{memberExitTime,jdbcType=TIMESTAMP},
      member_wechat_openid = #{memberWechatOpenid,jdbcType=VARCHAR},
      member_qq_openid = #{memberQqOpenid,jdbcType=VARCHAR},
      member_sina_openid = #{memberSinaOpenid,jdbcType=VARCHAR},
      member_points = #{memberPoints,jdbcType=INTEGER},
      member_areaid = #{memberAreaid,jdbcType=INTEGER},
      member_cityid = #{memberCityid,jdbcType=INTEGER},
      member_provinceid = #{memberProvinceid,jdbcType=INTEGER},
      member_exppoints = #{memberExppoints,jdbcType=INTEGER},
      member_grade = #{memberGrade,jdbcType=INTEGER},
      store_id = #{storeId,jdbcType=INTEGER},
      clientid = #{clientid,jdbcType=VARCHAR},
      idcard_front = #{idcardFront,jdbcType=CHAR},
      idcard_back = #{idcardBack,jdbcType=CHAR},
      idcard_hand_license = #{idcardHandLicense,jdbcType=CHAR},
      member_address = #{memberAddress,jdbcType=VARCHAR},
      member_virtual = #{memberVirtual,jdbcType=INTEGER}
    where member_id = #{memberId,jdbcType=BIGINT}
  </update>
</mapper>