<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kooing.Interface.mysql.goods.TbGoodsClassTagMapper" >
  <resultMap id="BaseResultMap" type="com.kooing.model.mysql.goods.TbGoodsClassTag" >
    <id column="gc_tag_id" property="gcTagId" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="gc_id_1" property="gcId1" jdbcType="INTEGER" />
    <result column="gc_id_2" property="gcId2" jdbcType="INTEGER" />
    <result column="gc_id_3" property="gcId3" jdbcType="INTEGER" />
    <result column="gc_tag_name" property="gcTagName" jdbcType="CHAR" />
    <result column="gc_id" property="gcId" jdbcType="INTEGER" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.kooing.model.mysql.goods.TbGoodsClassTag" extends="BaseResultMap" >
    <result column="gc_tag_value" property="gcTagValue" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    gc_tag_id, uuid, app_id, gc_id_1, gc_id_2, gc_id_3, gc_tag_name, gc_id, type_id, 
    update_time
  </sql>
  <sql id="Blob_Column_List" >
    gc_tag_value
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_goods_class_tag
    where gc_tag_id = #{gcTagId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_goods_class_tag
    where gc_tag_id = #{gcTagId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kooing.model.mysql.goods.TbGoodsClassTag" >
    insert into tb_goods_class_tag (gc_tag_id, uuid, app_id, 
      gc_id_1, gc_id_2, gc_id_3, 
      gc_tag_name, gc_id, type_id, 
      update_time, gc_tag_value)
    values (#{gcTagId,jdbcType=INTEGER}, #{uuid,jdbcType=CHAR}, #{appId,jdbcType=INTEGER}, 
      #{gcId1,jdbcType=INTEGER}, #{gcId2,jdbcType=INTEGER}, #{gcId3,jdbcType=INTEGER}, 
      #{gcTagName,jdbcType=CHAR}, #{gcId,jdbcType=INTEGER}, #{typeId,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{gcTagValue,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.model.mysql.goods.TbGoodsClassTag" >
    insert into tb_goods_class_tag
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gcTagId != null" >
        gc_tag_id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="gcId1 != null" >
        gc_id_1,
      </if>
      <if test="gcId2 != null" >
        gc_id_2,
      </if>
      <if test="gcId3 != null" >
        gc_id_3,
      </if>
      <if test="gcTagName != null" >
        gc_tag_name,
      </if>
      <if test="gcId != null" >
        gc_id,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="gcTagValue != null" >
        gc_tag_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gcTagId != null" >
        #{gcTagId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="gcId1 != null" >
        #{gcId1,jdbcType=INTEGER},
      </if>
      <if test="gcId2 != null" >
        #{gcId2,jdbcType=INTEGER},
      </if>
      <if test="gcId3 != null" >
        #{gcId3,jdbcType=INTEGER},
      </if>
      <if test="gcTagName != null" >
        #{gcTagName,jdbcType=CHAR},
      </if>
      <if test="gcId != null" >
        #{gcId,jdbcType=INTEGER},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gcTagValue != null" >
        #{gcTagValue,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.model.mysql.goods.TbGoodsClassTag" >
    update tb_goods_class_tag
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="gcId1 != null" >
        gc_id_1 = #{gcId1,jdbcType=INTEGER},
      </if>
      <if test="gcId2 != null" >
        gc_id_2 = #{gcId2,jdbcType=INTEGER},
      </if>
      <if test="gcId3 != null" >
        gc_id_3 = #{gcId3,jdbcType=INTEGER},
      </if>
      <if test="gcTagName != null" >
        gc_tag_name = #{gcTagName,jdbcType=CHAR},
      </if>
      <if test="gcId != null" >
        gc_id = #{gcId,jdbcType=INTEGER},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gcTagValue != null" >
        gc_tag_value = #{gcTagValue,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where gc_tag_id = #{gcTagId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.kooing.model.mysql.goods.TbGoodsClassTag" >
    update tb_goods_class_tag
    set uuid = #{uuid,jdbcType=CHAR},
      app_id = #{appId,jdbcType=INTEGER},
      gc_id_1 = #{gcId1,jdbcType=INTEGER},
      gc_id_2 = #{gcId2,jdbcType=INTEGER},
      gc_id_3 = #{gcId3,jdbcType=INTEGER},
      gc_tag_name = #{gcTagName,jdbcType=CHAR},
      gc_id = #{gcId,jdbcType=INTEGER},
      type_id = #{typeId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      gc_tag_value = #{gcTagValue,jdbcType=LONGVARCHAR}
    where gc_tag_id = #{gcTagId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.model.mysql.goods.TbGoodsClassTag" >
    update tb_goods_class_tag
    set uuid = #{uuid,jdbcType=CHAR},
      app_id = #{appId,jdbcType=INTEGER},
      gc_id_1 = #{gcId1,jdbcType=INTEGER},
      gc_id_2 = #{gcId2,jdbcType=INTEGER},
      gc_id_3 = #{gcId3,jdbcType=INTEGER},
      gc_tag_name = #{gcTagName,jdbcType=CHAR},
      gc_id = #{gcId,jdbcType=INTEGER},
      type_id = #{typeId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where gc_tag_id = #{gcTagId,jdbcType=INTEGER}
  </update>
</mapper>