<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kooing.Interface.mysql.goods.TbGoodsClassMapper" >
  <resultMap id="BaseResultMap" type="com.kooing.model.mysql.goods.TbGoodsClass" >
    <id column="gc_id" property="gcId" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="gc_name" property="gcName" jdbcType="CHAR" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="type_name" property="typeName" jdbcType="CHAR" />
    <result column="gc_parent_id" property="gcParentId" jdbcType="INTEGER" />
    <result column="gc_sort" property="gcSort" jdbcType="INTEGER" />
    <result column="gc_virtual" property="gcVirtual" jdbcType="INTEGER" />
    <result column="gc_title" property="gcTitle" jdbcType="CHAR" />
    <result column="gc_keywords" property="gcKeywords" jdbcType="CHAR" />
    <result column="gc_images_url" property="gcImagesUrl" jdbcType="VARCHAR" />
    <result column="gc_images_name" property="gcImagesName" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="gc_description" property="gcDescription" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    gc_id, uuid, app_id, gc_name, type_id, type_name, gc_parent_id, gc_sort, gc_virtual, 
    gc_title, gc_keywords, gc_images_url, gc_images_name, level, gc_description, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_goods_class
    where gc_id = #{gcId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_goods_class
    where gc_id = #{gcId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kooing.model.mysql.goods.TbGoodsClass" >
    insert into tb_goods_class (gc_id, uuid, app_id, 
      gc_name, type_id, type_name, 
      gc_parent_id, gc_sort, gc_virtual, 
      gc_title, gc_keywords, gc_images_url, 
      gc_images_name, level, gc_description, 
      update_time)
    values (#{gcId,jdbcType=INTEGER}, #{uuid,jdbcType=CHAR}, #{appId,jdbcType=INTEGER}, 
      #{gcName,jdbcType=CHAR}, #{typeId,jdbcType=INTEGER}, #{typeName,jdbcType=CHAR}, 
      #{gcParentId,jdbcType=INTEGER}, #{gcSort,jdbcType=INTEGER}, #{gcVirtual,jdbcType=INTEGER}, 
      #{gcTitle,jdbcType=CHAR}, #{gcKeywords,jdbcType=CHAR}, #{gcImagesUrl,jdbcType=VARCHAR}, 
      #{gcImagesName,jdbcType=VARCHAR}, #{level,jdbcType=INTEGER}, #{gcDescription,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.model.mysql.goods.TbGoodsClass" >
    insert into tb_goods_class
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gcId != null" >
        gc_id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="gcName != null" >
        gc_name,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="typeName != null" >
        type_name,
      </if>
      <if test="gcParentId != null" >
        gc_parent_id,
      </if>
      <if test="gcSort != null" >
        gc_sort,
      </if>
      <if test="gcVirtual != null" >
        gc_virtual,
      </if>
      <if test="gcTitle != null" >
        gc_title,
      </if>
      <if test="gcKeywords != null" >
        gc_keywords,
      </if>
      <if test="gcImagesUrl != null" >
        gc_images_url,
      </if>
      <if test="gcImagesName != null" >
        gc_images_name,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="gcDescription != null" >
        gc_description,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gcId != null" >
        #{gcId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="gcName != null" >
        #{gcName,jdbcType=CHAR},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="typeName != null" >
        #{typeName,jdbcType=CHAR},
      </if>
      <if test="gcParentId != null" >
        #{gcParentId,jdbcType=INTEGER},
      </if>
      <if test="gcSort != null" >
        #{gcSort,jdbcType=INTEGER},
      </if>
      <if test="gcVirtual != null" >
        #{gcVirtual,jdbcType=INTEGER},
      </if>
      <if test="gcTitle != null" >
        #{gcTitle,jdbcType=CHAR},
      </if>
      <if test="gcKeywords != null" >
        #{gcKeywords,jdbcType=CHAR},
      </if>
      <if test="gcImagesUrl != null" >
        #{gcImagesUrl,jdbcType=VARCHAR},
      </if>
      <if test="gcImagesName != null" >
        #{gcImagesName,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="gcDescription != null" >
        #{gcDescription,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.model.mysql.goods.TbGoodsClass" >
    update tb_goods_class
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="gcName != null" >
        gc_name = #{gcName,jdbcType=CHAR},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="typeName != null" >
        type_name = #{typeName,jdbcType=CHAR},
      </if>
      <if test="gcParentId != null" >
        gc_parent_id = #{gcParentId,jdbcType=INTEGER},
      </if>
      <if test="gcSort != null" >
        gc_sort = #{gcSort,jdbcType=INTEGER},
      </if>
      <if test="gcVirtual != null" >
        gc_virtual = #{gcVirtual,jdbcType=INTEGER},
      </if>
      <if test="gcTitle != null" >
        gc_title = #{gcTitle,jdbcType=CHAR},
      </if>
      <if test="gcKeywords != null" >
        gc_keywords = #{gcKeywords,jdbcType=CHAR},
      </if>
      <if test="gcImagesUrl != null" >
        gc_images_url = #{gcImagesUrl,jdbcType=VARCHAR},
      </if>
      <if test="gcImagesName != null" >
        gc_images_name = #{gcImagesName,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="gcDescription != null" >
        gc_description = #{gcDescription,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where gc_id = #{gcId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.model.mysql.goods.TbGoodsClass" >
    update tb_goods_class
    set uuid = #{uuid,jdbcType=CHAR},
      app_id = #{appId,jdbcType=INTEGER},
      gc_name = #{gcName,jdbcType=CHAR},
      type_id = #{typeId,jdbcType=INTEGER},
      type_name = #{typeName,jdbcType=CHAR},
      gc_parent_id = #{gcParentId,jdbcType=INTEGER},
      gc_sort = #{gcSort,jdbcType=INTEGER},
      gc_virtual = #{gcVirtual,jdbcType=INTEGER},
      gc_title = #{gcTitle,jdbcType=CHAR},
      gc_keywords = #{gcKeywords,jdbcType=CHAR},
      gc_images_url = #{gcImagesUrl,jdbcType=VARCHAR},
      gc_images_name = #{gcImagesName,jdbcType=VARCHAR},
      level = #{level,jdbcType=INTEGER},
      gc_description = #{gcDescription,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where gc_id = #{gcId,jdbcType=INTEGER}
  </update>
</mapper>