<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kooing.Interface.mysql.goods.TbGoodsAttributeMapper" >
  <resultMap id="BaseResultMap" type="com.kooing.model.mysql.goods.TbGoodsAttribute" >
    <id column="attr_id" property="attrId" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="attr_name" property="attrName" jdbcType="CHAR" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="attr_show" property="attrShow" jdbcType="INTEGER" />
    <result column="attr_sort" property="attrSort" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.kooing.model.mysql.goods.TbGoodsAttribute" extends="BaseResultMap" >
    <result column="attr_value" property="attrValue" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    attr_id, uuid, app_id, attr_name, type_id, attr_show, attr_sort, update_time
  </sql>
  <sql id="Blob_Column_List" >
    attr_value
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_goods_attribute
    where attr_id = #{attrId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_goods_attribute
    where attr_id = #{attrId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kooing.model.mysql.goods.TbGoodsAttribute" >
    insert into tb_goods_attribute (attr_id, uuid, app_id, 
      attr_name, type_id, attr_show, 
      attr_sort, update_time, attr_value
      )
    values (#{attrId,jdbcType=INTEGER}, #{uuid,jdbcType=CHAR}, #{appId,jdbcType=INTEGER}, 
      #{attrName,jdbcType=CHAR}, #{typeId,jdbcType=INTEGER}, #{attrShow,jdbcType=INTEGER}, 
      #{attrSort,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{attrValue,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.model.mysql.goods.TbGoodsAttribute" >
    insert into tb_goods_attribute
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="attrId != null" >
        attr_id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="attrName != null" >
        attr_name,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="attrShow != null" >
        attr_show,
      </if>
      <if test="attrSort != null" >
        attr_sort,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="attrValue != null" >
        attr_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="attrId != null" >
        #{attrId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="attrName != null" >
        #{attrName,jdbcType=CHAR},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="attrShow != null" >
        #{attrShow,jdbcType=INTEGER},
      </if>
      <if test="attrSort != null" >
        #{attrSort,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="attrValue != null" >
        #{attrValue,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.model.mysql.goods.TbGoodsAttribute" >
    update tb_goods_attribute
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="attrName != null" >
        attr_name = #{attrName,jdbcType=CHAR},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="attrShow != null" >
        attr_show = #{attrShow,jdbcType=INTEGER},
      </if>
      <if test="attrSort != null" >
        attr_sort = #{attrSort,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="attrValue != null" >
        attr_value = #{attrValue,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where attr_id = #{attrId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.kooing.model.mysql.goods.TbGoodsAttribute" >
    update tb_goods_attribute
    set uuid = #{uuid,jdbcType=CHAR},
      app_id = #{appId,jdbcType=INTEGER},
      attr_name = #{attrName,jdbcType=CHAR},
      type_id = #{typeId,jdbcType=INTEGER},
      attr_show = #{attrShow,jdbcType=INTEGER},
      attr_sort = #{attrSort,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      attr_value = #{attrValue,jdbcType=LONGVARCHAR}
    where attr_id = #{attrId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.model.mysql.goods.TbGoodsAttribute" >
    update tb_goods_attribute
    set uuid = #{uuid,jdbcType=CHAR},
      app_id = #{appId,jdbcType=INTEGER},
      attr_name = #{attrName,jdbcType=CHAR},
      type_id = #{typeId,jdbcType=INTEGER},
      attr_show = #{attrShow,jdbcType=INTEGER},
      attr_sort = #{attrSort,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where attr_id = #{attrId,jdbcType=INTEGER}
  </update>
</mapper>