<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kooing.Interface.mysql.goods.TbGoodsFcodeMapper" >
  <resultMap id="BaseResultMap" type="com.kooing.model.mysql.goods.TbGoodsFcode" >
    <id column="fc_id" property="fcId" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="goods_commonid" property="goodsCommonid" jdbcType="INTEGER" />
    <result column="fc_code" property="fcCode" jdbcType="VARCHAR" />
    <result column="fc_state" property="fcState" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    fc_id, uuid, app_id, goods_commonid, fc_code, fc_state, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_goods_fcode
    where fc_id = #{fcId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_goods_fcode
    where fc_id = #{fcId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kooing.model.mysql.goods.TbGoodsFcode" >
    insert into tb_goods_fcode (fc_id, uuid, app_id, 
      goods_commonid, fc_code, fc_state, 
      update_time)
    values (#{fcId,jdbcType=INTEGER}, #{uuid,jdbcType=CHAR}, #{appId,jdbcType=INTEGER}, 
      #{goodsCommonid,jdbcType=INTEGER}, #{fcCode,jdbcType=VARCHAR}, #{fcState,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.model.mysql.goods.TbGoodsFcode" >
    insert into tb_goods_fcode
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fcId != null" >
        fc_id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="goodsCommonid != null" >
        goods_commonid,
      </if>
      <if test="fcCode != null" >
        fc_code,
      </if>
      <if test="fcState != null" >
        fc_state,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fcId != null" >
        #{fcId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="goodsCommonid != null" >
        #{goodsCommonid,jdbcType=INTEGER},
      </if>
      <if test="fcCode != null" >
        #{fcCode,jdbcType=VARCHAR},
      </if>
      <if test="fcState != null" >
        #{fcState,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.model.mysql.goods.TbGoodsFcode" >
    update tb_goods_fcode
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="goodsCommonid != null" >
        goods_commonid = #{goodsCommonid,jdbcType=INTEGER},
      </if>
      <if test="fcCode != null" >
        fc_code = #{fcCode,jdbcType=VARCHAR},
      </if>
      <if test="fcState != null" >
        fc_state = #{fcState,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where fc_id = #{fcId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.model.mysql.goods.TbGoodsFcode" >
    update tb_goods_fcode
    set uuid = #{uuid,jdbcType=CHAR},
      app_id = #{appId,jdbcType=INTEGER},
      goods_commonid = #{goodsCommonid,jdbcType=INTEGER},
      fc_code = #{fcCode,jdbcType=VARCHAR},
      fc_state = #{fcState,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where fc_id = #{fcId,jdbcType=INTEGER}
  </update>
</mapper>