<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kooing.Interface.mysql.cms.TbCmsArctinyMapper">
  <resultMap id="BaseResultMap" type="com.kooing.model.mysql.cms.TbCmsArctiny">
    <id column="arctiny_id" jdbcType="INTEGER" property="arctinyId" />
    <result column="app_id" jdbcType="INTEGER" property="appId" />
    <result column="uuid" jdbcType="CHAR" property="uuid" />
    <result column="arctype_id" jdbcType="INTEGER" property="arctypeId" />
    <result column="arctiny_name" jdbcType="VARCHAR" property="arctinyName" />
    <result column="arctiny_pic" jdbcType="VARCHAR" property="arctinyPic" />
    <result column="carousel_pic" jdbcType="VARCHAR" property="carouselPic" />
    <result column="arctiny_sort" jdbcType="INTEGER" property="arctinySort" />
    <result column="arctiny_intro" jdbcType="VARCHAR" property="arctinyIntro" />
    <result column="belong_class_name" jdbcType="VARCHAR" property="belongClassName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.kooing.model.mysql.cms.TbCmsArctiny">
    <result column="arctiny_content" jdbcType="LONGVARCHAR" property="arctinyContent" />
  </resultMap>
  <sql id="Base_Column_List">
    arctiny_id, app_id, uuid, arctype_id, arctiny_name, arctiny_pic, carousel_pic, arctiny_sort, 
    arctiny_intro, belong_class_name, update_time
  </sql>
  <sql id="Blob_Column_List">
    arctiny_content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_cms_arctiny
    where arctiny_id = #{arctinyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_cms_arctiny
    where arctiny_id = #{arctinyId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kooing.model.mysql.cms.TbCmsArctiny">
    insert into tb_cms_arctiny (arctiny_id, app_id, uuid, 
      arctype_id, arctiny_name, arctiny_pic, 
      carousel_pic, arctiny_sort, arctiny_intro, 
      belong_class_name, update_time, arctiny_content
      )
    values (#{arctinyId,jdbcType=INTEGER}, #{appId,jdbcType=INTEGER}, #{uuid,jdbcType=CHAR}, 
      #{arctypeId,jdbcType=INTEGER}, #{arctinyName,jdbcType=VARCHAR}, #{arctinyPic,jdbcType=VARCHAR}, 
      #{carouselPic,jdbcType=VARCHAR}, #{arctinySort,jdbcType=INTEGER}, #{arctinyIntro,jdbcType=VARCHAR}, 
      #{belongClassName,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{arctinyContent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.model.mysql.cms.TbCmsArctiny">
    insert into tb_cms_arctiny
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="arctinyId != null">
        arctiny_id,
      </if>
      <if test="appId != null">
        app_id,
      </if>
      <if test="uuid != null">
        uuid,
      </if>
      <if test="arctypeId != null">
        arctype_id,
      </if>
      <if test="arctinyName != null">
        arctiny_name,
      </if>
      <if test="arctinyPic != null">
        arctiny_pic,
      </if>
      <if test="carouselPic != null">
        carousel_pic,
      </if>
      <if test="arctinySort != null">
        arctiny_sort,
      </if>
      <if test="arctinyIntro != null">
        arctiny_intro,
      </if>
      <if test="belongClassName != null">
        belong_class_name,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="arctinyContent != null">
        arctiny_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="arctinyId != null">
        #{arctinyId,jdbcType=INTEGER},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null">
        #{uuid,jdbcType=CHAR},
      </if>
      <if test="arctypeId != null">
        #{arctypeId,jdbcType=INTEGER},
      </if>
      <if test="arctinyName != null">
        #{arctinyName,jdbcType=VARCHAR},
      </if>
      <if test="arctinyPic != null">
        #{arctinyPic,jdbcType=VARCHAR},
      </if>
      <if test="carouselPic != null">
        #{carouselPic,jdbcType=VARCHAR},
      </if>
      <if test="arctinySort != null">
        #{arctinySort,jdbcType=INTEGER},
      </if>
      <if test="arctinyIntro != null">
        #{arctinyIntro,jdbcType=VARCHAR},
      </if>
      <if test="belongClassName != null">
        #{belongClassName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="arctinyContent != null">
        #{arctinyContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.model.mysql.cms.TbCmsArctiny">
    update tb_cms_arctiny
    <set>
      <if test="appId != null">
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null">
        uuid = #{uuid,jdbcType=CHAR},
      </if>
      <if test="arctypeId != null">
        arctype_id = #{arctypeId,jdbcType=INTEGER},
      </if>
      <if test="arctinyName != null">
        arctiny_name = #{arctinyName,jdbcType=VARCHAR},
      </if>
      <if test="arctinyPic != null">
        arctiny_pic = #{arctinyPic,jdbcType=VARCHAR},
      </if>
      <if test="carouselPic != null">
        carousel_pic = #{carouselPic,jdbcType=VARCHAR},
      </if>
      <if test="arctinySort != null">
        arctiny_sort = #{arctinySort,jdbcType=INTEGER},
      </if>
      <if test="arctinyIntro != null">
        arctiny_intro = #{arctinyIntro,jdbcType=VARCHAR},
      </if>
      <if test="belongClassName != null">
        belong_class_name = #{belongClassName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="arctinyContent != null">
        arctiny_content = #{arctinyContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where arctiny_id = #{arctinyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.kooing.model.mysql.cms.TbCmsArctiny">
    update tb_cms_arctiny
    set app_id = #{appId,jdbcType=INTEGER},
      uuid = #{uuid,jdbcType=CHAR},
      arctype_id = #{arctypeId,jdbcType=INTEGER},
      arctiny_name = #{arctinyName,jdbcType=VARCHAR},
      arctiny_pic = #{arctinyPic,jdbcType=VARCHAR},
      carousel_pic = #{carouselPic,jdbcType=VARCHAR},
      arctiny_sort = #{arctinySort,jdbcType=INTEGER},
      arctiny_intro = #{arctinyIntro,jdbcType=VARCHAR},
      belong_class_name = #{belongClassName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      arctiny_content = #{arctinyContent,jdbcType=LONGVARCHAR}
    where arctiny_id = #{arctinyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.model.mysql.cms.TbCmsArctiny">
    update tb_cms_arctiny
    set app_id = #{appId,jdbcType=INTEGER},
      uuid = #{uuid,jdbcType=CHAR},
      arctype_id = #{arctypeId,jdbcType=INTEGER},
      arctiny_name = #{arctinyName,jdbcType=VARCHAR},
      arctiny_pic = #{arctinyPic,jdbcType=VARCHAR},
      carousel_pic = #{carouselPic,jdbcType=VARCHAR},
      arctiny_sort = #{arctinySort,jdbcType=INTEGER},
      arctiny_intro = #{arctinyIntro,jdbcType=VARCHAR},
      belong_class_name = #{belongClassName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where arctiny_id = #{arctinyId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.kooing.model.mysql.cms.TbCmsArctiny">
    <id column="arctiny_id" jdbcType="INTEGER" property="arctinyId" />
    <result column="app_id" jdbcType="INTEGER" property="appId" />
    <result column="uuid" jdbcType="CHAR" property="uuid" />
    <result column="arctype_id" jdbcType="INTEGER" property="arctypeId" />
    <result column="arctiny_name" jdbcType="VARCHAR" property="arctinyName" />
    <result column="arctiny_pic" jdbcType="VARCHAR" property="arctinyPic" />
    <result column="carousel_pic" jdbcType="VARCHAR" property="carouselPic" />
    <result column="arctiny_sort" jdbcType="INTEGER" property="arctinySort" />
    <result column="arctiny_intro" jdbcType="VARCHAR" property="arctinyIntro" />
    <result column="belong_class_name" jdbcType="VARCHAR" property="belongClassName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.kooing.model.mysql.cms.TbCmsArctiny">
    <result column="arctiny_content" jdbcType="LONGVARCHAR" property="arctinyContent" />
  </resultMap>
  <sql id="Base_Column_List">
    arctiny_id, app_id, uuid, arctype_id, arctiny_name, arctiny_pic, carousel_pic, arctiny_sort, 
    arctiny_intro, belong_class_name, update_time
  </sql>
  <sql id="Blob_Column_List">
    arctiny_content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_cms_arctiny
    where arctiny_id = #{arctinyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_cms_arctiny
    where arctiny_id = #{arctinyId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kooing.model.mysql.cms.TbCmsArctiny">
    insert into tb_cms_arctiny (arctiny_id, app_id, uuid, 
      arctype_id, arctiny_name, arctiny_pic, 
      carousel_pic, arctiny_sort, arctiny_intro, 
      belong_class_name, update_time, arctiny_content
      )
    values (#{arctinyId,jdbcType=INTEGER}, #{appId,jdbcType=INTEGER}, #{uuid,jdbcType=CHAR}, 
      #{arctypeId,jdbcType=INTEGER}, #{arctinyName,jdbcType=VARCHAR}, #{arctinyPic,jdbcType=VARCHAR}, 
      #{carouselPic,jdbcType=VARCHAR}, #{arctinySort,jdbcType=INTEGER}, #{arctinyIntro,jdbcType=VARCHAR}, 
      #{belongClassName,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{arctinyContent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.model.mysql.cms.TbCmsArctiny">
    insert into tb_cms_arctiny
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="arctinyId != null">
        arctiny_id,
      </if>
      <if test="appId != null">
        app_id,
      </if>
      <if test="uuid != null">
        uuid,
      </if>
      <if test="arctypeId != null">
        arctype_id,
      </if>
      <if test="arctinyName != null">
        arctiny_name,
      </if>
      <if test="arctinyPic != null">
        arctiny_pic,
      </if>
      <if test="carouselPic != null">
        carousel_pic,
      </if>
      <if test="arctinySort != null">
        arctiny_sort,
      </if>
      <if test="arctinyIntro != null">
        arctiny_intro,
      </if>
      <if test="belongClassName != null">
        belong_class_name,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="arctinyContent != null">
        arctiny_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="arctinyId != null">
        #{arctinyId,jdbcType=INTEGER},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null">
        #{uuid,jdbcType=CHAR},
      </if>
      <if test="arctypeId != null">
        #{arctypeId,jdbcType=INTEGER},
      </if>
      <if test="arctinyName != null">
        #{arctinyName,jdbcType=VARCHAR},
      </if>
      <if test="arctinyPic != null">
        #{arctinyPic,jdbcType=VARCHAR},
      </if>
      <if test="carouselPic != null">
        #{carouselPic,jdbcType=VARCHAR},
      </if>
      <if test="arctinySort != null">
        #{arctinySort,jdbcType=INTEGER},
      </if>
      <if test="arctinyIntro != null">
        #{arctinyIntro,jdbcType=VARCHAR},
      </if>
      <if test="belongClassName != null">
        #{belongClassName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="arctinyContent != null">
        #{arctinyContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.model.mysql.cms.TbCmsArctiny">
    update tb_cms_arctiny
    <set>
      <if test="appId != null">
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null">
        uuid = #{uuid,jdbcType=CHAR},
      </if>
      <if test="arctypeId != null">
        arctype_id = #{arctypeId,jdbcType=INTEGER},
      </if>
      <if test="arctinyName != null">
        arctiny_name = #{arctinyName,jdbcType=VARCHAR},
      </if>
      <if test="arctinyPic != null">
        arctiny_pic = #{arctinyPic,jdbcType=VARCHAR},
      </if>
      <if test="carouselPic != null">
        carousel_pic = #{carouselPic,jdbcType=VARCHAR},
      </if>
      <if test="arctinySort != null">
        arctiny_sort = #{arctinySort,jdbcType=INTEGER},
      </if>
      <if test="arctinyIntro != null">
        arctiny_intro = #{arctinyIntro,jdbcType=VARCHAR},
      </if>
      <if test="belongClassName != null">
        belong_class_name = #{belongClassName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="arctinyContent != null">
        arctiny_content = #{arctinyContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where arctiny_id = #{arctinyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.kooing.model.mysql.cms.TbCmsArctiny">
    update tb_cms_arctiny
    set app_id = #{appId,jdbcType=INTEGER},
      uuid = #{uuid,jdbcType=CHAR},
      arctype_id = #{arctypeId,jdbcType=INTEGER},
      arctiny_name = #{arctinyName,jdbcType=VARCHAR},
      arctiny_pic = #{arctinyPic,jdbcType=VARCHAR},
      carousel_pic = #{carouselPic,jdbcType=VARCHAR},
      arctiny_sort = #{arctinySort,jdbcType=INTEGER},
      arctiny_intro = #{arctinyIntro,jdbcType=VARCHAR},
      belong_class_name = #{belongClassName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      arctiny_content = #{arctinyContent,jdbcType=LONGVARCHAR}
    where arctiny_id = #{arctinyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.model.mysql.cms.TbCmsArctiny">
    update tb_cms_arctiny
    set app_id = #{appId,jdbcType=INTEGER},
      uuid = #{uuid,jdbcType=CHAR},
      arctype_id = #{arctypeId,jdbcType=INTEGER},
      arctiny_name = #{arctinyName,jdbcType=VARCHAR},
      arctiny_pic = #{arctinyPic,jdbcType=VARCHAR},
      carousel_pic = #{carouselPic,jdbcType=VARCHAR},
      arctiny_sort = #{arctinySort,jdbcType=INTEGER},
      arctiny_intro = #{arctinyIntro,jdbcType=VARCHAR},
      belong_class_name = #{belongClassName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where arctiny_id = #{arctinyId,jdbcType=INTEGER}
  </update>
</mapper>