<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kooing.Interface.mysql.cms.TbCmsArticleClassMapper" >
  <resultMap id="BaseResultMap" type="com.kooing.model.mysql.cms.TbCmsArticleClass" >
    <id column="ac_id" property="acId" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="ac_name" property="acName" jdbcType="CHAR" />
    <result column="ac_parent_id" property="acParentId" jdbcType="INTEGER" />
    <result column="ac_level" property="acLevel" jdbcType="INTEGER" />
    <result column="arctiny_id" property="arctinyId" jdbcType="INTEGER" />
    <result column="ac_sort" property="acSort" jdbcType="INTEGER" />
    <result column="belong_class_name" property="belongClassName" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ac_id, uuid, app_id, ac_name, ac_parent_id, ac_level, arctiny_id, ac_sort, belong_class_name, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_cms_article_class
    where ac_id = #{acId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_cms_article_class
    where ac_id = #{acId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kooing.model.mysql.cms.TbCmsArticleClass" >
    insert into tb_cms_article_class (ac_id, uuid, app_id, 
      ac_name, ac_parent_id, ac_level, 
      arctiny_id, ac_sort, belong_class_name, 
      update_time)
    values (#{acId,jdbcType=INTEGER}, #{uuid,jdbcType=CHAR}, #{appId,jdbcType=INTEGER}, 
      #{acName,jdbcType=CHAR}, #{acParentId,jdbcType=INTEGER}, #{acLevel,jdbcType=INTEGER}, 
      #{arctinyId,jdbcType=INTEGER}, #{acSort,jdbcType=INTEGER}, #{belongClassName,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.model.mysql.cms.TbCmsArticleClass" >
    insert into tb_cms_article_class
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="acId != null" >
        ac_id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="acName != null" >
        ac_name,
      </if>
      <if test="acParentId != null" >
        ac_parent_id,
      </if>
      <if test="acLevel != null" >
        ac_level,
      </if>
      <if test="arctinyId != null" >
        arctiny_id,
      </if>
      <if test="acSort != null" >
        ac_sort,
      </if>
      <if test="belongClassName != null" >
        belong_class_name,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="acId != null" >
        #{acId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="acName != null" >
        #{acName,jdbcType=CHAR},
      </if>
      <if test="acParentId != null" >
        #{acParentId,jdbcType=INTEGER},
      </if>
      <if test="acLevel != null" >
        #{acLevel,jdbcType=INTEGER},
      </if>
      <if test="arctinyId != null" >
        #{arctinyId,jdbcType=INTEGER},
      </if>
      <if test="acSort != null" >
        #{acSort,jdbcType=INTEGER},
      </if>
      <if test="belongClassName != null" >
        #{belongClassName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.model.mysql.cms.TbCmsArticleClass" >
    update tb_cms_article_class
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="acName != null" >
        ac_name = #{acName,jdbcType=CHAR},
      </if>
      <if test="acParentId != null" >
        ac_parent_id = #{acParentId,jdbcType=INTEGER},
      </if>
      <if test="acLevel != null" >
        ac_level = #{acLevel,jdbcType=INTEGER},
      </if>
      <if test="arctinyId != null" >
        arctiny_id = #{arctinyId,jdbcType=INTEGER},
      </if>
      <if test="acSort != null" >
        ac_sort = #{acSort,jdbcType=INTEGER},
      </if>
      <if test="belongClassName != null" >
        belong_class_name = #{belongClassName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ac_id = #{acId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.model.mysql.cms.TbCmsArticleClass" >
    update tb_cms_article_class
    set uuid = #{uuid,jdbcType=CHAR},
      app_id = #{appId,jdbcType=INTEGER},
      ac_name = #{acName,jdbcType=CHAR},
      ac_parent_id = #{acParentId,jdbcType=INTEGER},
      ac_level = #{acLevel,jdbcType=INTEGER},
      arctiny_id = #{arctinyId,jdbcType=INTEGER},
      ac_sort = #{acSort,jdbcType=INTEGER},
      belong_class_name = #{belongClassName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where ac_id = #{acId,jdbcType=INTEGER}
  </update>
</mapper>