<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kooing.Interface.mysql.cms.TbCmsArctypeMapper">
  <resultMap id="BaseResultMap" type="com.kooing.model.mysql.cms.TbCmsArctype">
    <id column="arctype_id" jdbcType="INTEGER" property="arctypeId" />
    <result column="app_id" jdbcType="INTEGER" property="appId" />
    <result column="uuid" jdbcType="CHAR" property="uuid" />
    <result column="type_code" jdbcType="VARCHAR" property="typeCode" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="upper_id" jdbcType="INTEGER" property="upperId" />
    <result column="arctype_sort" jdbcType="INTEGER" property="arctypeSort" />
    <result column="arctype_pic" jdbcType="VARCHAR" property="arctypePic" />
    <result column="carousel_image" jdbcType="VARCHAR" property="carouselImage" />
    <result column="belong_class_name" jdbcType="VARCHAR" property="belongClassName" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="arctype_describe" jdbcType="VARCHAR" property="arctypeDescribe" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    arctype_id, app_id, uuid, type_code, type_name, upper_id, arctype_sort, arctype_pic, 
    carousel_image, belong_class_name, state, arctype_describe, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_cms_arctype
    where arctype_id = #{arctypeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_cms_arctype
    where arctype_id = #{arctypeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kooing.model.mysql.cms.TbCmsArctype">
    insert into tb_cms_arctype (arctype_id, app_id, uuid, 
      type_code, type_name, upper_id, 
      arctype_sort, arctype_pic, carousel_image, 
      belong_class_name, state, arctype_describe, 
      create_time, update_time)
    values (#{arctypeId,jdbcType=INTEGER}, #{appId,jdbcType=INTEGER}, #{uuid,jdbcType=CHAR}, 
      #{typeCode,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, #{upperId,jdbcType=INTEGER}, 
      #{arctypeSort,jdbcType=INTEGER}, #{arctypePic,jdbcType=VARCHAR}, #{carouselImage,jdbcType=VARCHAR}, 
      #{belongClassName,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, #{arctypeDescribe,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.model.mysql.cms.TbCmsArctype">
    insert into tb_cms_arctype
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="arctypeId != null">
        arctype_id,
      </if>
      <if test="appId != null">
        app_id,
      </if>
      <if test="uuid != null">
        uuid,
      </if>
      <if test="typeCode != null">
        type_code,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
      <if test="upperId != null">
        upper_id,
      </if>
      <if test="arctypeSort != null">
        arctype_sort,
      </if>
      <if test="arctypePic != null">
        arctype_pic,
      </if>
      <if test="carouselImage != null">
        carousel_image,
      </if>
      <if test="belongClassName != null">
        belong_class_name,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="arctypeDescribe != null">
        arctype_describe,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="arctypeId != null">
        #{arctypeId,jdbcType=INTEGER},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null">
        #{uuid,jdbcType=CHAR},
      </if>
      <if test="typeCode != null">
        #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="upperId != null">
        #{upperId,jdbcType=INTEGER},
      </if>
      <if test="arctypeSort != null">
        #{arctypeSort,jdbcType=INTEGER},
      </if>
      <if test="arctypePic != null">
        #{arctypePic,jdbcType=VARCHAR},
      </if>
      <if test="carouselImage != null">
        #{carouselImage,jdbcType=VARCHAR},
      </if>
      <if test="belongClassName != null">
        #{belongClassName,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="arctypeDescribe != null">
        #{arctypeDescribe,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.model.mysql.cms.TbCmsArctype">
    update tb_cms_arctype
    <set>
      <if test="appId != null">
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null">
        uuid = #{uuid,jdbcType=CHAR},
      </if>
      <if test="typeCode != null">
        type_code = #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="upperId != null">
        upper_id = #{upperId,jdbcType=INTEGER},
      </if>
      <if test="arctypeSort != null">
        arctype_sort = #{arctypeSort,jdbcType=INTEGER},
      </if>
      <if test="arctypePic != null">
        arctype_pic = #{arctypePic,jdbcType=VARCHAR},
      </if>
      <if test="carouselImage != null">
        carousel_image = #{carouselImage,jdbcType=VARCHAR},
      </if>
      <if test="belongClassName != null">
        belong_class_name = #{belongClassName,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="arctypeDescribe != null">
        arctype_describe = #{arctypeDescribe,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where arctype_id = #{arctypeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.model.mysql.cms.TbCmsArctype">
    update tb_cms_arctype
    set app_id = #{appId,jdbcType=INTEGER},
      uuid = #{uuid,jdbcType=CHAR},
      type_code = #{typeCode,jdbcType=VARCHAR},
      type_name = #{typeName,jdbcType=VARCHAR},
      upper_id = #{upperId,jdbcType=INTEGER},
      arctype_sort = #{arctypeSort,jdbcType=INTEGER},
      arctype_pic = #{arctypePic,jdbcType=VARCHAR},
      carousel_image = #{carouselImage,jdbcType=VARCHAR},
      belong_class_name = #{belongClassName,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      arctype_describe = #{arctypeDescribe,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where arctype_id = #{arctypeId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.kooing.model.mysql.cms.TbCmsArctype">
    <id column="arctype_id" jdbcType="INTEGER" property="arctypeId" />
    <result column="app_id" jdbcType="INTEGER" property="appId" />
    <result column="uuid" jdbcType="CHAR" property="uuid" />
    <result column="type_code" jdbcType="VARCHAR" property="typeCode" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="upper_id" jdbcType="INTEGER" property="upperId" />
    <result column="arctype_sort" jdbcType="INTEGER" property="arctypeSort" />
    <result column="arctype_pic" jdbcType="VARCHAR" property="arctypePic" />
    <result column="carousel_image" jdbcType="VARCHAR" property="carouselImage" />
    <result column="belong_class_name" jdbcType="VARCHAR" property="belongClassName" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="arctype_describe" jdbcType="VARCHAR" property="arctypeDescribe" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    arctype_id, app_id, uuid, type_code, type_name, upper_id, arctype_sort, arctype_pic, 
    carousel_image, belong_class_name, state, arctype_describe, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_cms_arctype
    where arctype_id = #{arctypeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_cms_arctype
    where arctype_id = #{arctypeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kooing.model.mysql.cms.TbCmsArctype">
    insert into tb_cms_arctype (arctype_id, app_id, uuid, 
      type_code, type_name, upper_id, 
      arctype_sort, arctype_pic, carousel_image, 
      belong_class_name, state, arctype_describe, 
      create_time, update_time)
    values (#{arctypeId,jdbcType=INTEGER}, #{appId,jdbcType=INTEGER}, #{uuid,jdbcType=CHAR}, 
      #{typeCode,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, #{upperId,jdbcType=INTEGER}, 
      #{arctypeSort,jdbcType=INTEGER}, #{arctypePic,jdbcType=VARCHAR}, #{carouselImage,jdbcType=VARCHAR}, 
      #{belongClassName,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, #{arctypeDescribe,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.model.mysql.cms.TbCmsArctype">
    insert into tb_cms_arctype
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="arctypeId != null">
        arctype_id,
      </if>
      <if test="appId != null">
        app_id,
      </if>
      <if test="uuid != null">
        uuid,
      </if>
      <if test="typeCode != null">
        type_code,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
      <if test="upperId != null">
        upper_id,
      </if>
      <if test="arctypeSort != null">
        arctype_sort,
      </if>
      <if test="arctypePic != null">
        arctype_pic,
      </if>
      <if test="carouselImage != null">
        carousel_image,
      </if>
      <if test="belongClassName != null">
        belong_class_name,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="arctypeDescribe != null">
        arctype_describe,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="arctypeId != null">
        #{arctypeId,jdbcType=INTEGER},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null">
        #{uuid,jdbcType=CHAR},
      </if>
      <if test="typeCode != null">
        #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="upperId != null">
        #{upperId,jdbcType=INTEGER},
      </if>
      <if test="arctypeSort != null">
        #{arctypeSort,jdbcType=INTEGER},
      </if>
      <if test="arctypePic != null">
        #{arctypePic,jdbcType=VARCHAR},
      </if>
      <if test="carouselImage != null">
        #{carouselImage,jdbcType=VARCHAR},
      </if>
      <if test="belongClassName != null">
        #{belongClassName,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="arctypeDescribe != null">
        #{arctypeDescribe,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.model.mysql.cms.TbCmsArctype">
    update tb_cms_arctype
    <set>
      <if test="appId != null">
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null">
        uuid = #{uuid,jdbcType=CHAR},
      </if>
      <if test="typeCode != null">
        type_code = #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="upperId != null">
        upper_id = #{upperId,jdbcType=INTEGER},
      </if>
      <if test="arctypeSort != null">
        arctype_sort = #{arctypeSort,jdbcType=INTEGER},
      </if>
      <if test="arctypePic != null">
        arctype_pic = #{arctypePic,jdbcType=VARCHAR},
      </if>
      <if test="carouselImage != null">
        carousel_image = #{carouselImage,jdbcType=VARCHAR},
      </if>
      <if test="belongClassName != null">
        belong_class_name = #{belongClassName,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="arctypeDescribe != null">
        arctype_describe = #{arctypeDescribe,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where arctype_id = #{arctypeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.model.mysql.cms.TbCmsArctype">
    update tb_cms_arctype
    set app_id = #{appId,jdbcType=INTEGER},
      uuid = #{uuid,jdbcType=CHAR},
      type_code = #{typeCode,jdbcType=VARCHAR},
      type_name = #{typeName,jdbcType=VARCHAR},
      upper_id = #{upperId,jdbcType=INTEGER},
      arctype_sort = #{arctypeSort,jdbcType=INTEGER},
      arctype_pic = #{arctypePic,jdbcType=VARCHAR},
      carousel_image = #{carouselImage,jdbcType=VARCHAR},
      belong_class_name = #{belongClassName,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      arctype_describe = #{arctypeDescribe,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where arctype_id = #{arctypeId,jdbcType=INTEGER}
  </update>
</mapper>