<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kooing.Interface.mysql.point.TbPointsCartMapper" >
  <resultMap id="BaseResultMap" type="com.kooing.model.mysql.point.TbPointsCart" >
    <id column="pcart_id" property="pcartId" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="pmember_id" property="pmemberId" jdbcType="INTEGER" />
    <result column="pgoods_id" property="pgoodsId" jdbcType="INTEGER" />
    <result column="pgoods_name" property="pgoodsName" jdbcType="CHAR" />
    <result column="pgoods_points" property="pgoodsPoints" jdbcType="INTEGER" />
    <result column="pgoods_choosenum" property="pgoodsChoosenum" jdbcType="INTEGER" />
    <result column="pgoods_image" property="pgoodsImage" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    pcart_id, uuid, app_id, pmember_id, pgoods_id, pgoods_name, pgoods_points, pgoods_choosenum, 
    pgoods_image, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_points_cart
    where pcart_id = #{pcartId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_points_cart
    where pcart_id = #{pcartId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kooing.model.mysql.point.TbPointsCart" >
    insert into tb_points_cart (pcart_id, uuid, app_id, 
      pmember_id, pgoods_id, pgoods_name, 
      pgoods_points, pgoods_choosenum, pgoods_image, 
      update_time)
    values (#{pcartId,jdbcType=INTEGER}, #{uuid,jdbcType=CHAR}, #{appId,jdbcType=INTEGER}, 
      #{pmemberId,jdbcType=INTEGER}, #{pgoodsId,jdbcType=INTEGER}, #{pgoodsName,jdbcType=CHAR}, 
      #{pgoodsPoints,jdbcType=INTEGER}, #{pgoodsChoosenum,jdbcType=INTEGER}, #{pgoodsImage,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.model.mysql.point.TbPointsCart" >
    insert into tb_points_cart
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pcartId != null" >
        pcart_id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="pmemberId != null" >
        pmember_id,
      </if>
      <if test="pgoodsId != null" >
        pgoods_id,
      </if>
      <if test="pgoodsName != null" >
        pgoods_name,
      </if>
      <if test="pgoodsPoints != null" >
        pgoods_points,
      </if>
      <if test="pgoodsChoosenum != null" >
        pgoods_choosenum,
      </if>
      <if test="pgoodsImage != null" >
        pgoods_image,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pcartId != null" >
        #{pcartId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="pmemberId != null" >
        #{pmemberId,jdbcType=INTEGER},
      </if>
      <if test="pgoodsId != null" >
        #{pgoodsId,jdbcType=INTEGER},
      </if>
      <if test="pgoodsName != null" >
        #{pgoodsName,jdbcType=CHAR},
      </if>
      <if test="pgoodsPoints != null" >
        #{pgoodsPoints,jdbcType=INTEGER},
      </if>
      <if test="pgoodsChoosenum != null" >
        #{pgoodsChoosenum,jdbcType=INTEGER},
      </if>
      <if test="pgoodsImage != null" >
        #{pgoodsImage,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.model.mysql.point.TbPointsCart" >
    update tb_points_cart
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="pmemberId != null" >
        pmember_id = #{pmemberId,jdbcType=INTEGER},
      </if>
      <if test="pgoodsId != null" >
        pgoods_id = #{pgoodsId,jdbcType=INTEGER},
      </if>
      <if test="pgoodsName != null" >
        pgoods_name = #{pgoodsName,jdbcType=CHAR},
      </if>
      <if test="pgoodsPoints != null" >
        pgoods_points = #{pgoodsPoints,jdbcType=INTEGER},
      </if>
      <if test="pgoodsChoosenum != null" >
        pgoods_choosenum = #{pgoodsChoosenum,jdbcType=INTEGER},
      </if>
      <if test="pgoodsImage != null" >
        pgoods_image = #{pgoodsImage,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where pcart_id = #{pcartId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.model.mysql.point.TbPointsCart" >
    update tb_points_cart
    set uuid = #{uuid,jdbcType=CHAR},
      app_id = #{appId,jdbcType=INTEGER},
      pmember_id = #{pmemberId,jdbcType=INTEGER},
      pgoods_id = #{pgoodsId,jdbcType=INTEGER},
      pgoods_name = #{pgoodsName,jdbcType=CHAR},
      pgoods_points = #{pgoodsPoints,jdbcType=INTEGER},
      pgoods_choosenum = #{pgoodsChoosenum,jdbcType=INTEGER},
      pgoods_image = #{pgoodsImage,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where pcart_id = #{pcartId,jdbcType=INTEGER}
  </update>
</mapper>