<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kooing.Interface.mysql.point.TbPointsOrderaddressMapper" >
  <resultMap id="BaseResultMap" type="com.kooing.model.mysql.point.TbPointsOrderaddress" >
    <id column="point_oaid" property="pointOaid" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="point_orderid" property="pointOrderid" jdbcType="INTEGER" />
    <result column="point_truename" property="pointTruename" jdbcType="VARCHAR" />
    <result column="point_areaid" property="pointAreaid" jdbcType="INTEGER" />
    <result column="point_areainfo" property="pointAreainfo" jdbcType="VARCHAR" />
    <result column="point_address" property="pointAddress" jdbcType="VARCHAR" />
    <result column="point_zipcode" property="pointZipcode" jdbcType="VARCHAR" />
    <result column="point_telphone" property="pointTelphone" jdbcType="VARCHAR" />
    <result column="point_mobphone" property="pointMobphone" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    point_oaid, uuid, app_id, point_orderid, point_truename, point_areaid, point_areainfo, 
    point_address, point_zipcode, point_telphone, point_mobphone, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_points_orderaddress
    where point_oaid = #{pointOaid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_points_orderaddress
    where point_oaid = #{pointOaid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kooing.model.mysql.point.TbPointsOrderaddress" >
    insert into tb_points_orderaddress (point_oaid, uuid, app_id, 
      point_orderid, point_truename, point_areaid, 
      point_areainfo, point_address, point_zipcode, 
      point_telphone, point_mobphone, update_time
      )
    values (#{pointOaid,jdbcType=INTEGER}, #{uuid,jdbcType=CHAR}, #{appId,jdbcType=INTEGER}, 
      #{pointOrderid,jdbcType=INTEGER}, #{pointTruename,jdbcType=VARCHAR}, #{pointAreaid,jdbcType=INTEGER}, 
      #{pointAreainfo,jdbcType=VARCHAR}, #{pointAddress,jdbcType=VARCHAR}, #{pointZipcode,jdbcType=VARCHAR}, 
      #{pointTelphone,jdbcType=VARCHAR}, #{pointMobphone,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.model.mysql.point.TbPointsOrderaddress" >
    insert into tb_points_orderaddress
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pointOaid != null" >
        point_oaid,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="pointOrderid != null" >
        point_orderid,
      </if>
      <if test="pointTruename != null" >
        point_truename,
      </if>
      <if test="pointAreaid != null" >
        point_areaid,
      </if>
      <if test="pointAreainfo != null" >
        point_areainfo,
      </if>
      <if test="pointAddress != null" >
        point_address,
      </if>
      <if test="pointZipcode != null" >
        point_zipcode,
      </if>
      <if test="pointTelphone != null" >
        point_telphone,
      </if>
      <if test="pointMobphone != null" >
        point_mobphone,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pointOaid != null" >
        #{pointOaid,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="pointOrderid != null" >
        #{pointOrderid,jdbcType=INTEGER},
      </if>
      <if test="pointTruename != null" >
        #{pointTruename,jdbcType=VARCHAR},
      </if>
      <if test="pointAreaid != null" >
        #{pointAreaid,jdbcType=INTEGER},
      </if>
      <if test="pointAreainfo != null" >
        #{pointAreainfo,jdbcType=VARCHAR},
      </if>
      <if test="pointAddress != null" >
        #{pointAddress,jdbcType=VARCHAR},
      </if>
      <if test="pointZipcode != null" >
        #{pointZipcode,jdbcType=VARCHAR},
      </if>
      <if test="pointTelphone != null" >
        #{pointTelphone,jdbcType=VARCHAR},
      </if>
      <if test="pointMobphone != null" >
        #{pointMobphone,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.model.mysql.point.TbPointsOrderaddress" >
    update tb_points_orderaddress
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=CHAR},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="pointOrderid != null" >
        point_orderid = #{pointOrderid,jdbcType=INTEGER},
      </if>
      <if test="pointTruename != null" >
        point_truename = #{pointTruename,jdbcType=VARCHAR},
      </if>
      <if test="pointAreaid != null" >
        point_areaid = #{pointAreaid,jdbcType=INTEGER},
      </if>
      <if test="pointAreainfo != null" >
        point_areainfo = #{pointAreainfo,jdbcType=VARCHAR},
      </if>
      <if test="pointAddress != null" >
        point_address = #{pointAddress,jdbcType=VARCHAR},
      </if>
      <if test="pointZipcode != null" >
        point_zipcode = #{pointZipcode,jdbcType=VARCHAR},
      </if>
      <if test="pointTelphone != null" >
        point_telphone = #{pointTelphone,jdbcType=VARCHAR},
      </if>
      <if test="pointMobphone != null" >
        point_mobphone = #{pointMobphone,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where point_oaid = #{pointOaid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.model.mysql.point.TbPointsOrderaddress" >
    update tb_points_orderaddress
    set uuid = #{uuid,jdbcType=CHAR},
      app_id = #{appId,jdbcType=INTEGER},
      point_orderid = #{pointOrderid,jdbcType=INTEGER},
      point_truename = #{pointTruename,jdbcType=VARCHAR},
      point_areaid = #{pointAreaid,jdbcType=INTEGER},
      point_areainfo = #{pointAreainfo,jdbcType=VARCHAR},
      point_address = #{pointAddress,jdbcType=VARCHAR},
      point_zipcode = #{pointZipcode,jdbcType=VARCHAR},
      point_telphone = #{pointTelphone,jdbcType=VARCHAR},
      point_mobphone = #{pointMobphone,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where point_oaid = #{pointOaid,jdbcType=INTEGER}
  </update>
</mapper>