<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kooing.Interface.mysql.activity.TbActivityRegMRuleMapper" >
  <resultMap id="BaseResultMap" type="com.kooing.model.mysql.activity.TbActivityRegMRule" >
    <id column="rule_id" property="ruleId" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="reg_id" property="regId" jdbcType="INTEGER" />
    <result column="activity_id" property="activityId" jdbcType="INTEGER" />
    <result column="shop_id" property="shopId" jdbcType="INTEGER" />
    <result column="activity_type" property="activityType" jdbcType="INTEGER" />
    <result column="condition_value" property="conditionValue" jdbcType="DOUBLE" />
    <result column="sale_discount" property="saleDiscount" jdbcType="DOUBLE" />
    <result column="isfree_freight" property="isfreeFreight" jdbcType="INTEGER" />
    <result column="ishave_gift" property="ishaveGift" jdbcType="INTEGER" />
    <result column="extend_filed" property="extendFiled" jdbcType="VARCHAR" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    rule_id, uuid, reg_id, activity_id, shop_id, activity_type, condition_value, sale_discount, 
    isfree_freight, ishave_gift, extend_filed, app_id, state, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_activity_reg_m_rule
    where rule_id = #{ruleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_activity_reg_m_rule
    where rule_id = #{ruleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kooing.model.mysql.activity.TbActivityRegMRule" >
    insert into tb_activity_reg_m_rule (rule_id, uuid, reg_id, 
      activity_id, shop_id, activity_type, 
      condition_value, sale_discount, isfree_freight, 
      ishave_gift, extend_filed, app_id, 
      state, create_time)
    values (#{ruleId,jdbcType=INTEGER}, #{uuid,jdbcType=VARCHAR}, #{regId,jdbcType=INTEGER}, 
      #{activityId,jdbcType=INTEGER}, #{shopId,jdbcType=INTEGER}, #{activityType,jdbcType=INTEGER}, 
      #{conditionValue,jdbcType=DOUBLE}, #{saleDiscount,jdbcType=DOUBLE}, #{isfreeFreight,jdbcType=INTEGER}, 
      #{ishaveGift,jdbcType=INTEGER}, #{extendFiled,jdbcType=VARCHAR}, #{appId,jdbcType=INTEGER}, 
      #{state,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.model.mysql.activity.TbActivityRegMRule" >
    insert into tb_activity_reg_m_rule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ruleId != null" >
        rule_id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="regId != null" >
        reg_id,
      </if>
      <if test="activityId != null" >
        activity_id,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="activityType != null" >
        activity_type,
      </if>
      <if test="conditionValue != null" >
        condition_value,
      </if>
      <if test="saleDiscount != null" >
        sale_discount,
      </if>
      <if test="isfreeFreight != null" >
        isfree_freight,
      </if>
      <if test="ishaveGift != null" >
        ishave_gift,
      </if>
      <if test="extendFiled != null" >
        extend_filed,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ruleId != null" >
        #{ruleId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="regId != null" >
        #{regId,jdbcType=INTEGER},
      </if>
      <if test="activityId != null" >
        #{activityId,jdbcType=INTEGER},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="activityType != null" >
        #{activityType,jdbcType=INTEGER},
      </if>
      <if test="conditionValue != null" >
        #{conditionValue,jdbcType=DOUBLE},
      </if>
      <if test="saleDiscount != null" >
        #{saleDiscount,jdbcType=DOUBLE},
      </if>
      <if test="isfreeFreight != null" >
        #{isfreeFreight,jdbcType=INTEGER},
      </if>
      <if test="ishaveGift != null" >
        #{ishaveGift,jdbcType=INTEGER},
      </if>
      <if test="extendFiled != null" >
        #{extendFiled,jdbcType=VARCHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.model.mysql.activity.TbActivityRegMRule" >
    update tb_activity_reg_m_rule
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="regId != null" >
        reg_id = #{regId,jdbcType=INTEGER},
      </if>
      <if test="activityId != null" >
        activity_id = #{activityId,jdbcType=INTEGER},
      </if>
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=INTEGER},
      </if>
      <if test="activityType != null" >
        activity_type = #{activityType,jdbcType=INTEGER},
      </if>
      <if test="conditionValue != null" >
        condition_value = #{conditionValue,jdbcType=DOUBLE},
      </if>
      <if test="saleDiscount != null" >
        sale_discount = #{saleDiscount,jdbcType=DOUBLE},
      </if>
      <if test="isfreeFreight != null" >
        isfree_freight = #{isfreeFreight,jdbcType=INTEGER},
      </if>
      <if test="ishaveGift != null" >
        ishave_gift = #{ishaveGift,jdbcType=INTEGER},
      </if>
      <if test="extendFiled != null" >
        extend_filed = #{extendFiled,jdbcType=VARCHAR},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where rule_id = #{ruleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.model.mysql.activity.TbActivityRegMRule" >
    update tb_activity_reg_m_rule
    set uuid = #{uuid,jdbcType=VARCHAR},
      reg_id = #{regId,jdbcType=INTEGER},
      activity_id = #{activityId,jdbcType=INTEGER},
      shop_id = #{shopId,jdbcType=INTEGER},
      activity_type = #{activityType,jdbcType=INTEGER},
      condition_value = #{conditionValue,jdbcType=DOUBLE},
      sale_discount = #{saleDiscount,jdbcType=DOUBLE},
      isfree_freight = #{isfreeFreight,jdbcType=INTEGER},
      ishave_gift = #{ishaveGift,jdbcType=INTEGER},
      extend_filed = #{extendFiled,jdbcType=VARCHAR},
      app_id = #{appId,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where rule_id = #{ruleId,jdbcType=INTEGER}
  </update>
</mapper>