<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kooing.Interface.mysql.activity.TbActivityRegGoodsRuleMapper" >
  <resultMap id="BaseResultMap" type="com.kooing.model.mysql.activity.TbActivityRegGoodsRule" >
    <id column="rule_id" property="ruleId" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="reg_id" property="regId" jdbcType="INTEGER" />
    <result column="activity_id" property="activityId" jdbcType="INTEGER" />
    <result column="shop_id" property="shopId" jdbcType="INTEGER" />
    <result column="activity_type" property="activityType" jdbcType="INTEGER" />
    <result column="good_id" property="goodId" jdbcType="BIGINT" />
    <result column="auction_id" property="auctionId" jdbcType="BIGINT" />
    <result column="auction_state" property="auctionState" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="cust_good_name" property="custGoodName" jdbcType="VARCHAR" />
    <result column="sort_num" property="sortNum" jdbcType="INTEGER" />
    <result column="limit_buy_num" property="limitBuyNum" jdbcType="INTEGER" />
    <result column="group_people_num" property="groupPeopleNum" jdbcType="INTEGER" />
    <result column="sale_discount" property="saleDiscount" jdbcType="DOUBLE" />
    <result column="fail_msg" property="failMsg" jdbcType="VARCHAR" />
    <result column="good_photo" property="goodPhoto" jdbcType="VARCHAR" />
    <result column="all_shop_flag" property="allShopFlag" jdbcType="INTEGER" />
    <result column="goods_detail_id" property="goodsDetailId" jdbcType="INTEGER" />
    <result column="transport_id" property="transportId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    rule_id, uuid, app_id, reg_id, activity_id, shop_id, activity_type, good_id, auction_id, 
    auction_state, state, create_time, cust_good_name, sort_num, limit_buy_num, group_people_num, 
    sale_discount, fail_msg, good_photo, all_shop_flag, goods_detail_id, transport_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_activity_reg_goods_rule
    where rule_id = #{ruleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_activity_reg_goods_rule
    where rule_id = #{ruleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kooing.model.mysql.activity.TbActivityRegGoodsRule" >
    insert into tb_activity_reg_goods_rule (rule_id, uuid, app_id, 
      reg_id, activity_id, shop_id, 
      activity_type, good_id, auction_id, 
      auction_state, state, create_time, 
      cust_good_name, sort_num, limit_buy_num, 
      group_people_num, sale_discount, fail_msg, 
      good_photo, all_shop_flag, goods_detail_id, 
      transport_id)
    values (#{ruleId,jdbcType=INTEGER}, #{uuid,jdbcType=VARCHAR}, #{appId,jdbcType=INTEGER}, 
      #{regId,jdbcType=INTEGER}, #{activityId,jdbcType=INTEGER}, #{shopId,jdbcType=INTEGER}, 
      #{activityType,jdbcType=INTEGER}, #{goodId,jdbcType=BIGINT}, #{auctionId,jdbcType=BIGINT}, 
      #{auctionState,jdbcType=INTEGER}, #{state,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{custGoodName,jdbcType=VARCHAR}, #{sortNum,jdbcType=INTEGER}, #{limitBuyNum,jdbcType=INTEGER}, 
      #{groupPeopleNum,jdbcType=INTEGER}, #{saleDiscount,jdbcType=DOUBLE}, #{failMsg,jdbcType=VARCHAR}, 
      #{goodPhoto,jdbcType=VARCHAR}, #{allShopFlag,jdbcType=INTEGER}, #{goodsDetailId,jdbcType=INTEGER}, 
      #{transportId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.model.mysql.activity.TbActivityRegGoodsRule" >
    insert into tb_activity_reg_goods_rule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ruleId != null" >
        rule_id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="regId != null" >
        reg_id,
      </if>
      <if test="activityId != null" >
        activity_id,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="activityType != null" >
        activity_type,
      </if>
      <if test="goodId != null" >
        good_id,
      </if>
      <if test="auctionId != null" >
        auction_id,
      </if>
      <if test="auctionState != null" >
        auction_state,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="custGoodName != null" >
        cust_good_name,
      </if>
      <if test="sortNum != null" >
        sort_num,
      </if>
      <if test="limitBuyNum != null" >
        limit_buy_num,
      </if>
      <if test="groupPeopleNum != null" >
        group_people_num,
      </if>
      <if test="saleDiscount != null" >
        sale_discount,
      </if>
      <if test="failMsg != null" >
        fail_msg,
      </if>
      <if test="goodPhoto != null" >
        good_photo,
      </if>
      <if test="allShopFlag != null" >
        all_shop_flag,
      </if>
      <if test="goodsDetailId != null" >
        goods_detail_id,
      </if>
      <if test="transportId != null" >
        transport_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ruleId != null" >
        #{ruleId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="regId != null" >
        #{regId,jdbcType=INTEGER},
      </if>
      <if test="activityId != null" >
        #{activityId,jdbcType=INTEGER},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="activityType != null" >
        #{activityType,jdbcType=INTEGER},
      </if>
      <if test="goodId != null" >
        #{goodId,jdbcType=BIGINT},
      </if>
      <if test="auctionId != null" >
        #{auctionId,jdbcType=BIGINT},
      </if>
      <if test="auctionState != null" >
        #{auctionState,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="custGoodName != null" >
        #{custGoodName,jdbcType=VARCHAR},
      </if>
      <if test="sortNum != null" >
        #{sortNum,jdbcType=INTEGER},
      </if>
      <if test="limitBuyNum != null" >
        #{limitBuyNum,jdbcType=INTEGER},
      </if>
      <if test="groupPeopleNum != null" >
        #{groupPeopleNum,jdbcType=INTEGER},
      </if>
      <if test="saleDiscount != null" >
        #{saleDiscount,jdbcType=DOUBLE},
      </if>
      <if test="failMsg != null" >
        #{failMsg,jdbcType=VARCHAR},
      </if>
      <if test="goodPhoto != null" >
        #{goodPhoto,jdbcType=VARCHAR},
      </if>
      <if test="allShopFlag != null" >
        #{allShopFlag,jdbcType=INTEGER},
      </if>
      <if test="goodsDetailId != null" >
        #{goodsDetailId,jdbcType=INTEGER},
      </if>
      <if test="transportId != null" >
        #{transportId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.model.mysql.activity.TbActivityRegGoodsRule" >
    update tb_activity_reg_goods_rule
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="regId != null" >
        reg_id = #{regId,jdbcType=INTEGER},
      </if>
      <if test="activityId != null" >
        activity_id = #{activityId,jdbcType=INTEGER},
      </if>
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=INTEGER},
      </if>
      <if test="activityType != null" >
        activity_type = #{activityType,jdbcType=INTEGER},
      </if>
      <if test="goodId != null" >
        good_id = #{goodId,jdbcType=BIGINT},
      </if>
      <if test="auctionId != null" >
        auction_id = #{auctionId,jdbcType=BIGINT},
      </if>
      <if test="auctionState != null" >
        auction_state = #{auctionState,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="custGoodName != null" >
        cust_good_name = #{custGoodName,jdbcType=VARCHAR},
      </if>
      <if test="sortNum != null" >
        sort_num = #{sortNum,jdbcType=INTEGER},
      </if>
      <if test="limitBuyNum != null" >
        limit_buy_num = #{limitBuyNum,jdbcType=INTEGER},
      </if>
      <if test="groupPeopleNum != null" >
        group_people_num = #{groupPeopleNum,jdbcType=INTEGER},
      </if>
      <if test="saleDiscount != null" >
        sale_discount = #{saleDiscount,jdbcType=DOUBLE},
      </if>
      <if test="failMsg != null" >
        fail_msg = #{failMsg,jdbcType=VARCHAR},
      </if>
      <if test="goodPhoto != null" >
        good_photo = #{goodPhoto,jdbcType=VARCHAR},
      </if>
      <if test="allShopFlag != null" >
        all_shop_flag = #{allShopFlag,jdbcType=INTEGER},
      </if>
      <if test="goodsDetailId != null" >
        goods_detail_id = #{goodsDetailId,jdbcType=INTEGER},
      </if>
      <if test="transportId != null" >
        transport_id = #{transportId,jdbcType=INTEGER},
      </if>
    </set>
    where rule_id = #{ruleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.model.mysql.activity.TbActivityRegGoodsRule" >
    update tb_activity_reg_goods_rule
    set uuid = #{uuid,jdbcType=VARCHAR},
      app_id = #{appId,jdbcType=INTEGER},
      reg_id = #{regId,jdbcType=INTEGER},
      activity_id = #{activityId,jdbcType=INTEGER},
      shop_id = #{shopId,jdbcType=INTEGER},
      activity_type = #{activityType,jdbcType=INTEGER},
      good_id = #{goodId,jdbcType=BIGINT},
      auction_id = #{auctionId,jdbcType=BIGINT},
      auction_state = #{auctionState,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      cust_good_name = #{custGoodName,jdbcType=VARCHAR},
      sort_num = #{sortNum,jdbcType=INTEGER},
      limit_buy_num = #{limitBuyNum,jdbcType=INTEGER},
      group_people_num = #{groupPeopleNum,jdbcType=INTEGER},
      sale_discount = #{saleDiscount,jdbcType=DOUBLE},
      fail_msg = #{failMsg,jdbcType=VARCHAR},
      good_photo = #{goodPhoto,jdbcType=VARCHAR},
      all_shop_flag = #{allShopFlag,jdbcType=INTEGER},
      goods_detail_id = #{goodsDetailId,jdbcType=INTEGER},
      transport_id = #{transportId,jdbcType=INTEGER}
    where rule_id = #{ruleId,jdbcType=INTEGER}
  </update>
</mapper>