<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kooing.Interface.mysql.activity.TbSysActivityModuleMapper" >
  <resultMap id="BaseResultMap" type="com.kooing.model.mysql.activity.TbSysActivityModule" >
    <id column="module_id" property="moduleId" jdbcType="INTEGER" />
    <result column="module_name" property="moduleName" jdbcType="VARCHAR" />
    <result column="module_type" property="moduleType" jdbcType="VARCHAR" />
    <result column="module_classname" property="moduleClassname" jdbcType="VARCHAR" />
    <result column="module_desc" property="moduleDesc" jdbcType="VARCHAR" />
    <result column="isneed_verify" property="isneedVerify" jdbcType="INTEGER" />
    <result column="isneed_reg" property="isneedReg" jdbcType="INTEGER" />
    <result column="eff_date" property="effDate" jdbcType="TIMESTAMP" />
    <result column="exp_date" property="expDate" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="is_extend_module" property="isExtendModule" jdbcType="INTEGER" />
    <result column="icon_class" property="iconClass" jdbcType="VARCHAR" />
    <result column="img_path" property="imgPath" jdbcType="VARCHAR" />
    <result column="is_app_private" property="isAppPrivate" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="is_sales_promotion" property="isSalesPromotion" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.kooing.model.mysql.activity.TbSysActivityModule" extends="BaseResultMap" >
    <result column="protocol_text" property="protocolText" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    module_id, module_name, module_type, module_classname, module_desc, isneed_verify, 
    isneed_reg, eff_date, exp_date, state, update_time, create_time, is_extend_module, 
    icon_class, img_path, is_app_private, sort, is_sales_promotion
  </sql>
  <sql id="Blob_Column_List" >
    protocol_text
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_sys_activity_module
    where module_id = #{moduleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_sys_activity_module
    where module_id = #{moduleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kooing.model.mysql.activity.TbSysActivityModule" >
    insert into tb_sys_activity_module (module_id, module_name, module_type, 
      module_classname, module_desc, isneed_verify, 
      isneed_reg, eff_date, exp_date, 
      state, update_time, create_time, 
      is_extend_module, icon_class, img_path, 
      is_app_private, sort, is_sales_promotion, 
      protocol_text)
    values (#{moduleId,jdbcType=INTEGER}, #{moduleName,jdbcType=VARCHAR}, #{moduleType,jdbcType=VARCHAR}, 
      #{moduleClassname,jdbcType=VARCHAR}, #{moduleDesc,jdbcType=VARCHAR}, #{isneedVerify,jdbcType=INTEGER}, 
      #{isneedReg,jdbcType=INTEGER}, #{effDate,jdbcType=TIMESTAMP}, #{expDate,jdbcType=TIMESTAMP}, 
      #{state,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{isExtendModule,jdbcType=INTEGER}, #{iconClass,jdbcType=VARCHAR}, #{imgPath,jdbcType=VARCHAR}, 
      #{isAppPrivate,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{isSalesPromotion,jdbcType=VARCHAR}, 
      #{protocolText,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.model.mysql.activity.TbSysActivityModule" >
    insert into tb_sys_activity_module
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="moduleId != null" >
        module_id,
      </if>
      <if test="moduleName != null" >
        module_name,
      </if>
      <if test="moduleType != null" >
        module_type,
      </if>
      <if test="moduleClassname != null" >
        module_classname,
      </if>
      <if test="moduleDesc != null" >
        module_desc,
      </if>
      <if test="isneedVerify != null" >
        isneed_verify,
      </if>
      <if test="isneedReg != null" >
        isneed_reg,
      </if>
      <if test="effDate != null" >
        eff_date,
      </if>
      <if test="expDate != null" >
        exp_date,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="isExtendModule != null" >
        is_extend_module,
      </if>
      <if test="iconClass != null" >
        icon_class,
      </if>
      <if test="imgPath != null" >
        img_path,
      </if>
      <if test="isAppPrivate != null" >
        is_app_private,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="isSalesPromotion != null" >
        is_sales_promotion,
      </if>
      <if test="protocolText != null" >
        protocol_text,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="moduleId != null" >
        #{moduleId,jdbcType=INTEGER},
      </if>
      <if test="moduleName != null" >
        #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="moduleType != null" >
        #{moduleType,jdbcType=VARCHAR},
      </if>
      <if test="moduleClassname != null" >
        #{moduleClassname,jdbcType=VARCHAR},
      </if>
      <if test="moduleDesc != null" >
        #{moduleDesc,jdbcType=VARCHAR},
      </if>
      <if test="isneedVerify != null" >
        #{isneedVerify,jdbcType=INTEGER},
      </if>
      <if test="isneedReg != null" >
        #{isneedReg,jdbcType=INTEGER},
      </if>
      <if test="effDate != null" >
        #{effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expDate != null" >
        #{expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isExtendModule != null" >
        #{isExtendModule,jdbcType=INTEGER},
      </if>
      <if test="iconClass != null" >
        #{iconClass,jdbcType=VARCHAR},
      </if>
      <if test="imgPath != null" >
        #{imgPath,jdbcType=VARCHAR},
      </if>
      <if test="isAppPrivate != null" >
        #{isAppPrivate,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="isSalesPromotion != null" >
        #{isSalesPromotion,jdbcType=VARCHAR},
      </if>
      <if test="protocolText != null" >
        #{protocolText,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.model.mysql.activity.TbSysActivityModule" >
    update tb_sys_activity_module
    <set >
      <if test="moduleName != null" >
        module_name = #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="moduleType != null" >
        module_type = #{moduleType,jdbcType=VARCHAR},
      </if>
      <if test="moduleClassname != null" >
        module_classname = #{moduleClassname,jdbcType=VARCHAR},
      </if>
      <if test="moduleDesc != null" >
        module_desc = #{moduleDesc,jdbcType=VARCHAR},
      </if>
      <if test="isneedVerify != null" >
        isneed_verify = #{isneedVerify,jdbcType=INTEGER},
      </if>
      <if test="isneedReg != null" >
        isneed_reg = #{isneedReg,jdbcType=INTEGER},
      </if>
      <if test="effDate != null" >
        eff_date = #{effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expDate != null" >
        exp_date = #{expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isExtendModule != null" >
        is_extend_module = #{isExtendModule,jdbcType=INTEGER},
      </if>
      <if test="iconClass != null" >
        icon_class = #{iconClass,jdbcType=VARCHAR},
      </if>
      <if test="imgPath != null" >
        img_path = #{imgPath,jdbcType=VARCHAR},
      </if>
      <if test="isAppPrivate != null" >
        is_app_private = #{isAppPrivate,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="isSalesPromotion != null" >
        is_sales_promotion = #{isSalesPromotion,jdbcType=VARCHAR},
      </if>
      <if test="protocolText != null" >
        protocol_text = #{protocolText,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where module_id = #{moduleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.kooing.model.mysql.activity.TbSysActivityModule" >
    update tb_sys_activity_module
    set module_name = #{moduleName,jdbcType=VARCHAR},
      module_type = #{moduleType,jdbcType=VARCHAR},
      module_classname = #{moduleClassname,jdbcType=VARCHAR},
      module_desc = #{moduleDesc,jdbcType=VARCHAR},
      isneed_verify = #{isneedVerify,jdbcType=INTEGER},
      isneed_reg = #{isneedReg,jdbcType=INTEGER},
      eff_date = #{effDate,jdbcType=TIMESTAMP},
      exp_date = #{expDate,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_extend_module = #{isExtendModule,jdbcType=INTEGER},
      icon_class = #{iconClass,jdbcType=VARCHAR},
      img_path = #{imgPath,jdbcType=VARCHAR},
      is_app_private = #{isAppPrivate,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      is_sales_promotion = #{isSalesPromotion,jdbcType=VARCHAR},
      protocol_text = #{protocolText,jdbcType=LONGVARCHAR}
    where module_id = #{moduleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.model.mysql.activity.TbSysActivityModule" >
    update tb_sys_activity_module
    set module_name = #{moduleName,jdbcType=VARCHAR},
      module_type = #{moduleType,jdbcType=VARCHAR},
      module_classname = #{moduleClassname,jdbcType=VARCHAR},
      module_desc = #{moduleDesc,jdbcType=VARCHAR},
      isneed_verify = #{isneedVerify,jdbcType=INTEGER},
      isneed_reg = #{isneedReg,jdbcType=INTEGER},
      eff_date = #{effDate,jdbcType=TIMESTAMP},
      exp_date = #{expDate,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_extend_module = #{isExtendModule,jdbcType=INTEGER},
      icon_class = #{iconClass,jdbcType=VARCHAR},
      img_path = #{imgPath,jdbcType=VARCHAR},
      is_app_private = #{isAppPrivate,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      is_sales_promotion = #{isSalesPromotion,jdbcType=VARCHAR}
    where module_id = #{moduleId,jdbcType=INTEGER}
  </update>
</mapper>