<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kooing.Interface.mysql.activity.TbSysActivityModuleRuleMapper" >
  <resultMap id="BaseResultMap" type="com.kooing.model.mysql.activity.TbSysActivityModuleRule" >
    <result column="attr_id" property="attrId" jdbcType="INTEGER" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="module_id" property="moduleId" jdbcType="INTEGER" />
    <result column="attr_code" property="attrCode" jdbcType="VARCHAR" />
    <result column="attr_value" property="attrValue" jdbcType="VARCHAR" />
    <result column="attr_name" property="attrName" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="com.kooing.model.mysql.activity.TbSysActivityModuleRule" >
    insert into tb_sys_activity_module_rule (attr_id, app_id, module_id, 
      attr_code, attr_value, attr_name, 
      state)
    values (#{attrId,jdbcType=INTEGER}, #{appId,jdbcType=INTEGER}, #{moduleId,jdbcType=INTEGER}, 
      #{attrCode,jdbcType=VARCHAR}, #{attrValue,jdbcType=VARCHAR}, #{attrName,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.model.mysql.activity.TbSysActivityModuleRule" >
    insert into tb_sys_activity_module_rule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="attrId != null" >
        attr_id,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="moduleId != null" >
        module_id,
      </if>
      <if test="attrCode != null" >
        attr_code,
      </if>
      <if test="attrValue != null" >
        attr_value,
      </if>
      <if test="attrName != null" >
        attr_name,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="attrId != null" >
        #{attrId,jdbcType=INTEGER},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="moduleId != null" >
        #{moduleId,jdbcType=INTEGER},
      </if>
      <if test="attrCode != null" >
        #{attrCode,jdbcType=VARCHAR},
      </if>
      <if test="attrValue != null" >
        #{attrValue,jdbcType=VARCHAR},
      </if>
      <if test="attrName != null" >
        #{attrName,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>