<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kooing.Interface.mysql.foods.TbFoodsShareMapper" >
  <resultMap id="BaseResultMap" type="com.kooing.model.mysql.foods.TbFoodsShare" >
    <id column="fs_id" property="fsId" jdbcType="BIGINT" />
    <result column="foods_id" property="foodsId" jdbcType="BIGINT" />
    <result column="ft_id" property="ftId" jdbcType="INTEGER" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    fs_id, foods_id, ft_id, app_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_foods_share
    where fs_id = #{fsId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_foods_share
    where fs_id = #{fsId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.kooing.model.mysql.foods.TbFoodsShare" >
    insert into tb_foods_share (fs_id, foods_id, ft_id, 
      app_id)
    values (#{fsId,jdbcType=BIGINT}, #{foodsId,jdbcType=BIGINT}, #{ftId,jdbcType=INTEGER}, 
      #{appId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.kooing.model.mysql.foods.TbFoodsShare" >
    insert into tb_foods_share
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fsId != null" >
        fs_id,
      </if>
      <if test="foodsId != null" >
        foods_id,
      </if>
      <if test="ftId != null" >
        ft_id,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fsId != null" >
        #{fsId,jdbcType=BIGINT},
      </if>
      <if test="foodsId != null" >
        #{foodsId,jdbcType=BIGINT},
      </if>
      <if test="ftId != null" >
        #{ftId,jdbcType=INTEGER},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kooing.model.mysql.foods.TbFoodsShare" >
    update tb_foods_share
    <set >
      <if test="foodsId != null" >
        foods_id = #{foodsId,jdbcType=BIGINT},
      </if>
      <if test="ftId != null" >
        ft_id = #{ftId,jdbcType=INTEGER},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=INTEGER},
      </if>
    </set>
    where fs_id = #{fsId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kooing.model.mysql.foods.TbFoodsShare" >
    update tb_foods_share
    set foods_id = #{foodsId,jdbcType=BIGINT},
      ft_id = #{ftId,jdbcType=INTEGER},
      app_id = #{appId,jdbcType=INTEGER}
    where fs_id = #{fsId,jdbcType=BIGINT}
  </update>
</mapper>